
@import "caseStudy_detail/caseStudy_detail.scss";
@import "appbranding/appbranding.scss";
.cs-service{
    max-width: 1440px;
        margin: 0 auto;
}
.CSservice{
    display: flex;
    // margin: 103px 317px 0 317px;
    justify-content: center;
    &__box{
        // background: #22a98b; 
        width: 220px;
        margin: 17px;
        text-align: right;
        padding: 10px 15px 20px;
        
    }
    .boxHeading{
        text-align: left;
        padding: 33px 0 5px;;  
        color: #fff;  
    }
    .boxPara{
        text-align: left;
        color: #fff; 
        padding-right: 20px;
    }
}
.CSservice1{
    margin: 0 215px;
    img{
        width: 100%;
        height: 100%;
    }
    
}
.CSservice11{
    margin: 0 215px;
    img{
        width: 100%;
        height: 100%;
    }
    
}
.caseStudy__bgImg2 {
    margin: 120px 0;
    min-height: 100%;
    padding: 50px 0 50px 40px;
    background-size: 100% 100%;
}
.headingBold{
    color: #33c2f8;
}
.color{
    color: #fff;
}
.caseStudy__content4 {
    width: 57%;
}
.CSservice__box1 {
    position: absolute;
    right: 11%;
    top: 40%;
    width: 258px;
    // background: #22a98b;
    padding: 72px 35px 30px;
}
.CSService2{
    margin: 0 256px 40px 165px;
}
.CSService3{
    margin: 0 165px;
    img{
        width: 100%;
    }
}
.caseStudy__bgImg {
    margin-bottom: 120px;
    min-height: 100%;
    padding: 50px 0;
    width: 75%;
}
.caseStudy__content2 {
    width: 81%;
    padding-left: 150px;
}
.caseStudy .SceneImg img {
    width: 30%;
    height: 65%;
    top: 15%;
}
.CSService4{
    margin: 120px 170px 0 170px;
    .padding-left{
        padding-left: 80px !important;
    }
    .padding-right{
        padding-right: 80px !important;
    }
    .padding-bottom{
        padding-bottom: 80px;
    }
    .cs-allign{
        padding-top: 40px !important;
    }
    img{
        width: 100%;
    }
}
.CSService5{
    margin: 80px 0 0 0;
    img{
        width: 100%;
    }
}
.CSService6{
    text-align: center;
}
.CSService7{
    margin: 150px 0 0; 
    img{
        padding-bottom: 40px;
        width: 100%
    }
}
.bg5{
    min-height: 436px !important;
}
.box{
    top: 26% !important;
    width: 258px !important;
    padding: 70px 25px 30px !important;
}
.csLightHead {
    color: #5d6a6f;
    margin-top: 50px;
}
.perceive{
    padding-bottom: 20px;
}
.pink{
    background: #ff6868;
}
.green{
    background: #22a98b;
}
.scenImg{
    max-height: 370px;
}
.CSengima{
    margin-top: 10px !important;
}
.enigma_bg {
    width: 85%;
}
.padding-cls{
    padding-bottom: 20px;
}
@media screen and (min-width: 1365px){
    margin-top:0px;
}
@media screen and (max-width: 1365px){
    .CSservice{
         margin: 96px 180px;
         margin-top:0px;
        &__box{ 
            width: 185px;
            margin: 15px;
            padding: 10px 15px;
        }
        .boxHeading{
            padding: 25px 0 5px;  
        }
        .boxPara{
            font-size: 14px;
            padding: 0;
        }
    }
    .CSservice1{
        margin: 0 124px;
        
    }
    .CSservice11{
        margin: 0 124px;
        
    }
    .caseStudy__bgImg2 {
        min-height: 100%;
        padding: 50px 0;
    }
    .caseStudy__content4 {
        width: 63%;
    }
    .CSservice__box1 {
        width: 219px;
        padding: 53px 25px;
    }
    .CSService2{
        margin: 0 120px 32px 41px;
    }
    .CSService3{
        margin: 0 42px;
    }
    .caseStudy__bgImg {
        min-height: 100%;
        margin-top: 120px;
        width: 75%;
    }
    .caseStudy__content2 {
        width: 81%;
        padding-left: 42px;
    }
    .caseStudy .SceneImg img {
        width: 30%;
        height: 71%;
        
    }
    .CSService4{
        margin: 96px 44px 0 44px;
        .padding-bottom{
            padding-bottom: 60px;
        }
        .cs-allign{
            padding-bottom: 25px;
        }
    }
    .CSService5{
        margin: 64px 0 0 0;
    }
    .CSService7{
        margin: 40px 0 0;
        img{
            padding-bottom: 32px;
            width: 100%
        }
    }

    .bg5{
        min-height: 355px !important;
    }
    .box{
        width: 215px !important;
        padding: 50px 20px 30px !important;
    }
    .scenImg{
        max-height: 320px;
    }
    .CSengima{
        font-size: 18px;
    }
    }

    @media screen and (max-width: 1023px){
        .CSservice{
            margin: 64px 100px;
            &__box{ 
                width: 145px;
                margin: 10px;
                padding: 10px;
            }
            .boxHeading{
                padding: 2px 0 5px; 
            }
            .boxPara{
                font-size: 12px;
            }
        }
        .caseStudy__content1 {
            margin: 80px 95px 80px 95px;
        }
        .CSservice1{
            margin: 0 95px;
            
        }
        .CSservice11{
            margin: 0 95px;
            
        }
        .caseStudy__bgImg2 {
            min-height: 100%;
            padding: 50px 0;
            margin: 80px 0;

        }
        .caseStudy__content4 {
            width: 67%;
        }
        .CSservice__box1 {
            width: 163px;
            padding: 40px 20px;
        }
        .CSService2{
            margin: 0 94px 24px 34px;
        }
        .CSService3{
            margin: 0 34px;
        }
        .caseStudy__bgImg {
            min-height: 100%;
            margin-top: 72px;
            margin: 80px 0;
        }
        .caseStudy__content2 {
            width: 81%;
            padding-left: 42px;
        }
        .caseStudy .SceneImg img {
            
                width: 31%;
                height: 71%;
            
        }
        .CSService4{
            margin: 64px 34px 0 34px;
            .padding-bottom{
                padding-bottom: 64px;
            }
            .cs-allign{
                padding-bottom: 18px;
            }
            .padding-left {
                padding-left: 20px !important;
            }
            .padding-right {
                padding-right: 20px !important;
            }
        }
        .CSService5{
            margin: 48px 0 0 0;
        }
        .CSService7{
            margin: 40px 0 0;
            img{
                padding-bottom: 32px;
                width: 100%
            }
        }
    
        .bg5{
            min-height: 297px !important;
        }
        .box{
            top: 27% !important;
            width: 160px !important;
            padding: 40px 15px 23px !important;
                }
                .scenImg {
                    max-height: 280px;
                }
                .CSengima{
                    font-size: 14px;
                }
    
        }
        .mob-true{
            display: none !important;
        }
        

        @media screen and (max-width: 767px){
            .true{
                display: none !important;
            }
            .mob-true{
                display: block !important;
            }
            .CSservice{
                display: block;
                margin: 50px 0;
                &__box{ 
                    width: 138px;
                    margin: 14px auto;
                    padding: 10px;
                    
                }
                .boxPara{
                    font-size: 10px;
                }
            }
            .CSservice11{
                img{
                    width: auto;
                }
            }
            .caseStudy__content1 {
                margin: 57px 32px;
            }
            .CSservice1{
                margin: 0 32px;
                // width: 204px;
                text-align: center;
            }
            .CSservice11{
                margin: 0 32px;
                // width: 204px;
                text-align: center;
            }
            .caseStudy__bgImg2 {
                min-height: 100%;
                margin: 80px 0 150px;
                padding: 45px 0 115px;
    
            }
            .caseStudy__content4 {
                width: 100%;
                padding: 0 31px;
            }
            .CSservice__box1 {
                width: 145px;
                padding: 20px 20px;
                margin-left: -67px;
                left: 50%;
                top: 87%;
            }
            .CSService2{
                margin: 0 31px 24px 31px;
            }
            .CSService3{
                margin: 0 6px;
            }
            .caseStudy__bgImg {
                min-height: 100%;
                margin: 80px 0 130px;
                padding: 45px 0 73px;
                width: 100%;
            }
            .caseStudy__content2 {
                width: 100%;
                padding: 0 31px;
            }
            .caseStudy .SceneImg img {
                width: 204px;
                margin-left: -102px;
                left: 50%;
                top: 87%;
                height: 139px;
                
            }
            .caseStudy .SceneImg {
                margin-bottom: 150px;
            }
            .CSService4{
                margin: 0;
                .padding-bottom{
                    padding-bottom: 40px;
                }
                .padding-left {
                    padding: 32px 20px 0 20px !important;
                }
                .padding-right {
                    padding: 32px 20px 0 20px !important;
                }
            }
            .CSService5{
                margin: 48px 0 0 0;
            }
            .CSService7{
                margin: 40px 0 0;
                img{
                    padding-bottom: 24px;
                }
            }
        
            .bg5{
                min-height: 297px !important;
            }
            .box{
                width: 160px !important;
                margin-left: -82px;
                left: 50%;
                top: 87% !important;
                padding: 40px 15px 23px !important;
              }
            .divA{
                order:1;
            }
            .divB{
                order:2;
            }
            .divC{
                order: 3;
            }
            .divD{
                order: 4;
            }
            
        
            }