
@import "caseStudy_detail/caseStudy_detail.scss";
.CSservice{
    display: flex;
    margin: 103px 317px 0 317px;
    justify-content: center;
    &__box{
        background: #22a98b; 
        width: 220px;
        margin: 17px;
        text-align: right;
        padding: 10px 15px 20px;
    }
    .boxHeading{
        text-align: left;
        padding: 33px 0 5px;;  
        color: #fff;  
    }
    .boxPara{
        text-align: left;
        font-size: 16px;
        color: #fff; 
        padding-right: 20px;
    }
}
.CSservice1{
    margin: 0 215px;
    img{
        width: 100%;
        height: 100%;
    }
    
}
.caseStudy__bgImg2 {
    margin: 120px 0;
    min-height: 850px;
    padding: 50px 0 50px 40px;
    background-size: 100% 100%;
}
.headingBold{
    color: #33c2f8;
}
.color{
    color: #fff;
}
.caseStudy__content4 {
    width: 57%;
}
.CSservice__box1 {
    position: absolute;
    right: 11%;
    top: 40%;
    width: 258px;
    background: #22a98b;
    padding: 72px 35px 30px;
}
.CSService2{
    margin: 0 256px 40px 165px;
}
.CSService3{
    margin: 0 165px;
    img{
        width: 100%;
    }
}
.caseStudy__bgImg {
    padding: 20px 0;
}
.caseStudy__content2 {
    width: 81%;
    padding-left: 150px;
}
.caseStudy .SceneImg img {
    width: 48%;
    height: 71%;
}
.CSService4{
    margin: 120px 260px 0 260px;
    .padding-left{
        padding-left: 80px !important;
    }
    .padding-right{
        padding-right: 80px !important;
    }
    .padding-bottom{
        padding-bottom: 80px;
    }
    .cs-allign{
        padding-bottom: 40px;
    }
    img{
        width: 100%;
    }
}
.CSService5{
    margin: 80px 0 0 0;
    img{
        width: 100%;
    }
}
.CSService6{
    text-align: center;
}
.CSService7{
    margin: 150px 0 100px; 
    img{
        padding-bottom: 40px;
        width: 100%
    }
}
.bg5{
    min-height: 436px !important;
}
.box{
    top: 26% !important;
    width: 258px !important;
    padding: 70px 25px 30px !important;
}
@media screen and (max-width: 1366px){
    .CSservice{
         margin: 96px 180px;
        &__box{ 
            width: 185px;
            margin: 15px;
            padding: 10px 15px;
        }
        .boxHeading{
            padding: 25px 0 5px;  
        }
        .boxPara{
            font-size: 14px;
            padding: 0;
        }
    }
    .CSservice1{
        margin: 0 124px;
        
    }
    .caseStudy__bgImg2 {
        min-height: 620px;
        padding: 50px 0;
    }
    .caseStudy__content4 {
        width: 63%;
    }
    .CSservice__box1 {
        width: 219px;
        padding: 53px 25px;
    }
    .CSService2{
        margin: 0 120px 32px 41px;
    }
    .CSService3{
        margin: 0 42px;
    }
    .caseStudy__bgImg {
        min-height: 463px;
        margin-top: 120px;
        width: 75%;
    }
    .caseStudy__content2 {
        width: 81%;
        padding-left: 42px;
    }
    .caseStudy .SceneImg img {
        width: 38%;
        height: 66%;
        
    }
    .CSService4{
        margin: 96px 120px 0 120px;
        .padding-bottom{
            padding-bottom: 60px;
        }
        .cs-allign{
            padding-bottom: 25px;
        }
    }
    .CSService5{
        margin: 64px 0 0 0;
    }
    .CSService7{
        margin: 40px 0 100px;
        img{
            padding-bottom: 32px;
            width: 100%
        }
    }

    .bg5{
        min-height: 355px !important;
    }
    .box{
        width: 215px !important;
        padding: 50px 20px 30px !important;
    }

    }

    @media screen and (max-width: 1024px){
        .CSservice{
            margin: 64px 100px;
            &__box{ 
                width: 145px;
                margin: 10px;
                padding: 10px;
            }
            .boxHeading{
                padding: 2px 0 5px; 
            }
            .boxPara{
                font-size: 12px;
            }
        }
        .caseStudy__content1 {
            margin: 80px 95px 80px 95px;
        }
        .CSservice1{
            margin: 0 95px;
            
        }
        .caseStudy__bgImg2 {
            min-height: 462px;
            margin: 80px 0;

        }
        .caseStudy__content4 {
            width: 67%;
        }
        .CSservice__box1 {
            width: 163px;
            padding: 40px 20px;
        }
        .CSService2{
            margin: 0 94px 24px 34px;
        }
        .CSService3{
            margin: 0 34px;
        }
        .caseStudy__bgImg {
            min-height: 358px;
            margin-top: 72px;
        }
        .caseStudy__content2 {
            width: 81%;
            padding-left: 42px;
        }
        .caseStudy .SceneImg img {
            width: 38%;
            height: 66%;
            
        }
        .CSService4{
            margin: 64px 94px 0 94px;
            .padding-bottom{
                padding-bottom: 64px;
            }
            .cs-allign{
                padding-bottom: 18px;
            }
            .padding-left {
                padding-left: 20px !important;
            }
            .padding-right {
                padding-right: 20px !important;
            }
        }
        .CSService5{
            margin: 48px 0 0 0;
        }
        .CSService7{
            margin: 40px 0 100px;
            img{
                padding-bottom: 32px;
                width: 100%
            }
        }
    
        .bg5{
            min-height: 297px !important;
        }
        .box{
            top: 27% !important;
            width: 160px !important;
            padding: 40px 15px 23px !important;
                }
    
        }
    

        @media screen and (max-width: 768px){
            .CSservice{
                display: block;
                margin: 50px 0;
                &__box{ 
                    width: 138px;
                    margin: 14px auto;
                    padding: 10px;
                    img{
                        width: 15px;
                    }
                }
            }
            .caseStudy__content1 {
                margin: 57px 32px;
            }
            .CSservice1{
                margin: 0 32px;
                
            }
            .caseStudy__bgImg2 {
                min-height: 580px;
                margin: 80px 0 130px;
                padding: 45px 0 115px;
    
            }
            .caseStudy__content4 {
                width: 100%;
                padding: 0 31px;
            }
            .CSservice__box1 {
                width: 163px;
                padding: 40px 20px;
                margin-left: -82px;
                left: 50%;
                top: 87%;
            }
            .CSService2{
                margin: 0 31px 24px 31px;
            }
            .CSService3{
                margin: 0 6px;
            }
            .caseStudy__bgImg {
                min-height: 430px;
                margin-top: 72px;
                padding: 45px 0 115px;
                width: 100%;
            }
            .caseStudy__content2 {
                width: 100%;
                padding: 0 31px;
            }
            .caseStudy .SceneImg img {
                width: 204px;
                margin-left: -102px;
                left: 50%;
                top: 87%;
                height: 139px;
                
            }
            .caseStudy .SceneImg {
                margin-bottom: 150px;
            }
            .CSService4{
                margin: 0 32px 0 32px;
                .padding-bottom{
                    padding-bottom: 40px;
                }
                .padding-left {
                    padding: 32px 20px 0 20px !important;
                }
                .padding-right {
                    padding: 32px 20px 0 20px !important;
                }
            }
            .CSService5{
                margin: 48px 0 0 0;
            }
            .CSService7{
                margin: 40px 0 100px;
                img{
                    padding-bottom: 24px;
                }
            }
        
            .bg5{
                min-height: 297px !important;
            }
            .box{
                width: 160px !important;
                margin-left: -82px;
                left: 50%;
                top: 87% !important;
                padding: 40px 15px 23px !important;
                    }
                    .divA{
                        order:2;
                    }
                    .divB{
                        order:1;
                    }
        
            }