// #service-detail .commonHeader {
//     position: fixed;
// }

.alignText {
    text-align: left;
}

.service-detailBg {

    background-color: #FFF;
}

.service-detail-all {
    background-color: #FFF;

    // background-color: #f0f1f1;
}

.service-detail-all {
    

        min-height: 100vh;
    height: 100%;
    padding-top: 80px;
}

.service-detail {
    padding: 78px 50px;

    background-color: #FFF;

    width:715px;
    margin: 0 auto; 
    &__img {
        width: 140px;
        height: 140px;
    }
    &__underline {
        width: 60px;
    border: 2px solid #000;
    margin-top: 6px;
    }
    &__title {
        text-transform: uppercase;
        font-family: montserrat-bold;
        font-size: 22px;
        letter-spacing: 0.02em;
        line-height: 28px;
        margin-bottom: 0;
        color: rgb(66, 64, 67);
        position: relative;
        // &::before{
        //     content:" ";
        //     position : absolute;
        //     width:30px;
        //     border-bottom: 3px rgb(66, 64, 67) solid;
        //     top: 40px;
        //     width:60px;
        // }
    }
    // &__underline {
    //     border-bottom: 3px rgb(66, 64, 67) solid;
    //     width: 60px;
    //     position: relative;
    //     left:95px;
    // }
    &__subtitle {
        text-transform: uppercase;
        font-family: montserrat-bold;
        font-size: 17px;
        letter-spacing: 0.02em;
        color: #F69320;
    }
    &__para {
        font-family: raleway-medium;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: justify;
        margin-bottom: 40px;
    }
    &__link {
            padding: 8px 15px;
    background-color: #ec1944;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    font-family: raleway-bold;
    font-size: 10px;
    border: 2px solid #ec1944;
    cursor: pointer;
        &:hover {
            background-color: transparent;
            color: #ec1944;
            border: 2px solid #ec1944;
        }
    }
}

@media screen and (min-width:1866px) {
    .service-detail {
        width:1380px;
            padding: 75px 0px 100px;
        margin: 0 auto;
        &__img {
            width: 180px;
            height: 180px;
        }
        &__title {
            font-size: 32px;
            letter-spacing: 0.02em;
            line-height: 40px;
        }
        &__underline {
            width: 60px;
    border: 2px solid #000;
    margin-top: 6px;
    background-color: #000;
        }
        &__subtitle {
            font-size: 24px;
            letter-spacing: 0.02em;
            line-height: 34px;
            margin: 0;
        }
        &__para {
            font-size: 14px;
            margin-top: 30px;
            margin-bottom: 40px;
            line-height: 24px;
            letter-spacing: 0.01em;
        }
       
    }
}

@media screen and (max-width:1365px) {
    .service-detail {
        padding: 78px 35px;
    }
}

// @media screen and (min-width:1090px) {
//     .service-detail {
//         width: 1090px;
//         margin: 0 auto;
//     }
// }

@media screen and (min-width:768px) and (max-width:1023px) {
    .service-detail {
        padding: 78px 20px;
        width: 80%;
        margin: 0 auto;
        &__img {
            width: 120px;
            height: 120px;
        }
        &__title {
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.02em;
        //      &::before{
        //     content:" ";
        //     position : absolute;
        //     width:30px;
        //     border-bottom: 3px rgb(66, 64, 67) solid;
        //     top: 40px;
        //     width:60px;
        // }
        }
        &__subtitle {
            font-size: 15px;
            letter-spacing: 0.02em;
        }
        &__underline {
            width: 55px;
        }
        &__para {
            font-size: 11px;
            line-height: 19px;
            letter-spacing: 0.01em;
            margin-bottom: 40px;
        }
        &__link {
        &:hover {
            background-color: #ec1944;
            color: white;
        }
    }
    }
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .alignText {
    text-align: center;
}
    .service-detail {
        padding: 40px 0px 60px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        &__img {
            width: 100px;
            height: 100px;
        }
        &__title {
            font-size: 16px;
            margin-top: 20px;
            letter-spacing: 0.02em;
            line-height: 20px;
            position: relative;
             &::before{
            content:" ";
            position : absolute;
            width:30px;
            border-bottom: 3px rgb(66, 64, 67) solid;
            top: 20px;
            left: 50px;
            display: none;
        }
        }
        &__link {
        &:hover {
            background-color: #ec1944;
            color: white;
        }
    }
        &__underline {
            width:60px;
            margin:0 auto;
            border: 1px solid #000;
            margin-top: 10px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 30px;
            letter-spacing: 0.02em;
        }
        &__para {
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 0.01em;
            margin-bottom: 30px;
        }
      
    }
}

@media only screen and (min-width:1366px) and (max-width:1866px) {
    .service-detail {
        width:1070px;
        margin: 0 auto;
        padding-bottom: 100px;
        &__title {
            font-size: 24px;
            margin-top: 20px;
            letter-spacing: 0.02em;
            line-height: 40px;
        }
        &__subtitle {
            font-size: 18px;
            letter-spacing: 0.02em;
        }
        &__para {
            font-size: 13px;
            letter-spacing: 0.01em;
            line-height: 22px;
        }
         &__img {
            width: 152px;
            height: 152px;
        }
    }
}