
   .blobs {
    width: 160px;
    height: 170px;

    margin: 0 auto;
    border-radius: 100%;
   }
   .blob {
     position: absolute;
     background: #b2e6e5;
     text-align: center;
     color: white;
   }
   
   .blob:nth-child(1) {
    width: 160px;
    height: 170px;

     border-radius: 100%;
     -webkit-animation: mytopdown linear 3s infinite;
     -moz-animation: mytopdown linear 3s infinite;
     animation: mytopdown linear 3s infinite;
   }
   .blob:nth-child(2) {
    width: 160px;
    height: 170px;

     border-radius: 100%;
     -webkit-animation: mydowntop linear 3s infinite;
     -moz-animation: mydowntop linear 3s infinite;
     animation: mydowntop linear 3s infinite;
   }
   .blob:nth-child(3) {
    width: 160px;
    height: 170px;

     border-radius: 100%;
     -webkit-animation: mytopleft linear 5s infinite;
     -moz-animation: mytopleft linear 5s infinite;
     animation: mytopleft linear 5s infinite;
   }
   .blob:nth-child(4) {
     border-radius: 45%;
     width: 160px;
     height: 170px;
 
     -webkit-animation: mydownright linear 3s infinite;
     -moz-animation: mydownright linear 3s infinite;
     animation: mydownright linear 3s infinite;
   }
   .blob:nth-child(5) {
 
    width: 160px;
    height: 170px;

     border-radius: 42%;
     -webkit-animation: mytopright linear 4s infinite;
     -moz-animation: mytopright linear 4s infinite;
     animation: mytopright linear 4s infinite;
   }
   .blob:nth-child(6) {
    width: 160px;
    height: 170px;

     border-radius: 47%;
     -webkit-animation: mydownleft linear 4s infinite;
     -moz-animation: mydownleft linear 4s infinite;
     animation: mydownleft linear 4s infinite;
   }
   
   /* Mozila + Chrome */
   @keyframes mytopdown {
       0%   {top: 0px; transform: rotate(0deg) scale(1);}
       50%  {top: 10px;  transform: rotate(180deg) scale(1.04);}
       100% {top: 0px; transform: rotate(360deg) scale(1);}
   }
   @keyframes mydowntop {
       0%   {top: 0px;  transform: rotate(0deg);}
       50%  {top: 10px;  transform: rotate(-180deg);}
       100% {top: 0px;  transform: rotate(-360deg);}
   }
   @keyframes mytopleft {
       0%   {left: 0px;top:0px; transform: rotate(0deg);}
       50%  {left: 10px; top:5px; transform: rotate(180deg);}
       100% {left: 0px; top:0px; transform: rotate(360deg);}
   }
   @keyframes mydownright {
       0%   {left: 0px;top:0px; transform: rotate(0deg);}
       50%  {left: 10px; top:5px; transform: rotate(180deg);}
       100% {left: 0px; top:0px; transform: rotate(360deg);}
   }
   @keyframes mytopright {
       0%   {left: 0px;top:0px; transform: rotate(0deg);}
       50%  {left: 10px; top:5px; transform: rotate(180deg);}
       100% {left: 0px; top:0px; transform: rotate(360deg);}
   }
   @keyframes mydownleft {
       0%   {left: 0px;top:0px; transform: rotate(0deg);}
       50%  {left: 10px; top:10px; transform: rotate(-180deg);}
       100% {left: 0px; top:0px; transform: rotate(-360deg);}
   }
   @keyframes myturn {
       0%   {transform: rotate(0deg) skewX(0deg);}
       100% {transform: rotate(-360deg) skewX(0deg);}
   }
   
   
   /* Safari */
   @-webkit-keyframes mytopdown {
       0%   {top: 0px;-webkit-transform: rotate(0deg) scale(1);}
       50%  {top: 10px; -webkit-transform: rotate(180deg) scale(1.04);}
       100% {top: 0px;-webkit-transform: rotate(360deg) scale(1);}
   }
   @-webkit-keyframes mydowntop {
       0%   {top: 0px; -webkit-transform: rotate(0deg);}
       50%  {top: -10px; -webkit-transform: rotate(-180deg);}
       100% {top: 0px; -webkit-transform: rotate(-360deg);}
   }
   @-webkit-keyframes mytopleft {
       0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
       50%  {left: 15px; top:5px;-webkit-transform: rotate(180deg);}
       100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
   }
   @-webkit-keyframes mydownright {
       0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
       50%  {left: -10px; top:-5px;-webkit-transform: rotate(180deg);}
       100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
   }
   @-webkit-keyframes mytopright {
       0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
       50%  {left: -10px; top:5px;-webkit-transform: rotate(180deg);}
       100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
   }
   @-webkit-keyframes mydownleft {
       0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
       50%  {left: 10px; top:10px;-webkit-transform: rotate(-180deg);}
       100% {left: 0px; top:0px;-webkit-transform: rotate(-360deg);}
   }
   @-webkit-keyframes myturn {
       0%   {-webkit-transform: rotate(0deg) skewX(0deg);}
       100% {-webkit-transform: rotate(-360deg) skewX(0deg);}
   }
    
   

    .blob1{
        width: 170px;
        position: relative;
        margin: 40px auto 64px;
        text-align: center;
       
        z-index: 999;
        button{
            margin: 16px 0px 0px;
        }
    }
    .blob2{
        position: absolute;
        z-index: 999;
        top: 51px;
        left: 37px;
    }
.enigmaCup{
    margin: 10px 5px;
}
.imagemargin,.topimage{
    padding: 10px 0px;
    width: 100%;
}
.padding{
    margin: 0px 5px; 
}

    .back{
        // background-image: url(/assets/img/branding/hashworks/group-15.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

.challange{
    width: 260px;
    margin: 0 auto;
}
.engima{
    border-left: 5px solid #603d95;
    padding: 0px 0px 0px 23px;
    margin: 40px 0px;
    .csHeading{
        padding-bottom:13px;
    }
}
.branding{
    .brand{
        padding: 8px 0px 16px;
    }
    img{
        width: 100%;
        height: 100%;
    }
&__image{
    .row{
        margin: 0px 5px;
    }
    img{
        padding-bottom: 20px;
    }
}
&__perceive{
    height: 414px;
    background-color: #022b3b;
    padding: 56px 0px 0px 0px;
    margin-bottom: 164px;
    &__align{
        width: 260px;
        margin: 0 auto;
    }
    h2{
        color: rgba(255, 255, 255, 0.9);
        padding: 24px 0px 18px;
    }
    h1{
        color: #33c2f8;
        font-size: 32px;
    }
    p{
        color: rgba(255, 255, 255, 0.9);
    }
    .margin{
        padding-top: 18px;
    }
   .percevieImage{
    width: 205px;
    height: 164px;
    margin: 46px 0px 0px 25px;
    }
}

&__adapt{
    height: 218px;
   background-repeat: no-repeat;
   
    &__align{
        width: 260px;
        margin: 20px auto;
    }
    h2{
        color: rgba(255, 255, 255, 0.9);
        padding: 16px 0px 12px;
    }
    h1{
        color: #33c2f8;
        font-size: 32px;
        padding-top: 32px;
    }
    p{
        color: rgba(255, 255, 255, 0.9);
    }
}
&__concept1{
    padding: 0px 58px;
    .row{
        width: 80%;
        margin: 0 auto;
    }
}
&__concept{
    width: 260px;
    margin: 20px auto 32px;
    h1{
        padding: 0px 0px 19px;
        color: #5d6a6f;
    }
    p{
        color: #5d6a6f;
    }
}
&__logo{
  padding: 20px 35px 0px;

}
&__meaning{
    width: 260px;
    margin: 0px auto 71px;
    p{
        padding: 12px 0px 59px;
        color: #5d6a6f;
    }   
}
&__enigmalogo{
   img{
    padding: 0px 20px;
   }
}
&__enigmalist{
    padding: 50px 0px 24px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    img{
       padding-top: 30px;
       width: 112px;
    }
}
&__evolve{
    height: 316px;
  background-repeat: no-repeat;
  padding: 40px 0px 36px;
  background-size: cover;
  &__align{
    width: 258px;
    margin: 0 auto;
}
h2{
    color: rgba(255, 255, 255, 0.9);
    padding: 20px 0px 18px;
}
h1{
    color: #33c2f8;
    font-size: 32px;
}
p{
    color: rgba(255, 255, 255, 0.9);
}
}

&__fontfamily{
    width: 262px;
    margin: 0 auto;
    img{
        width: 100%;
        height: 90%;
    }
    h1{
        padding: 30px 0px 24px;
        text-align: center;
    }
}
&__icons{
    padding: 23px 0px 25px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    img{
    padding-top: 30px;
       width: 50px;
    }
    .textalign{
        text-align: center;
    }
}
}
.mobileClass{
    display: block;
}
.tabClass{
    display: none;
}
.enigmabackground{
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (min-width:767px){
    .blob1{
        width:300px;
        margin: 40px auto 25px;
        button{
            margin: 16px 0px 0px;
        }
    }
    .blob2{
        top: 101px;
        left: 89px;
    }

   .blobs {
    width: 260px;
    height: 270px;

    margin: 0 auto;
    border-radius: 100%;
   }
   .blob {
     position: absolute;
     background: #b2e6e5;
     text-align: center;
     color: white;
   }
   
   .blob:nth-child(1) {
    width: 260px;
    height: 270px;
   }
   .blob:nth-child(2) {
    width: 260px;
    height: 270px;
   }
   .blob:nth-child(3) {
    width: 260px;
    height: 270px;
   }
   .blob:nth-child(4) {
     width: 260px;
     height: 270px;
   }
   .blob:nth-child(5) {
    width: 260px;
    height: 270px;
   }
   .blob:nth-child(6) {
    width: 260px;
    height: 270px;
   }

    .padding {
        margin: 0 auto;
        width: 700px;
    }
    .mobileClass{
        display: none;
    }
    .tabClass{
        display: block;
    }
    .enigmaCup{
        width: 700px;
        margin: 15px auto;
    }
    .imagemargin ,.topimage{
        padding: 15px 0px;
        width: 100%;
    }

 
.challange{
    width: 560px;
}
.engima{
    padding: 0px 0px 0px 57px;
    margin: 80px 0px 65px;
    .csHeading{
        padding-bottom:20px;
    }
}
.engima1{
    margin: 46px 0px 64px !important;  
}

.branding{
    .brand{
        padding: 8px 0px 16px;
    }

&__image{
    .row{
       width: 700px;
       margin: 0 auto;
    }
    img{
        padding-bottom: 18px;
    }
}
&__perceive{
    width: 87%;
    height: 390px;
    position: relative;
    padding: 0;
    margin: 0px 0px 64px;

    &__align{
        width: 575px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 390px;
        padding-right: 140px;
    }
    h2{
        padding: 16px 0px 17px;
    } 
    .margin{
        padding-top: 18px;
    }
   .percevieImage{
    width: 253px;
    height: 202px;
    margin: 0;
    position: absolute;
    right: -141px;
    top: 87px;
    }
}
&__adapt{
    height: 270px;
    margin-top: 64px;
    background-size: cover;
    margin-right: 34px;
   
    &__align{
        width:640px;
        margin:0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:270px;
        padding-right: 140px;
    }
    h2{
        padding: 16px 0px 12px;
    }
    h1{
        padding:0px;
    }
}
&__concept1{
    padding: 0;
    width: 700px;
    margin: 0 auto;
    .row {
        width: 92%;
    }
}
.back{
    background-repeat: no-repeat;
    background-size: 99% 100%;
  }
&__concept{
    width: 607px;
    margin: 0px 0px 30px 15px;
    h1{
        padding:64px 0px 17px;
    }
  
}
&__logo{
    padding: 60px 0px 60px;
    width: 700px;
    margin: 0 auto;
   
  }
&__meaning{
    width: 700px;
    margin: 0 auto;
    padding: 0 0px 72px 0px;
    p{
        padding: 14px 0px 0px;
        font-size: 12px;
    }  
    img{
        height: 140px;
    } 
}
&__enigmalogo{
    width: 100%;
    margin: 0 auto;
    img{
        padding: 0px 40px;
       } 
}
.enigmabackground{
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 700px;
}
&__enigmalist{
    width: 700px;
    padding: 60px 0px;
    img{
       height: 95px;
       width: 130px;
       padding: 0px;
       margin-top: 50px;
    }
    h2{
        padding-bottom: 0px;
        text-align: left;
    }
}
.colorPalette{
    padding-bottom: 50px;
}
&__evolve{
    margin-right: 34px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
        &__align{
            width: 650px;
            margin: 0 auto;
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 270px;
            padding-right: 190px;
        }
h2{
    padding: 10px 0px 10px;
}
}

&__fontfamily{
    width: 700px;
    margin: 0 auto;
    padding: 0;
    h1{
        padding: 30px 0px 30px;
        text-align: left;
    }
}
&__icons{
    width: 700px;
    padding: 70px 0px 40px;
    text-align: left;
    .threeIcon{
        width: 465px;
        padding-bottom: 20px;
    }
   
    .row{
        justify-content: space-between;
    }
    h2{
        padding-bottom: 31px;
    }
    img{
    padding-top: 30px;
     width: 70px;
    }
    .textalign{
        text-align: left;
    }
}
}

}

@media screen and (min-width:1025px){
    .blob1{
        width:365px;
        margin: 80px auto 120px;
        button{
            margin: 24px 0px 0px;
        }
    }
    .blob2{
        top: 113px;
        left: 103px;
    }

   .blobs {
    width: 359px;
    height: 320px;
    margin: 0 auto;
    border-radius: 100%;
   }   
   .blob:nth-child(1) {
    width: 336px;
    height: 320px;
   }
   .blob:nth-child(2) {
    width: 352px;
    height: 320px;
   }
   .blob:nth-child(3) {
    width: 359px;
    height: 320px;
   }
   .blob:nth-child(4) {
    width: 331px;
    height: 320px;
   }
   .blob:nth-child(5) {
    width: 355px;
    height: 320px;
   }
   .blob:nth-child(6) {
    width: 345px;
    height: 342px;
   }
    .padding {
        width: 965px;
    }
    .enigmaCup{
        width: 965px;
        margin: 18px auto;

    }
    .imagemargin,.topimage{
        padding: 18px 0px;
    }

    .challange{
        width: 700px;
    }
    .engima{
        padding: 0px 0px 0px 57px;
        margin: 0px 0px 99px;
        .csHeading{
            padding-bottom:16px;
        }
    }
    .engima1{
        margin:80px 0px 96px  !important;  
    }
    
    .branding{
        .brand{
            padding: 8px 0px 16px;
        }
    
    &__image{
        .row{
          width: 965px;
        }
        img{
            padding-bottom: 26px;
        }
    }
    &__perceive{
        height:533px;
        margin: 0px 0px 96px;
    
        &__align{
            width: 782px;
            height: 533px;
            padding-right: 170px;
        }
        h1{
            font-size: 40px;
        }
        h2{
            padding:28px 0px 23px;
        } 
       .percevieImage{
        width: 341px;
        height: 272px;
        right: -141px;
        top: 137px;
        }
    }
    &__enigmalogo{
      
        img {
            padding: 0px 58px;
        }
    }
    &__adapt{
       height:362px;
        margin-top: 96px;
        margin-right: 42px;
       
        &__align{
            width: 922px;
            padding: 0 340px 0px 0px;
            height: 362px;
        }
        h2{
            padding: 28px 0px 18px;
        }
        h1{
            font-size: 40px;
        }
    }
    &__concept1{
       width: 965px;
    }
    &__concept{
        width: 700px;
        margin: 0px 0px 80px 15px;
        h1{
            padding:96px 0px 24px;
        }
    }
    &__logo{
        padding: 60px 0px 60px;
        width: 965px;
      }
    &__meaning{
        padding: 0 0px 72px 0px;
        width: 965px;
        p{
            padding: 24px 0px 0px;
        }  
        img{
            height: 220px;
        } 
    }
    .enigmabackground {
        width: 965px;
    }
    &__enigmalist{
        padding: 70px 0px 96px;
        width: 965px;
        img{
            height: 118px;
            width: 207px;
            margin-top: 80px;
        }
    }
    &__evolve{
        margin-right: 44px;
        height:355px;
        padding: 0px;
        &__align{
            width: 870px;
            height: 355px;
            padding-right: 280px;
        }
    h2{
        padding: 20px 0px 20px;
    }
    }
    
    &__fontfamily{
        width: 965px;
    }
    &__icons{
        padding: 103px 0px 70px;
        width: 965px;
        .threeIcon{
            width: 630px;
            padding-bottom:50px;
        }
        img{
         width: 90px;
        }
    }
    }
    
    }

@media screen and (min-width:1367px){
    .blob1{
        width: 465px;
        margin: 120px auto 120px;
        button{
            margin: 33px 0px 0px;
        }
    }
    .blob2{
        top: 138px;
        left: 148px;
    }

   .blobs {
    width: 412px;
    height: 400px;
   }   
   .blob:nth-child(1) {
    width: 412px;
    height: 400px;
   }
   .blob:nth-child(2) {
    width: 412px;
    height: 400px;
   }
   .blob:nth-child(3) {
    width: 412px;
    height: 400px;
   }
   .blob:nth-child(4) {
    width: 412px;
    height: 400px;
   }
   .blob:nth-child(5) {
    width: 412px;
    height: 400px;
   }
   .blob:nth-child(6) {
    width: 412px;
    height: 400px;
   }
    .padding {
        width: 1100px;
        margin: 0 auto;
    }
    .branding .enigmabackground {
        margin: 0px;
        width: 1100px;
    }
    .enigmaCup{
        width: 1100px;
        margin: 15px auto;
    }
    .imagemargin,.topimage{
        padding: 15px 0px;
    }
    .challange{
        width: 1000px;
    }
    .engima{
        padding: 0px 0px 0px 57px;
        margin: 100px 0px 126px;
        .csHeading{
            padding-bottom:32px;
        }
    }
    .engima1{
        margin:123px 0px 120px  !important;  
    }
    
    .branding{
        .brand{
            padding: 8px 0px 16px;
        }
    
    &__image{
        .row{
            width: 1100px;
            margin: 0 auto;
        }
        img{
            padding-bottom: 26px;
        }
    }
    &__perceive{
        height: 614px;
        margin: 0 0px 120px;
    
        &__align{
            width: 895px;
            margin: 0 auto;
            height: 613px;
        }
        h1{
            font-size: 48px;
        }
        h2{
            padding:40px 0px 34px;
        } 
        .margin {
            padding-top: 25px;
        }
       .percevieImage{
        width: 564px;
        height: 410px;
        right: -270px;
        top: 101px;
        }
    }
    &__enigmalogo{
        width: 100%;
        margin: 0 auto; 
        img {
            padding: 0px 65px;
        }
    }
    &__adapt{
        height:446px;
        margin: 120px auto 0px;
        width: 1100px;
        background-size: 100% 100%;
        &__align{
            width: 870px;
            padding: 0 160px 0px 0px;
            height: 446px;
        }
        h2{
            padding: 28px 0px 30px;
        }
        h1{
            font-size: 48px;
        }
    }
    &__concept1{
        padding: 0px 0px;
        width: 1100px;
        margin: 0 auto;
        .row{
            width: 86%;
        }
    }
    .back{
        background-size:100% 100%;
      }
    &__concept{
        width: 800px;
        padding: 0px 0px 50px 0px;
        margin: 0;
        h1{
            padding:120px 0px 32px;
        }
    }
    &__logo{
        padding: 140px 0px 0px 0px;
        width: 1100px;
        margin: 0 auto;
      }
    &__meaning{
        padding: 0px 0px 120px 0px;
        width: 1100px;
        margin: 0 auto;
        p{
            padding: 38px 0px 0px;
            font-size: 20px;
        }  
        img{
            height: 300px;
        } 
    }
    .brandlogo{
        width: 1100px;
        margin: 0 auto;
    }
    &__enigmalist{
        padding: 110px 0px 120px;
        width: 1100px;
        margin: 0 auto;
        img{
            height: 118px;
            width: 207px;
        }
    }
    .colorPalette {
        padding-bottom: 65px;
    }
    &__evolve{
        margin-right: 0;
        height: 458px;
        width: 1100px;
        margin: 0 auto;
        background-size: 100% 100%;
        &__align{
            height:458px;
            width: 870px;
            padding: 0 160px 0px 0px;
        }

    }
    
    &__fontfamily{
        padding: 0;
        width: 1100px;
        margin: 0 auto;
    }
    &__icons{
        padding: 160px 0px 70px 0px;
        margin: 0 auto;
        width: 1100px;
        .threeIcon{
            width: 716px;
            padding-bottom: 101px;
        }
        img{
         width:130px;
        }
    }
    }
    }