@import "practice/practice.scss";

.prct .hero_img{
    background-image: url(/assets/img/about_us/banner.png);
}

@media screen and (min-width: 320px){
    .about-us{
        padding: 40px 29px 24px;
        img{
            padding: 0 6px 8px;
            width: 100%;
            height: 100%;
        }
    }

}
@media screen and (min-width: 768px){
    .about-us{
        padding: 48px 34px 12px;
        img{
            padding: 0 10px 22px;
        }
    }
}
@media screen and (min-width: 1025px){
    .about-us{
        padding: 56px 42px 42px;
        img{
            padding: 0 10px 22px;
        }
    }

}
@media screen and (min-width: 1366px){

    .about-us{
        padding: 64px 165px 50px;
        img{
            padding: 0 15px 30px;
            
        }
    }
}


