@import 'practice/practice.scss';

.prct .hero_img {
  // background-image: url(/assets/img/about_us/004_About.gif);
  display: flex;
  background-color: #eeffde;
  video{
    width: 100%;
  }
}
.philSec1 {
  margin-top: 40px;
}

@media screen and (min-width: 320px) {
  .prct .hero_img {
    background-image: url(/assets/img/BANNER_IMG/About_Page.png);}
  .about-us {
    padding: 40px 29px 24px;
    padding-bottom: 0px;
    img {
      padding: 0 6px 8px;
      width: 100%;
      height: 100%;
    }
  }
  .about__us {
    padding-left: 0px;
    padding-right: 0px;

    p {
      padding: 16px 0px 0px;
      text-align: left;
    }
    h2 {
      padding-top: 16px;
      text-align: left;
    }
    h1 {
      line-height: normal !important;
    }
  }
  .aboutheading {
    h1 {
      margin: 0 auto;
      text-align: left;
      padding-left: 7px;
    }
    h3 {
      padding-bottom: 24px;
    }
  }
  .philSec1 {
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .philSecdata .headingBold {
    text-align: center;
  }
  .philSecdata {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 768px) {
  .prct .hero_img {
    background-image: none;}
  .about-us {
    padding: 48px 34px 12px;
    padding-bottom: 0px;
    img {
      padding: 0 10px 22px;
    }
    .row {
      width: 700px;
      margin: 0 auto;
    }
  }
  .about__us {
    width: 700px;
    p {
      padding: 16px 0px 0px;
      text-align: left;
    }
    h2 {
      padding-top: 16px;
      text-align: left;
    }
  }
  .aboutheading {
    width: 700px;
    margin: 0 auto;
    h1 {
      text-align: left;
      padding-left: 7px;
    }
    h3 {
      padding-bottom: 50px;
    }
  }

  .philSec1 {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .about-us {
    padding: 56px 42px 42px;
    padding-bottom: 0px;
    img {
      padding: 0 10px 22px;
    }
    .row {
      width: 935px;
    }
  }
  .about__us {
    width: 935px;
    p {
      padding: 16px 0px 0px;
      text-align: left;
      margin: 0 auto;
    }
    h2 {
      padding-top: 16px;
      text-align: left;
      margin: 0 auto;
    }
  }
  .aboutheading {
    width: 935px;
    margin: 0 auto;
    h3 {
      padding-bottom: 50px;
    }
  }
  .philSec1 {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1366px) {
  .about-us {
    padding: 64px 165px 50px;
    padding-bottom: 0px;
    img {
      padding: 0 15px 30px;
    }
    .row {
      width: 1100px;
    }
  }
  .philSec1 {
    margin-top: 40px;
  }
}
