<body>
    <header class="cd-header">
      <div class="cd-logo"><a href="/"><img src="/assets/img/homepage/asset-1@3x.png" alt="Logo"></a></div>

      <nav>
        <ul class="cd-secondary-nav">
          <li class="cd-secondary-navli"><a href="/work">Work</a></li>
        <li class="cd-secondary-navli"><a href="/practice">Practice</a></li>
          <li class="cd-secondary-navli"><a href="/aboutUs">About</a></li>
          <li ><a class="cd-secondary-navLasta"><button class="headerButton">Lets talk</button></a></li>
          
          
          
        </ul>
      </nav> <!-- cd-nav -->

      <a class="cd-primary-nav-trigger" href="#0">
        <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
      </a> <!-- cd-primary-nav-trigger -->
    </header>

    <nav>
      <ul class="cd-primary-nav">
        
          <li><a href="/work">Work</a></li>
        <li><a href="/practice">Practice</a></li>
          <li><a href="/aboutUs">About</a></li>
        <li><a><button class="headerButton">Lets talk</button></a></li>


      </ul>
    </nav>

     <!-- slick script -->
     <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
     <script type="text/javascript" src="/assets/js/caseStudy.js"></script> -->
   <!-- slick script end-->


    <script>
    jQuery(document).ready(function($){
      //if you change this breakpoint in the style.css file (or _layout.scss if you use SASS), don't forget to update this value as well
      var MQL = 1170;
    
      //open/close primary navigation
      $('.cd-primary-nav-trigger').on('click', function(){
        $('.cd-menu-icon').toggleClass('is-clicked'); 
        $('.cd-header,.cd-primary-nav-trigger').toggleClass('menubar');
        $('.cd-logo').toggle();
        
        //in firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
        if( $('.cd-primary-nav').hasClass('is-visible') ) {
          $('.cd-primary-nav').removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
            $('body').removeClass('overflow-hidden');
          });
        } else {
          $('.cd-primary-nav').addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
            $('body').addClass('overflow-hidden');

          });	
        }
      });
    });
  </script>
  
