<body>
  <div class="loader-overlay">

    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

  </div>
  <header class="cd-header">
    <div class="cd-logo">
      <a href="/">
        <img class="lb-desktop" src="/assets/img/homepage/lblogo.svg" alt="Logo">
        <!-- <img class="lb-mobile" src="/assets/img/common/lb-logo.svg" alt="Logo"> -->
      </a>
    </div>

    <nav>
      <ul class="cd-secondary-nav hebom heboo__medium">
        <li class="cd-secondary-navli first ">
          <a class="hebom heboo__medium" href="/workpage">Work</a>
        </li>
        <li class="cd-secondary-navli second">
          <a class="hebom heboo__medium" href="/practice">Practice</a>
        </li>
        <li class="cd-secondary-navli third">
          <a class="hebom heboo__medium" href="/our-services">Services</a>
        </li>
        <li class="cd-secondary-navli last">
          <a class="hebom heboo__medium" href="/aboutus">About</a>
        </li>
        <li class="cd-secondary-navli">
          <a class="hebom heboo__medium bootcamp" href="http://bootcamp.littlebrahma.com" target="_blank">Academy</a>
        </li>
        <li>
          <a class="cd-secondary-navLasta">
            <button class="commonButton myBtn">Let’s talk</button>
          </a>
        </li>
      </ul>
    </nav>
    <!-- cd-nav -->

    <a class="cd-primary-nav-trigger" href="#0">
      <span class="cd-menu-text">Menu</span>
      <span class="cd-menu-icon"></span>
    </a>
    <!-- cd-primary-nav-trigger -->
  </header>

  <nav>
    <ul class="cd-primary-nav">

      <li>
        <a class="hebom heboo__medium" href="/workpage">Work</a>
      </li>
      <li>
        <a class="hebom heboo__medium" href="/practice">Practice</a>
      </li>
      <li>
        <a class="hebom heboo__medium" href="/our-services">Services</a>
      </li>
      <li>
        <a class="hebom heboo__medium" href="/aboutus">About</a>
      </li>
      <li>
        <a class="hebom heboo__medium bootcamp" href="http://bootcamp.littlebrahma.com" target="_blank">Academy</a>
      </li>
      <li>
        <a>
          <button class="commonButton myBtn">Let’s talk</button>
        </a>
      </li>

    </ul>
  </nav>

  <div id="myModal1" class="modal1">
    <div class="modal-content1">

      <div class="contactHeading">
        <h1 class="contactHeader rubik rubik__large">We'd
          <span>love to</span> hear from you!</h1>
        <span class="close1">
          <img src="/assets/img/FOOTER/close.svg">
        </span>
      </div>
      <div class="row contact1">
        <div class="col-xs-12  col-sm-4 col-sm-push-8 col-md-4  col-lg-4 contact1__image">
          <img src="/assets/img/BANNER_IMG/Contact_Page.png" alt="contactImage">



          <!-- <video class="mailbox" autoplay="autoplay" loop="loop" autoplay loop muted playsinline >
  <source src="/assets/img/common/Contact.mp4" type="video/mp4" />
  </video>  -->

        </div>

        <div class="col-xs-12 col-sm-pull-4 col-sm-5 col-md-5  col-lg-5  contact1__form">
          <form id="gform" name="contactus">
            <input class="input hebor heboo__medium" type="text" placeholder="Name" name="name" required />
            <input class="input hebor heboo__medium" type="email" placeholder="Email id" name="email" required />
            <h2 class="hebom heboo__large">YOUR MESSAGE IS REQUIRED</h2>
            <textarea class="hebor heboo__medium" name="message" id="message" cols="30" rows="10" placeholder="Priorities, target audience, competitiors, deadlines etc."
              required></textarea>
            <button class="commonButton" type="submit" id="submit-form">Send</button>
          </form>
        </div>

        <div class="col-sm-pull-4 col-xs-12  col-sm-3 col-md-3  col-lg-3 contact1__company">
          <h2 class="hebom heboo__large">Email</h2>
          <h3 class="hebor heboo__medium">hello@littlebrahma.com</h3>
          <h2 class="hebom heboo__large">Contact</h2>
          <h3 class="hebor heboo__medium">
            <span>+91</span>
            <span>-8010667755</span>
          </h3>
          <h2 class="hebom heboo__large"> Let’s Meet</h2>
          <h3 class="hebor heboo__medium"> Gayathri Mansion,</h3>
          <h3 class="hebor heboo__medium"> 2nd Floor , Bellandur,</h3>
          <h3 class="hebor heboo__medium"> Outer Ring Road,</h3>
          <h3 class="hebor heboo__medium"> Near Salarpuria Soft Zone,</h3>
          <h3 class="hebor heboo__medium"> Opp To Shell Petrol Bunk,</h3>
          <h3 class="hebor heboo__medium"> Bengaluru, Karnataka 560103</h3>
        </div>

      </div>

    </div>
    <div class="contact__toast" id="snackbar">
      <div id="thankyou_message" class="hebom heboo__medium">
        <p>Thanks for writing to us. We will get back to you soon.</p>
      </div>
    </div>
  </div>

  <script>
    window.onload = function () {
      if ((location.href).includes('workpage')) {
        $('.cd-secondary-navli.first > a ').addClass('hello');
      }
      if ((location.href).includes('practice')) {
        $('.cd-secondary-navli.second > a ').addClass('hello');
      }
      if ((location.href).includes('our-services')) {
        $('.cd-secondary-navli.third > a ').addClass('hello');
      }
      if ((location.href).includes('aboutus')) {
        $('.cd-secondary-navli.last > a ').addClass('hello');
      }
    }
  </script>