<div style="position: relative">
    <div class="apst-wrapper nav-scroll-up">
        <div class="apst-button">
            <img src="/assets/img/common/Scrol_up.svg">
        </div>
    </div>
</div>
<footer class="commonFooter commonSection" id="commonFooter">
    <div class="footer-cont">
        <div class="footerMargin">
            <div class="row footerRow">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7 footerVerticalSeparator">
                    <div class="row footer_innerRow">
                        <div class="footerColumn">
                            <a href="/aboutus/" class="footerColumn__heading">CREATIVE STUDIO</a>
                            <div><a href="/lifeAtLittleBrahma/" class="footerColumn__list">LIFE AT LITTLE BRAHMA</a></div>
                            <div><a href="/process/" class="footerColumn__list">OUR PROCESS</a></div>
                            <div><a href="/portfolio/" class="footerColumn__list">PORTFOLIO</a></div>
                            <div><a href="/casestudy/" class="footerColumn__list">CASESTUDY</a></div>
                            <div><a href="/blog/" class="footerColumn__list">BLOG</a></div>
                            <div><a href="/contact/" class="footerColumn__list">CONTACT US</a></div>
                            <div><a href="/career/" class="footerColumn__list">CAREERS</a></div>
                            <!-- <a href="/aboutus/" class="footerColumn__list">ABOUT US</a>
                        <a href="/aboutus/#our_mission" class="footerColumn__heading">MISSION</a>
                        <a href="/aboutus/valuable_clients" class="footerColumn__heading">CLIENTS</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 footerVerticalSeparator">
                    <div class="row footer_innerRow">
                        <div class="footerColumn">
                            <a href="/service/" class="footerColumn__heading">OUR SERVICES</a> {%for service in site.service%}
                            <div><a href="{{service.url}}" class="footerColumn__list">{{service.title | upcase}}</a></div>

                            {%endfor%}
                            <!--<div><a href="/service/2016-1-5-service/" class="footerColumn__list">BRANDING</a></div>
                        <div><a href="/service/service1/" class="footerColumn__list">WEB AND MOBILE APP</a></div>
                        <div><a href="/service/service2/" class="footerColumn__list">ILLUSTRATION AND ART</a></div>
                        <div><a href="/service/service3/" class="footerColumn__list">ANIMATION</a></div>
                        <div><a href="/service/service4/" class="footerColumn__list">PACKAGING AND LABEL</a></div>
                        <div><a href="/service/service5/" class="footerColumn__list">MAGAZINE AND BOOK</a></div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 footerVerticalSeparator">
                    <div class="row footer_innerRow footer_challenge-eshop">
                        <div class="footerColumn">
                            <h1 class="footerColumn__heading footerColumn__deactivate">CHALLENGES</h1>
                            <h1 class="footerColumn__list footerColumn__deactivate">COMING SOON</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7 footerVerticalSeparator">
                    <div class="row footer_innerRow footer_challenge-eshop  footer_eshop">
                        <div class="footerColumn">
                            <h1  class="footerColumn__heading footerColumn__deactivate">E-SHOP</h1>
                            <h1 class="footerColumn__list footerColumn__deactivate">COMING SOON</h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7 footerVerticalSeparator">
                    <div class="row footer_innerRow footer_justify">
                        <div class="footerColumn">
                            <!-- <a href="/contact/" class="footerColumn__heading">CONTACT US</a>
                        <a href="/career/" class="footerColumn__heading">CAREERS</a> -->
                            <div class="imageBorder">
                                <h1 class="footerColumn__heading">FOLLOW US</h1>
                                <a href="https://www.instagram.com/little_brahma/" target="_blank" class="footerColumn__image1"><img class="footerColumn__image--link" alt="littlebrahma__instagram" src="/assets/img/FOOTER/insta.svg">
                                    <h1 class="footerColumn__image--name">INSTAGRAM</h1>
                                </a>
                                <a href="https://dribbble.com/littlebrahma" target="_blank" class="footerColumn__image1"><img class="footerColumn__image--link" alt="littlebrahma__dribbble" src="/assets/img/FOOTER/dribb.svg">
                                    <h1 class="footerColumn__image--name">DRIBBBLE</h1>
                                </a>
                                <a href="https://www.behance.net/littlebrahma" target="_blank" class="footerColumn__image1"><img class="footerColumn__image--link" alt="littlebrahma__behance" src="/assets/img/FOOTER/behance.svg">
                                    <h1 class="footerColumn__image--name">BEHANCE</h1>
                                </a>
                                <a href="https://twitter.com/Little_Brahma" target="_blank" class="footerColumn__image1"><img class="footerColumn__image--link" alt="littlebrahma__twitter" src="/assets/img/FOOTER/twit.svg">
                                    <h1 class="footerColumn__image--name">TWITTER</h1>
                                </a>
                                <a href="https://www.facebook.com/Little-Brahma-186396185223366/" target="_blank" class="footerColumn__image1"><img class="footerColumn__image--link" alt="littlebrahma__facebook" src="/assets/img/FOOTER/fb.svg">
                                    <h1 class="footerColumn__image--name">FACEBOOK</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-5 footerVerticalSeparator">
                    <div class="row footer_innerRow footer_justify">
                        <div class="footerColumn">
                            <h5 class="footerColumn__title">GET OUR NEWS LETTERS!</h5>
                            <div>
                                <!-- Begin MailChimp Signup Form -->
                                <form action="//littlebrahma.us16.list-manage.com/subscribe/post?u=228d92b8f4c8b4ea1131a92b0&amp;id=a146782a77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <!--<label for="mce-EMAIL">Subscribe to our mailing list</label>-->
                                        <input type="email" value="" name="EMAIL" class="footerColumn__border" id="mce-EMAIL" placeholder="Enter Your Email ID" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_228d92b8f4c8b4ea1131a92b0_a146782a77" tabindex="-1" value=""></div>
                                        <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footerColumn__button">SUBSCRIBE</button></div>
                                </form>
                                </div>

                                <!--End mc_embed_signup-->
                                <!--<form action="//littlebrahma.us16.list-manage.com/subscribe/post?u=228d92b8f4c8b4ea1131a92b0&amp;id=a146782a77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required class="footerColumn__border" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                    <button class="footerColumn__button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">SUBSCRIBE</button>
                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footerMargin__para">Privacy Policy @copyright 2016, Little Brahma</p>
        </div>
        <div class="footerMob">
            <a href="/" class="footerColumn__heading">CREATIVE STUDIO</a>
            <a href="/aboutus/" class="footerColumn__heading">ABOUT US</a>
            <a href="/lifeAtLittleBrahma/" class="footerColumn__heading">LIFE AT LITTLE BRAHMA</a>
            <a href="/process/" class="footerColumn__heading">OUR PROCESS</a>
            <a href="/service/" class="footerColumn__heading">OUR SERVICES</a>
            <a href="/portfolio/" class="footerColumn__heading">PORTFOLIO</a>
            <a href="/casestudy/" class="footerColumn__heading">CASESTUDY</a>
            <a href="/blog/" class="footerColumn__heading">BLOG</a>
            <h1 class="footerColumn__heading">CHALLENGES</h1>
            <h1 class="footerColumn__heading">E-SHOP</h1>
            <a href="/contact/" class="footerColumn__heading">CONTACT US</a>
            <a href="/career/" class="footerColumn__heading">CAREERS</a>
            <div class="imageBorder">
                <h1>FOLLOW US</h1>
                <a href="https://www.instagram.com/little_brahma/?hl=en" target="_blank"><img src="/assets/img/FOOTER/insta.svg" class="footerColumn__image" alt="littlebrahma__instagram"></a>
                <a href="https://dribbble.com/littlebrahma" target="_blank"><img src="/assets/img/FOOTER/dribb.svg" class="footerColumn__image" alt="littlebrahma__dribbble"></a>
                <a href="https://www.behance.net/littlebrahma" target="_blank"><img src="/assets/img/FOOTER/behance.svg" class="footerColumn__image" alt="littlebrahma__behance"></a>
                <a href="https://twitter.com/Little_Brahma" target="_blank"><img src="/assets/img/FOOTER/twit.svg" class="footerColumn__image" alt="littlebrahma__twitter"></a>
                <a href="https://www.facebook.com/Little-Brahma-186396185223366/" target="_blank"><img src="/assets/img/FOOTER/fb.svg" class="footerColumn__image" alt="littlebrahma__facebook"></a>
            </div>
            <div class="footerColumn">
                <h5 class="footerColumn__title">GET OUR NEWS LETTERS!</h5>
                <form action="//littlebrahma.us16.list-manage.com/subscribe/post?u=228d92b8f4c8b4ea1131a92b0&amp;id=a146782a77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <!--<label for="mce-EMAIL">Subscribe to our mailing list</label>-->
                                        <input type="email" value="" name="EMAIL" class="footerColumn__border" id="mce-EMAIL" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter Your Email ID" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_228d92b8f4c8b4ea1131a92b0_a146782a77" tabindex="-1" value=""></div>
                                        <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footerColumn__button">SUBSCRIBE</button></div>
                                </form>
            </div>
            <div class="footerMob__border"></div>
            <p class="footerMob__para">Privacy Policy </p>
            <p class="footerMob__para">@copyright 2016, Little Brahma</p>
        </div>

    </div>
</footer>