<div class="lb_homeThink">

</div>
<footer class="Groome-footer">
   <!--<span> © Littlebrahma.2018</span>-->
   <div class="lb-footer">
        <div class="lb-footer-section">© Littlebrahma.2018</div>
        <div class="lb-footer-section lb-icon-align"><i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i></div>
        <div class="lb-footer-section lb-footer-textalign">hello@littlebrahma.com</div>
   </div>
<!-- <script type="text/javascript" src="/assets/js/fullPagescroll.js"></script>
<script type="text/javascript" src="/assets/js/work.js"></script> -->

</section>
<script src="/assets/js/vendor/vendor.js"></script>
{% if page.js !=  'No' %}
<script type="text/javascript" src="/assets/js/pages/{{page.layout}}.js">
{% endif %}
</script>
<script type="text/javascript" src="/assets/js/pages/common.js">
  
</script>

</footer>
</body>
</html>