<div class="lb_homeThink">

</div>
<!-- <footer class="Groome-footer"> -->
   <!--<span> © Littlebrahma.2018</span>-->
   <!-- <div class="lb-footer">
        <div class="lb-footer-section">© Littlebrahma.2018</div>
        <div class="lb-footer-section lb-icon-align"><i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i></div>
        <div class="lb-footer-section lb-footer-textalign">hello@littlebrahma.com</div>
   </div> -->
<!-- <script type="text/javascript" src="/assets/js/fullPagescroll.js"></script>
<script type="text/javascript" src="/assets/js/work.js"></script> -->

<footer class="footer">
    <div class="footer__inner"> 
        <h1>So what’s next?</h1>
        <button class="commonButton myBtn" >Lets talk</button>
    </div>
    <div class="footer__image">
      
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom__div">© Littlebrahma.2018</div>
        <div class="footer__bottom__div1">
          <img src="/assets/img/FOOTER/insta-1.svg">
          <img class="footer__bottom__div1__behance" src="/assets/img/FOOTER/behance2.svg">
          <img src="/assets/img/FOOTER/facebook.svg">
        </div>
        <div class="footer__bottom__div2">hello@littlebrahma.com</div>
    </div>
</section>


<div id="myModal1" class="modal1">
  <div class="modal-content1">
    <span class="close1"><img src="../assets/img/FOOTER/close.svg"></span>
    <div class="contactHeading">
        <h1 class="contactHeader">We are ready. <span>Let’s do</span> this</h1>
    </div>
   <div class="row contact1">
      <div class="col-xs-12  col-sm-4 col-sm-push-8 col-md-4  col-lg-4 contact1__image">
          <img src="../assets/img/common/group.jpg" alt="contactImage">
        </div>

    <div class="col-xs-12 col-sm-pull-4 col-sm-5 col-md-5  col-lg-5  contact1__form">
      <form id="contactform" action="" name="contactus">
          <input class="input" type="text" placeholder="Name" type="name" required />
          <input class="input" type="email" placeholder="Email id" type="email" required />
          <h2>YOUR MESSAGE IS REQUIRED</h2>
          <textarea name="" id="" cols="30" rows="10" placeholder="Priorities, target audience, competitiors, deadlines etc." required></textarea>
          <button class="commonButton" type="submit" id="submit-form">send</button>
      </form>
    </div>
    
    <div class="col-sm-pull-4 col-xs-12  col-sm-3 col-md-3  col-lg-3 contact1__company">
   <h2>Email</h2>
   <h3>hello@littlebrahma.com</h3>
   <h2>Contact</h2>
   <h3>080 6541 0019</h3>
   <h2> Let’s meet</h2>
   <h3> Gayathri Mansion,</h3>
   <h3> 2nd Floor , Bellandur,</h3>
   <h3> Outer Ring Road,</h3>
   <h3> Near Salarpuria Soft Zone,</h3>
   <h3> Opp To Shell Petrol Bunk,</h3>
   <h3> Bengaluru, Karnataka 560103</h3>
    </div>
    
   </div>
 
  </div>
</div>


<script src="/assets/js/vendor/vendor.js"></script>
{% if page.js !=  'No' %}
<script type="text/javascript" src="/assets/js/pages/{{page.layout}}.js"></script>
{% endif %}
<script type="text/javascript" src="/assets/js/pages/common.js"></script>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/casestudy_detail.js"></script>
<script type="text/javascript" src="/assets/js/pages/service.js"></script>
<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.6/vendors/jquery.easings.min.js"></script> -->

</footer>

<script>
  var modal = document.getElementById('myModal1');
  var btn = document.getElementsByClassName("myBtn");
  var span = document.getElementsByClassName("close1")[0];
     for(let i=0;i<btn.length;i++){
      btn[i].onclick = function() {
      // modal.style.display = "block";
      $('#myModal1').slideDown(500);
  }
     }
  span.onclick = function() {
      // modal.style.display = "none";
      // $('#myModal1').hide(500);
      $('#myModal1').slideUp(500);
  }

jQuery(document).ready(function($){
  //if you change this breakpoint in the style.css file (or _layout.scss if you use SASS), don't forget to update this value as well
  var MQL = 1170;

  //open/close primary navigation
  $('.cd-primary-nav-trigger').on('click', function(){
    $('.cd-menu-icon').toggleClass('is-clicked'); 
    $('.cd-header,.cd-primary-nav-trigger').toggleClass('menubar');
    $('.cd-logo').toggle();
    
    //in firefox transitions break when parent overflow is changed, so we need to wait for the end of the trasition to give the body an overflow hidden
    if( $('.cd-primary-nav').hasClass('is-visible') ) {
      $('.cd-primary-nav').removeClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
        $('body').removeClass('overflow-hidden');
      });
    } else {
      $('.cd-primary-nav').addClass('is-visible').one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',function(){
        $('body').addClass('overflow-hidden');

      });	
    }
  });
});
</script>
</body>
<!-- slick script -->
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/casestudy_detail.js"></script>
<!-- slick script end-->
</html>