<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Little Brahma</title>
    <title>{% if page.title %}{{ page.title }}{% endif %}</title>

    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="{{page.keywords}}" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:image" content="http://littlebrahma.com" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:url" content="http://littlebrahma.com" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="Robots" content="index,follow">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/{{page.layout}}.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%20%22%27" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118062875-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-118062875-1');
    </script>

    <!-- <script type="text" src="/assets/slick/slick.min.js"></script> -->

    <style>
        .wBHeight,
        .workBlob {
            height: inherit;
        }
    </style>
    <!-- slick script -->
    <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
        <script type="text/javascript" src="/assets/js/pages/casestudy_detail.js"></script> -->
    <!-- slick script end-->
</head>