@import '../_sass/common';
@import "workpage/workpage.scss";



.lb_work_filter li {
    display: inline;
    padding: 10px;
    cursor: pointer;
    // font-family: MavenPro;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #393939;
}
.lb-Workfilter{
    padding-top:50px;
}
ul.lb_work_filter.lb_filter_lg{
    text-align: center;
}
li.lb_work_filterActive{
    border-bottom: 5px solid #ea1c49;
    color: #ea1c49;
}
li.lb_work_filterli:first-child{
    margin-left: 10px !important;
}
.lb-filter-Img{
    // width:100%;
    height: 340px;
    background-image:url('/assets/img/workpage/groome.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    padding: 30px;
}
.lb-filter-Img1{
    // width:100%;
    height: 340px;
    background-image:url('/assets/img/workpage/groome-copy-2.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    padding: 30px;
}
.lb-filter-Img2{
    height: 340px;
    background-image:url('/assets/img/workpage/groome-copy-3.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
}
.lb-filter-Img3{
    height: 340px;
    background-image:url('/assets/img/workpage/groome-copy-4.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
}
.lb-filter-service{
   padding-bottom: 30px;
}
.lb-filterDiv{
   padding-left:42px;
   padding-right: 42px;
}
.lb-filter-head{
    width: 121px;
    height: 56px;
    font-family: MavenPro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .lb-filter-header{
    font-family: MavenPro;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #5d6a6f;
    color: var(--slate-grey);
  }
  .lb-filter-headdesc{
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #5d6a6f;
    color: var(--slate-grey);
  }
    .lb-filter-footer{
        font-family: MavenPro;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5d6a6f;
        color: var(--slate-grey);
    }
    .lb-ProductDesign{
        display: none;
    }
    .lb-Branding{
        display: none;
    }
@media screen and (min-width: 320px){
    .lb_filter_lg{
       display: none;
    }
    .work_selectdiv{
        width: 247px;
        margin: 0 auto;
    }
    .work_select{
        background-color: #fff;
        border: 1px solid #333;
        padding: 10px;
        border-radius: 16px;
    }
    select.work_select:focus {
        outline: none;
    }
    .lb_filter_mb{
       display: block;
    }
}
@media screen and (min-width: 768px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
}
@media screen and (min-width: 1025px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
}
@media screen and (min-width: 1367px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
    
}
