
.caseStudy{

    &__content1{
        margin: 150px 260px 140px 260px;
        border-left: 5px solid #2db2ea;
        padding: 0 0 0 100px;
    }
    &__cHead{
            padding-bottom: 23px;
    }
    &__cImg{
        margin: 0 165px;
        img{
            padding: 15px 10px;
            width: 100%;
            height: 100%;
        }
    }
    &__bgImg{
        margin-top: 120px;
        // background-image: url("../assets/images/caseStudy/group-5.png");
        min-height: 654px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        width: 60%;
            // text-align: center;
    }
    &__content2{
        width: 66%;
        padding-left: 163px;
    }
    &__bgImg1{
        margin-top: 120px;
        // background-image: url("../assets/images/caseStudy/group-6@3x.png");
        min-height: 654px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__content3{
        width: 36%;
        padding-right: 100px;
    }
    &__bgImg2{
        margin-top: 120px;
        // background-image: url("../assets/images/caseStudy/group-8.png");
        min-height: 654px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
            // text-align: center;
    }
    &__content4{
        width: 40%;
        padding-left: 120px;
    }
    &__content5{
        margin: 120px 167px 0 167px;
        position: relative;
    }
    &__cImg5{
        width: 75%;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: flex-end;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__cont{
        position: absolute;
        bottom: -15%;
        width: 45%;
    }
    &__eImg{
        margin-top: 120px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content6{
        margin: 190px 167px 220px 167px;
        position: relative;
    }
    &__cImg6{
        width: 75%;
        margin: 0 auto 0 0;
        // display: flex;
        // justify-content: flex-end;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__cont1{
        position: absolute;
        bottom: -15%;
        width: 45%;
        right: 0;
    }
    
    &__calImg{
        margin: 120px 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__imgSlide{
        padding: 0 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .slick-prev {
        left: 0;
        display: none !important;
      }
      .slick-next {
        right: 0;
        display: none !important;
      }
      .SceneImg{
          position: relative;
          img{
            width: 53%;
            position: absolute;
            right: 0;
            top: 11%;
          }
      }
      .SceneImg1{
          position: relative;
          img{
            width: 45%;
            position: absolute;
            top: 21%;
            left: 15%;
          }
      }
      .SceneImg2{
        position: relative;
        img{
            width: 45%;
            position: absolute;
            top: 20%;
            right: 12%;
        }
    }
}
@media screen and (max-width: 1366px){
    .caseStudy{

        &__content1{
            margin: 120px 122px 62px 122px;
            padding: 10px 0 10px 72px;
        }
    
    &__cImg{
        margin: 0 43px;
        img{
            padding: 10px 10px;
            }
        }
        &__bgImg{
            margin-top: 96px;
            min-height: 421px;
        }
        &__content2{
            width: 80%;
            padding-left: 44px;
        }
        .SceneImg{
            img{
                height: 260px;
                width: 50%;
                right: 0;
                top: 20%;
            }
        }
        &__bgImg1{
            margin-top: 98px;
            min-height: 421px;
        }
        &__content3{
            width: 45%;

        }
        .SceneImg1{
            img{
                width: 45%;
                top: 19%;
                left: 5%;
                height: 282px;
            }
        }
        &__bgImg2{
            margin-top: 96px;
            min-height: 421px;
        }
        &__content4{
            width: 45%;
            padding-left: 43px;
        }
        .SceneImg2{
            img{
                width: 45%;
                height: 282px;
                top: 17%;
                right: 7%;
            }
        }
        &__eImg{
            margin-top: 96px;
        }
        &__content5{
            margin: 96px 41px 0 41px;
            position: relative;
        }
        &__content6{
            margin: 160px 41px 160px 41px;
        }
        &__calImg{
            margin: 97px 0;
           
        }
    }
    
}
@media screen and (max-width: 1024px){
    .caseStudy{

        &__content1{
            margin: 80px 77px 80px 68px;
            padding: 5px 0 5px 59px;
        }
        &__cHead{
            padding-bottom: 11px;
        }
        &__cImg{
            margin: 0 65px;
            img{
                padding: 7px;
                }
            }  
            &__bgImg{
                margin-top: 65px;
                min-height: 286px;
                width: 71%;
            }
            &__content2{
                width: 80%;
                padding-left: 74px
            }
            .SceneImg{
                img{
                    height: 174px;
                    width: 38%;
                }
            }  
            &__bgImg1{
                margin-top: 64px;
                min-height: 344px;
            }
            &__content3{
                width: 53%;
                padding-right: 40px
    
            }
            .SceneImg1{
                img{
                    width: 38%;
                    top: 25%;
                    left: 5%;
                    height: 190px
                }
            }
            &__bgImg2{
                margin-top: 64px;
                min-height: 344px;
            }
            &__content4{
                width: 57%;
                padding-right: 40px;
            }
            .SceneImg2{
                img{
                    width: 37%;
                    height: 190px;
                    top: 20%;
                    right: 6%;
                
                }
            }
            &__eImg{
                margin-top: 64px;
            }
            &__content5{
                margin: 64px 11px 0 50px;
            }
            &__content6{
                margin: 150px 50px 150px 11px;
            }
            &__calImg{
                margin: 64px 0;
               
            }
    }
}
.csMobile{
    display: none;
}
@media screen and (max-width: 768px){
    .csHd{
        display: none;
    }
    .csMobile{
        display: flex;
    }
    .caseStudy{

        &__content1{
            margin: 42px 30px 35px 30px;
            padding: 2px 0 2px 22px;
        }
        &__cHead{
            padding-bottom: 11px;
        }
        &__cImg{
            margin: 0 30px;
            img{
                padding: 0 0 15px;
                }
            }  
            &__bgImg{
                margin-top: 35px;
                min-height: 337px;
                width: 100%;
                align-items: normal;
            }
            &__content2{
                width: 100%;
                padding: 30px;
            }
            .SceneImg{
                margin-bottom: 271px;
                img{
                    min-height: 174px;
                    width: 100%;
                    padding: 0 30px 0 22px;
                    top: 75%;
                    height: 100%;
                }
            }  
            &__bgImg1{
                margin-top: 35px;
                min-height: 460px;
                background-size: 100% 100%;
                align-items: flex-end;
            }
            &__content3{
                width: 100%;
                padding: 30px;
    
            }
            .SceneImg1{
                img{
                    width: 48%;
                    top: 26px;
                    left: 30%;
                    height: 161px
                }
            }
            &__bgImg2{

                background-size: 100% 100%;
                margin-top: 64px;
                margin-bottom: 55px;
                min-height: 430px;
                align-items: flex-start;
            }
            &__content4{
                width: 100%;
                padding: 31px;
            }
            .SceneImg2{
                img{
                    width: 75%;
                    height: 50%;
                    top: 57%;
                    right: 11%;
                
                }
            }
            &__eImg{
                margin-top: 35px;
            }
            &__content5{
                margin: 30px 35px 0 30px;
            }
            &__cImg5{
                width: 100%;
            }
            &__cont {
                position: relative;
                width: 100%;
                padding-top: 35px;
            }
            &__content6{
                margin:35px 30px 35px 30px;
            }
            &__cont1 {
                position: relative;
                width: 100%;
                padding: 35px 0;
            }
            &__cImg6{
                width: 100%;
            }
            &__calImg{
                margin: 64px 0;
               
            }
    }
}


