
body {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
.hello {
  border-bottom: 3px solid #ea1c49;
}
.transition {
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 2px 8px 20px 0 rgba(31, 32, 68, 0.25);
    transform: scale(1.01);
  }
}
body {
  line-height: 1;
}
a {
  text-decoration: none !important;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//Banner Code

// .bnrBdy{
//     padding: 0px 29px 0;
//     height: 100vh;
// }
// .bnr{
//     width: 100%;
//     position: fixed;
//     z-index: -1;
//     padding-top:38vh !important;
// }
.heroText {
  font-weight: 500;
    font-family: 'Rubik', sans-serif;
  order: 1;
  color: #393939;
}
.genericTitle2 {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  color: #393939;
}
.heroHighlight {
  color: #ea1c49;
}
.bnrText {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  order: 2;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #737373;
}
.lb_bdy {
  position: relative;
}
.hero {
  &_img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  &_cnt {
    margin: 0 auto;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    position: relative;
  }
  &_ptn {
    background: url(/assets/img/common/grid.png) scroll 0 0 no-repeat
      transparent;
    position: absolute;
    z-index: -1;
  }
}

@media screen and (min-width: 320px) {
  // HEADING BOLD
  .hebob{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
  }
  .hebom{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
  }
  .hebor{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
  }
  .heboo__large{
    font-size: 14px;
  }
  .heboo__medium{
    font-size: 12px;
  }
  .heboo__small{
    font-size: 10px;
  }
  .rubik{
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
  }
  .rubik__large{
    font-size: 20px;
    line-height: 1.2;
  }
  .rubik__medium{
    font-size: 17px;
  }
  .rubik__small{
    font-size: 13px;
  }
  .headingBold {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #393939;
    line-height: normal;
  }
  // HEADING LIGHT
  .headingLight {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #393939;
    font-size: 20px;
  }
  //  SUB HEADING
  .typography {
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #393939;
  }
  .csHeading {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size:17px;
    color: #393939;
    line-height: normal;
  }
  .aboutHeading{
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    font-size:13px;
    color: #393939;
    line-height: normal;
  }
  // PARAGRAPH
  .paragraph {
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #737373;
  }
  // BUTTON
  .commonButton {
    border: solid 2px #ea1c49;
    background-color: #ea1c49;
    border-radius: 25px;
    font-size: 12px;
    padding: 6px 12px;
    font-family: 'Heebo', sans-serif;
    color: #fff;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
  }
  .commonButton:hover {
    border: solid 2px #333;
    background-color: transparent;
    color: #333;
    // font-weight: bold;
  }
  .rajdhaniBold {
    font-family: 'RajdhaniBold';
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #000000;
  }
  .rajdhaniRegular {
    font-family: 'RajdhaniRegular';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.7px;
    color: #000000;
  }
  .ptSans {
    font-family: 'PtSansRegular';
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #000000;
  }
  .heroText {
    font-size: 20px;
  }
  .genericTitle2 {
    font-size: 17px;
    margin-top: 40px;
  }
  .bnrText {
    font-size: 12px;
    padding-top: 12px;
    span {
      color: red;
    }
  }
  .lb_bdy {
    margin-top: 50px;
    height: auto;
  }
  .hero {
    &_img {
      height: 380px;
    }
    &_cnt {
      width: 100%;
      padding: 24px 29px;
      margin-top: -48px;
    }
    &_ptn {
      display: none;
    }
  }
}

.input {
  width: 264px;
  // font-size: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #bfbfbf;
  margin: 12px 0px 6px;
  padding: 12px;
  outline: none;
  // font-family: 'PtSansRegular';
  padding: 12px 14px;
}
.input:hover,
input:focus {
  border: solid 2px #7d8d92;
}
textarea:hover,
textarea:focus {
  border: solid 2px #7d8d92;
}
@media screen and (min-width: 768px) {
  .heboo__large{
    font-size: 17px;
  }
  .heboo__medium{
    font-size: 14px;
  }
  .heboo__small{
    font-size: 12px;
  }
  .rubik__large{
    font-size: 28px;
  }
  .rubik__medium{
    font-size: 24px;
  }
  .rubik__small{
    font-size: 15px;
  }
  .headingBold {
    font-size: 28px;
  }
  .headingLight {
    font-size: 28px;
  }
  .typography {
    font-size: 17px;
  }
  .paragraph {
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 1.6;
  }
  .csHeading {
    font-size: 24px;
  }
  .aboutHeading{
    font-size: 15px;
  }
  .commonButton {
    font-size: 14px;
  }
  .rajdhaniBold {
    font-size: 36px;
  }
  .rajdhaniRegular {
    font-size: 32px;
  }
  .ptSans {
    font-size: 20px;
  }
  .input {
    // font-size: 14px;
    padding: 12px 10px;
  }
  .lb_bdy {
    margin-top: 50px;
  }
  .heroText {
    font-size: 28px;
  }
  .genericTitle2 {
    font-size: 24px;
  }
  .bnrText {
    font-size: 14px;
    padding: 16px 50px 0px 50px;
  }
  .hero {
    &_img {
      height: calc(380px + 80px);
    }
    &_cnt {
      width: 581px;
      padding: 32px 0px;
      margin-top: -80px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .heboo__large{
    font-size: 20px;
  }
  .heboo__medium{
    font-size: 17px;
  }
  .heboo__small{
    font-size: 14px;
  }
  .rubik__large{
    font-size: 31px;
  }
  .rubik__medium{
    font-size: 28px;
  }
  .rubik__small{
    font-size: 18px;
  }
  .headingBold {
    font-size: 31px;
  }
  .headingLight {
    font-size: 31px;
  }
  .typography {
    font-size: 20px;
  }
  .paragraph {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.4;
  }
  .csHeading {
    font-size: 28px;
    color: #393939;
  }
  .aboutHeading{
    font-size:18px;
  }
  .input {
    padding: 14px 10px;
    width: 300px;
  }
  .commonButton {
    border-radius: 20px;
    font-size: 17px;
    padding: 7px 12px;
  }
  .rajdhaniBold {
    font-size: 36px;
  }
  .rajdhaniRegular {
    font-size: 32px;
  }
  .ptSans {
    font-size: 20px;
  }

  .lb_bdy {
    height: calc(100vh + 140px);
  }
  .heroText {
    font-size: 31px;
  }
  .genericTitle2 {
    font-size: 28px;
  }
  .bnrText {
    font-size: 17px;
    padding: 20px 80px 0px 80px;
  }
  .hero {
    &_img {
      height: calc(100vh - 80px);
    }
    &_cnt {
      width: 780px;
      padding: 48px 0px;
      margin-top: -106px;
    }
    &_ptn {
      display: block;
      width: 159px;
      height: 160px;
      bottom: -73px;
      left: -73px;
      z-index: -1;
      background-size: contain;
    }
  }
}

@media screen and (min-width: 1367px) {
  .heboo__large{
    font-size: 20px;
  }
  .heboo__medium{
    font-size: 17px;
  }
  .heboo__small{
    font-size: 14px;
  }
  .rubik__large{
    font-size: 42px;
  }
  .rubik__medium{
    font-size: 31px;
  }
  .rubik__small{
    font-size: 18px;
  }
  .lb_bdy {
    height: 960px;
  }

  .backgroundImage {
    background-color: #42a1fa;
  }
  .backgroundenigma {
    background-color: #fddd4e;
  }
  .backgroundgroome {
    background-color: #030303;
  }
  .backgroundhash {
    background-color: #eeeced;
  }
  .backEnigma {
    background-color: #f6fef9;
  }
  .backMyb {
    background-color: #fff7de;
  }
  .backXpe {
    background-color: #bd193b;
  }
  .backGaft {
    background-color: #ffe72a;
  }
  .backGov {
    background-color: #010b1a;
  }
  .backOpm {
    background-color: #05749e;
  }
  .calender2017 {
    background-color: #000203;
  }
  .calender2018 {
    background-color: #009edf;
  }
  .hero_img {
    background-size: 1400px 100%;
    height: 710px;
  }

  .headingBold {
    font-size: 42px;
  }
  .headingLight {
    font-size: 42px;
  }
  .typography {
    font-size: 20px;
  }
  .paragraph {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 1.8;
  }
  .csHeading {
    font-size: 31px;
  }
  .aboutHeading{
    font-size:18px;
  }
  .commonButton {
    border-radius: 28px;
    font-size: 17px;
    padding: 8px 16px;
  }

  .bnr {
    padding: 0 0 0% 18%;
  }
  .heroText {
    font-size: 42px;
    line-height: 55px;
  }
  .genericTitle2 {
    font-size: 31px;
  }
  .bnrText {
    font-size: 17px;
    padding: 24px 90px 0px 90px;
  }
  .hero {
    &_cnt {
      width: 920px;
      padding: 80px 0px;
      margin-top: -155px;
    }
    &_ptn {
      display: block;
      width: 198px;
      height: 199px;
      bottom: -90px;
      left: -90px;
    }
  }
}
.padding-0 {
  padding: 0 !important;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: #333 !important;
}

.row:after,
.row:before {
  content: normal;
}
li.lb_work_filterli:hover {
  color: #ea1c49;
}
.loader-overlay {
  // background: url('/assets/img/loader.gif') center no-repeat #fff;

  // background-size: 450px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
   /* Set a default minimum width */
  // margin-left: 18px; /* Divide value of min-width by 2 */
  background-color: #5d6a6f; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 3px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
 /* Center the snackbar */
  top: 80px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 80px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  #snackbar{
    width: 90%;
    right: 0px;
    left: 0px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  #snackbar{
    width: 40%;
    right: 30%;
  }
}
@media screen and (min-width: 1024px) {
  #snackbar{
    width: 40%;
    right: 30%;
  }
}
@media screen and (min-width: 1366px) {
  #snackbar{
    width: 40%;
    right: 30%;
  }
}