
@font-face {
    font-family: 'MavenPro-Medium';
    src: url('/assets/font/MavenPro-Medium.ttf');
}
@font-face {
    font-family: 'MavenPro-Bold';
    src: url('/assets/font/MavenPro-Bold.ttf');
}
@font-face {
    font-family: 'MavenPro-Regular';
    src: url('/assets/font/MavenPro-Regular.ttf');
}
@font-face {
    font-family: 'PT_Sans-Regular';
    src: url('/assets/font/PT_Sans-Web-Regular.ttf');
}
@font-face {
    font-family: 'latoBold';
    src: url('/assets/font/Lato-Bold.ttf');
}
@font-face {
    font-family: 'latoRegular';
    src: url('/assets/font/Lato-Regular.ttf');
}
@font-face {
    font-family: 'latoLight';
    src: url('/assets/font/Lato-Light.ttf');
} 
@font-face {
    font-family: 'quicksandRegular';
    src: url('/assets/font/quicksandRegular.ttf');
} 
@font-face {
    font-family: 'quicksandLight';
    src: url('/assets/font/quicksandLight.ttf');
} 
@font-face {
    font-family: 'quicksandSemibold';
    src: url('/assets/font/quicksandSemibold.ttf');
} 
@font-face {
    font-family: 'quicksandBold';
    src: url('/assets/font/quicksandBold.ttf');
} 
@font-face {
    font-family: 'robotoRegular';
    src: url('/assets/font/robotoRegular.ttf');
} 
@font-face {
    font-family: 'robotoLight';
    src: url('/assets/font/robotoRegular.ttf');
} 
@font-face {
    font-family: 'robotoBold';
    src: url('/assets/font/robotoRegular.ttf');
} 
@font-face {
    font-family: 'PtSansRegular';
    src: url('/assets/font/PT_Sans-Web-Regular.ttf');
} 
body{
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



//Banner Code

// .bnrBdy{
//     padding: 0px 29px 0;
//     height: 100vh;
// }
// .bnr{
//     width: 100%;
//     position: fixed;
//     z-index: -1;
//     padding-top:38vh !important;
// }
.heroText{
    font-family: "MavenPro-Medium";
    order: 1;
}
.heroHighlight{
    color: #ea1c49;
}
.bnrText{
    font-family: "PT_Sans-Regular";
    letter-spacing: 1px;
    order: 2;
    line-height: 1.5;
}
.lb_bdy{
    position: relative;
}
.hero{
    &_img{
        background-position: center center;
        background-size: cover;
        background-repeat:no-repeat;
        width: 100%;
    }
    &_cnt{
        margin: 0 auto;
        background: #fff;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        position: relative;
    }
    &_ptn{
        background: url(/assets/img/common/grid.png) scroll 0 0 no-repeat transparent;
        position: absolute;
        z-index: -1;
    }
}

@media screen and (min-width: 320px){
    .headingBold{
    font-family: 'MavenPro-Medium';
    font-size: 24px;
    font-weight: 500;
    color: #393939;
}
.headingLight{
    font-family:'MavenPro-Regular';
    font-size: 24px;
    font-weight: normal;
    color: #393939;
}
.typography{
    font-size: 12px;
    font-family: 'MavenPro-Bold';
    font-weight: bold;
    color: #393939;
}
.paragraph{
    font-family:'PT_Sans-Regular';
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #393939;
}
    .heroText{
        font-size: 24px;
    }
    .bnrText{
      font-size: 12px;
      padding-top: 16px;
    }
    .lb_bdy{
        margin-top: 70px;
        height: auto;
    }
    .hero{
        &_img{
            height: 380px;
        }
        &_cnt{
            width: 100%;
            padding: 24px 29px;
            margin-top: -48px;
        }
        &_ptn{
            display: none;
        }
    }
}
// BUTTON 

.commonButton{
    border-radius: 16px;
    border: solid 2px #022b3b;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'PT_Sans-Regular';
    color: #393939;
    outline: none;
    text-align: center;
}
.commonButton:hover{
    border: solid 2px #ea1c49;
    background-color: #ea1c49;
    color: #fff;
}
.input{
    width: 264px;
    font-size: 12px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #bfbfbf;
    margin: 12px 0px 6px;
    padding: 12px;
    outline: none;
    font-family: 'PtSansRegular';
    padding: 12px 14px;
  }
  .input:hover,input:focus{
    border: solid 2px #7d8d92;
  }
  textarea:hover,textarea:focus{
    border: solid 2px #7d8d92;
  }
@media screen and (min-width: 768px){
    .headingBold{
        font-size:32px;
    }
    .headingLight{
        font-size: 32px;
    }
    .typography{
        font-size: 16px;
    }
    .paragraph{
        font-size: 14px;
    }
    .input{
        font-size: 14px;
        padding: 12px 10px;
    }
    .lb_bdy{
        margin-top: 80px;
    }
    .heroText{
        font-size: 32px;
    }
    .bnrText{
      font-size: 14px;
      padding-top: 24px;
    }
    .hero{
        &_img{
            height: calc(380px + 80px); 
        }
        &_cnt{
            width: 581px;
            padding: 32px 0px;
            margin-top: -80px;
        }
    }
}

@media screen and (min-width: 1025px){
    .headingBold{
        font-size:40px;
    }
    .headingLight{
        font-size: 40px;
    }
    .typography{
        font-size:20px;
    }
    .paragraph{
        font-size: 16px;
    }
    .input{
        padding: 14px 10px;
    }
    .commonButton{
        border-radius: 20px;
        font-size: 16px;
        padding: 10px 41px;
    }
    

    .lb_bdy{
        height: calc(100vh + 160px);
    }
    .heroText{
        font-size: 40px;
    }
    .bnrText{
      font-size: 17px;
      padding-top: 30px;
    }
    .hero{
        &_img{
            height: calc(100vh - 80px);
        }
        &_cnt{
            width: 780px;
            padding: 48px 0px;
            margin-top: -106px;
        }
        &_ptn{
            display: block;
            width: 159px;
            height: 160px;
            bottom: -73px;
            left: -73px;
            z-index: -1;
            background-size: contain;
        }
    }
}

@media screen and (min-width: 1367px){
    .headingBold{
        font-size:48px;
    }
    .headingLight{
        font-size: 48px;
    }
    .typography{
        font-size:24px;
    }
    .paragraph{
        font-size:20px;
    }
    .commonButton{
        border-radius: 28px;
        font-size: 20px;
    }
    
    .bnr{
      padding:0 0 0% 18%;
    }
    .heroText{
        font-size: 48px;
    }
    .bnrText{
      font-size: 20px;
      padding-top: 35px;
    }
    .hero{
        &_cnt{
            width: 920px;
            padding: 80px 0px;
            margin-top: -155px;
        }
        &_ptn{
            display: block;
            width: 198px;
            height: 199px;
            bottom: -90px;
            left: -90px;
        }
    }
}
.padding-0{
    padding: 0 !important;
}