@font-face {
    font-family: 'montserrat-bold';
    src: url("../font/Montserrat-Bold_0.ttf");
}

@font-face {
    font-family: 'montserrat-light';
    src: url("../font/montserrat-light.ttf");
}

@font-face {
    font-family: 'montserrat-regular';
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'raleway-bold';
    src: url("../font/Raleway-Bold.ttf");
}

@font-face {
    font-family: 'raleway-italic';
    src: url("../font/Raleway-Italic.ttf");
}

@font-face {
    font-family: 'raleway-light';
    src: url("../font/Raleway-Light.ttf");
}

@font-face {
    font-family: 'raleway-medium';
    src: url("../font/Raleway-Medium.ttf");
}

@font-face {
    font-family: 'raleway-regular';
    src: url("../font/Raleway-Regular.ttf");
}

@font-face {
    font-family: 'raleway-thin';
    src: url("../font/Raleway-Thin.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}