
.footer{
 
  &__inner{
    font-size: 48px;
    font-family: 'MavenPro-Regular';
    color: #393939;
    padding: 80px 0 0 164px;
    h1{
      margin-bottom: 10px;
      margin-top: 15px;
    }
    a{
      font-size: 20px;
      text-decoration: none;
    }
  }
  &__bottom{
    // position: absolute;
    // bottom: 40px;
    // width: 100%;
    // text-align: center;
    div{
      display: inline-block;
      font-family: 'MavenPro-Bold';
      font-size: 16px;
      color: #ffffff;
    }
    &__div{
      text-align: left;
    }
    &__div1{
      text-align: center;
      img{
        width: 23px;
        height: 23px;
        margin-right: 5px;
      }
      .behance{
        width: 28px;
        height: 28px;
      }
    }
    &__div2{
      text-align: right;
    }
  }
}
@media screen and (min-width: 1024px) {
.footer{
  height: 500px;
  position: relative;
  &__image{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top,#ff698f,#ff84a1);
   z-index: -1;
  }
  &__img{
    width: 870px;
    position: static;
    display: flex;
    margin: 0 auto;
    z-index: 999;
    padding-top:22px;
  }
&__inner{
  position: absolute;
    top: -91px;
  font-size: 40px;
  padding: 80px 0 0 68px;
  a{
    font-size: 20px;
  }
  h1{
    padding-bottom: 16px;
  }
}
&__bottom{
  bottom:16px;
  display: flex;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  padding: 78px 42px 37px 42px;
  margin: 0 auto;
justify-content: space-between;
  div{
    font-size: 16px;
    img{
      width: 21px;
      height: 21px;
    }
    .behance{
      width: 25px;
      height: 25px;
    }
  }
}
}
}

@media screen and (max-width: 1023px) {
.footer{
  height: 500px;
  position: relative;
  &__image{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top,#ff698f,#ff84a1);
   z-index: -1;
  }
  &__img{
    width:600px;
    position: static;
    display: flex;
    margin: 0 auto;
    z-index: 999;
    padding-top:3px;
  }
&__inner{
  position: unset;
  font-size: 32px;
  padding: 48px 0 0 68px;
  a{
    font-size: 14px;
  }
  h1{
    padding-bottom: 16px;
  }
}
&__bottom{
  bottom:16px;
  display: flex;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  padding: 55px 35px 24px 35px;
  margin: 0 auto;
  justify-content: space-between;
  div{
    font-size: 12px;
    img{
      width: 21px;
      height: 21px;
    }
    .behance{
      width: 25px;
      height: 25px;
    }
  }
}
}
}
@media screen and (max-width: 767px) {
.footer{
  height: 300px;
  position: relative;
  &__image{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to top,#ff698f,#ff84a1);
   z-index: -1;
  }
  &__img{
    width:320px;
    padding-top:33px;
  }
&__inner{
  position: unset;
  font-size: 24px;
  padding: 0px 0 0 24px;
  a{
    font-size: 14px;
  }
  h1{
    padding-bottom: 8px;
  }
}
&__bottom{
  bottom:16px;
  display: flex;
  height: 100%;
  align-items: flex-end;
  width: 100%;
  padding: 40px 15px 16px 15px;
  margin: 0 auto;
  justify-content: space-between;
  div{
    font-size: 8px;
    img{
      width: 8px;
      height: 8px;
    }
    .behance{
      width: 10px;
      height: 10px;
    }
  }
}
}
}



 /*footer ends*/
 @media screen and (min-width: 1367px) {
  .footer{
    height: 600px;
    position: relative;
    &__image{
      position: absolute;
      bottom: 0px;
      width: 100%;
      background: linear-gradient(to top,#ff698f,#ff84a1);
     z-index: -1;
    }
    &__img{
      width: 941px;
      position: absolute;
      right: 0;
      bottom: 19px;
    }
  &__inner{
    position: absolute;
    top: -91px;
    font-size: 40px;
    padding: 82px 0 0 168px;
     h1{
      padding-bottom: 32px;
    }
    a{
      font-size: 20px;
    }
   
  }

  &__bottom{
    bottom:16px;
    display: flex;
    height: 100%;
    align-items: flex-end;
    width: 100%;
    padding: 78px 165px 37px 165px;
   margin: 0 auto;
   justify-content: space-between;

    div{
      font-size: 16px;
      img{
        width: 28px;
        height: 28px;
      }
      .behance{
        width: 28px;
        height: 28px;
      }
    }
  }
  }
  }
