/*footer css starts*/
.lb-footer{
    width: 100%;
    display: table;
 }
 .lb-footer-section{
    display: table-cell;
    width: 33.33%;
 }
 .lb-icon-align{
    text-align: center;
 }
 .lb-footer-textalign{
    text-align: right;
 }
 
 .headerButton{
   opacity: 0.92;
   border-radius: 25px !important;
   border: solid 2px #022b3b !important;
   font-family: "PT_Sans-Regular" !important;
   font-size: 14px !important;
   text-align: center !important;
   color: #022b3b !important;
   background-color: #fff !important;
   padding: 5px 20px !important;
   outline: none;
 }
 @media only screen and (min-width: 320px){
   .cd-header{
     background-color: #fff!important;
     box-shadow: 0 10px 6px -6px #eee;
   }
   .lb-footer-section{
     font-size: 8px;
   }
   .cd-primary-nav.is-visible{
     background-color: #fff;
   }
   .cd-primary-nav.is-visible>li>a{
     font-family: "MavenPro-Bold" !important;
     font-size: 24px !important;
     color: #393939 !important;
     text-decoration: none;
   }
   .cd-primary-nav li:last-child a{
     width: auto;
     border-radius: 0;
     background-color: #fff;
     box-shadow: none;
   }
   .cd-primary-nav-trigger{
     background-color: #fff !important;
   }
 }
 @media only screen and (min-width: 768px){
   .lb-footer-section{
     font-size: 14px;
   }
 }
 @media only screen and (min-width: 1025px){
   .lb-footer-section{
     font-size:  14px;
   }
 }
 @media only screen and (min-width: 1367px){
   .lb-footer-section{
     font-size:  14px;
   }
 }
 /*footer ends*/