@font-face {
  font-family: 'MavenPro-Medium';
  src: url("/assets/font/MavenPro-Medium.ttf"); }

@font-face {
  font-family: 'MavenPro-Bold';
  src: url("/assets/font/MavenPro-Bold.ttf"); }

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("/assets/font/MavenPro-Regular.ttf"); }

@font-face {
  font-family: 'PT_Sans-Regular';
  src: url("/assets/font/PT_Sans-Web-Regular.ttf"); }

@font-face {
  font-family: 'latoBold';
  src: url("/assets/font/Lato-Bold.ttf"); }

@font-face {
  font-family: 'latoRegular';
  src: url("/assets/font/Lato-Regular.ttf"); }

@font-face {
  font-family: 'latoLight';
  src: url("/assets/font/Lato-Light.ttf"); }

@font-face {
  font-family: 'quicksandRegular';
  src: url("/assets/font/quicksandRegular.ttf"); }

@font-face {
  font-family: 'quicksandLight';
  src: url("/assets/font/quicksandLight.ttf"); }

@font-face {
  font-family: 'quicksandSemibold';
  src: url("/assets/font/quicksandSemibold.ttf"); }

@font-face {
  font-family: 'quicksandBold';
  src: url("/assets/font/quicksandBold.ttf"); }

@font-face {
  font-family: 'robotoRegular';
  src: url("/assets/font/robotoRegular.ttf"); }

@font-face {
  font-family: 'robotoLight';
  src: url("/assets/font/robotoRegular.ttf"); }

@font-face {
  font-family: 'robotoBold';
  src: url("/assets/font/robotoRegular.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bnrBdy {
  padding: 0px 29px 0;
  height: 100vh; }

.bnr {
  width: 100%;
  position: fixed;
  z-index: -1;
  padding-top: 38vh !important; }

.heroText {
  font-family: "MavenPro-Medium";
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.heroHighlight {
  color: #ea1c49; }

.bnrText {
  font-family: "PT_Sans-Regular";
  letter-spacing: 1px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

@media screen and (min-width: 320px) {
  .bnr {
    padding: 0 29px 0% 0px; }
  .heroText {
    font-size: 24px; }
  .bnrText {
    font-size: 14px;
    padding-top: 0px; } }

@media screen and (min-width: 768px) {
  .bnr {
    padding: 0 0 0% 65px; }
  .heroText {
    font-size: 48px; }
  .bnrText {
    font-size: 17px;
    padding-top: 24px; } }

@media screen and (min-width: 1025px) {
  .bnr {
    padding: 0 0 0% 21px; }
  .heroText {
    font-size: 48px; }
  .bnrText {
    font-size: 17px;
    padding-top: 30px; } }

@media screen and (min-width: 1367px) {
  .lb_bdy {
    padding-left: 0; }
  .bnr {
    padding: 0 0 0% 18%; }
  .heroText {
    font-size: 60px; }
  .bnrText {
    font-size: 20px;
    padding-top: 30px; } }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
  background-color: white; }

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden; }

a {
  color: white;
  text-decoration: none; }

/* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }

.cd-container:after {
  content: "";
  display: table;
  clear: both; }

/* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
html, body {
  height: 100%; }

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
            box-shadow: 0 10px 6px -6px #eee; }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: 0px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .cd-header.is-visible {
    top: -80px;
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    /*background-color: rgba(2, 23, 37, 0.96); */
    background: #f8f9f9 !important; } }

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em; }

.cd-logo img {
  display: block;
  height: 50px; }

@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em; } }

.cd-secondary-nav {
  position: absolute;
  top: 60%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3em;
  /* hidden on small devices */
  display: none; }

.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em; }

.cd-secondary-nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Nunito;
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 10px; }

.cd-secondary-nav a:active, .cd-secondary-nav a:hover, .cd-secondary-nav a:focus {
  text-decoration: none;
  border-bottom: 3px solid #ea1c49; }

.cd-secondary-navLasta:active, .cd-secondary-navLasta:hover, .cd-secondary-navLasta:focus {
  text-decoration: none;
  border-bottom: none;
  outline: none; }

/* .headerActive{
    border-bottom: 3px solid #ea1c49;
  } */
.cd-secondary-nav li:last-child a {
  /* background-color:#ffffff;
          border: solid 1px #d7c4a7; */
  text-decoration: none;
  border-radius: 4px;
  /* background-color: #00c6c6;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); */ }

.cd-secondary-nav li:last-child a:active, .cd-secondary-nav li:last-child a:hover, .cd-secondary-nav li:last-child a:focus {
  text-decoration: none;
  border-bottom: none; }

/* .cd-secondary-nav li :last-child button{
            color:#cab18b;
           border:none;
           outline:none;
           text-align:center;
           width:100%;
           height: 31px;
           border-radius: 4px;
  } */
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block; } }

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav a {
    font-family: Lato;
    font-size: 16px; } }

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: white; }

.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none; }

.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #00c6c6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */ }

.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00c6c6;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s; }

.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px; }

.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #00c6c6; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block; }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%); } }

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f8f9f9;
  z-index: 2;
  text-align: center;
  padding: 90px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  padding: 16px 0px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: capitalize; }

.cd-primary-nav li:last-child {
  border-bottom: none; }

.cd-primary-nav li:last-child a {
  width: 80%;
  text-decoration: none;
  border-radius: 4px;
  background-color: #00c6c6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }

.cd-primary-nav li :last-child button {
  border: none;
  outline: none;
  text-align: center;
  background-color: #00c6c6;
  width: 100%;
  height: 31px;
  border-radius: 4px; }

.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: #4a4a4a; }

.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em; }

.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em; }

.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.cd-primary-nav .cd-facebook a {
  background-position: 0 0; }

.cd-primary-nav .cd-instagram a {
  background-position: -44px 0; }

.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0; }

.cd-primary-nav .cd-twitter a {
  background-position: -132px 0; }

.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0; }
  .cd-primary-nav-trigger {
    display: none; } }

@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem; }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem; } }

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem; } }

@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px; } }

.cd-main-content {
  position: relative;
  z-index: 1; }

.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0; }

@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem; } }

/*menu css*/
.landingImg {
  width: 100%; }

.Groome-footer {
  background: -webkit-gradient(linear, right top, left top, from(#ffe2e4), color-stop(33%, #ffeef1), to(#f0f0f0));
  background: linear-gradient(to left, #ffe2e4 0%, #ffeef1 33%, #f0f0f0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }

/*canvas { position: fixed; touch-action: none; }*/
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 100%;
  border: none; }

.close1 {
  float: right; }

.close1:hover,
.close1:focus {
  cursor: pointer; }

@media only screen and (min-width: 320px) {
  .contactHeading {
    width: 320px;
    margin: 0 auto; }
  .contactHeader {
    width: 175px;
    font-family: 'MavenPro-Regular';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #5d6a6f;
    margin: 70px auto 0px;
    text-align: center; }
    .contactHeader span {
      color: #ea1c49; }
  .contact1 {
    width: 320px;
    margin: 0 auto; }
    .contact1 h2 {
      font-family: 'MavenPro-Regular';
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #5d6a6f; }
    .contact1__form h2 {
      margin: 12px 0px; }
    .contact1__form button {
      width: 100px;
      height: 32px;
      border-radius: 16px;
      border: solid 2px #022b3b;
      background-color: white;
      font-family: 'MavenPro-Regular';
      font-size: 14px;
      text-align: center;
      color: #393939;
      margin: 12px 0px 0px 0px; }
    .contact1__form input {
      width: 264px;
      height: 40px;
      font-size: 12px;
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #bfbfbf;
      margin: 12px 0px 6px;
      padding: 12px;
      outline: none; }
    .contact1__form textarea {
      width: 262px;
      height: 115px;
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #979797;
      padding: 12px;
      outline: none;
      resize: none; }
    .contact1__company h2 {
      margin: 24px 0px 12px; }
    .contact1__company h3 {
      font-family: 'MavenPro-Regular';
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      color: #7d8d92;
      line-height: 1.5; }
    .contact1__image img {
      width: 154px;
      height: 137px;
      margin: 16px 46px 24px; } }

@media only screen and (min-width: 767px) {
  .contactHeading {
    width: 700px; }
  .modal-content {
    height: 100%; }
  .contactHeader {
    width: 700px;
    font-size: 32px;
    margin: 68px auto 64px;
    text-align: left; }
  .contact1 {
    width: 700px;
    margin: 0 auto; }
    .contact1 h2 {
      font-size: 12px; }
    .contact1__form h2 {
      margin: 12px 0px 12px; }
    .contact1__form button {
      margin: 12px 0px 0px 0px;
      display: block; }
    .contact1__form input {
      width: 220px;
      margin: 0px 0px 12px; }
    .contact1__form textarea {
      width: 220px;
      height: 115px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 12px; }
    .contact1__company h2 {
      margin: 27px 0px 12px; }
    .contact1__company h3 {
      font-size: 12px; }
    .contact1__image img {
      width: 100%;
      height: 182px;
      margin: 115px 0px 0px; } }

@media only screen and (min-width: 1024px) {
  .contactHeading {
    width: 936px; }
  .contactHeader {
    width: 936px;
    font-size: 40px;
    margin: 100px auto 80px; }
  .contact1 {
    width: 936px;
    margin: 0 auto; }
    .contact1 h2 {
      font-size: 12px; }
    .contact1__form h2 {
      margin: 12px 0px 16px;
      font-size: 16px; }
    .contact1__form button {
      width: 130px;
      height: 40px;
      margin: 32px 0px 0px 0px;
      font-size: 16px; }
    .contact1__form input {
      width: 300px;
      margin: 0px 0px 16px;
      font-size: 14px; }
    .contact1__form textarea {
      font-size: 14px;
      width: 300px;
      height: 160px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 6px; }
    .contact1__company h2 {
      font-size: 24px;
      margin: 24px 0px 6px; }
    .contact1__company h3 {
      font-size: 14px; }
    .contact1__image img {
      margin-top: 90px;
      height: 255px; } }

@media only screen and (min-width: 1440px) {
  .contactHeading {
    width: 1125px; }
  .contactHeader {
    width: 1125px;
    font-size: 48px;
    margin: 140px auto 120px; }
  .contact1 {
    width: 1125px;
    margin: 0 auto; }
    .contact1__form h2 {
      margin: 12px 0px 16px;
      font-size: 16px; }
    .contact1__form button {
      width: 160px;
      height: 56px;
      margin: 32px 0px 0px 0px;
      font-size: 16px; }
    .contact1__form input {
      width: 350px;
      margin: 0px 0px 16px;
      font-size: 14px; }
    .contact1__form textarea {
      font-size: 14px;
      width: 350px;
      height: 160px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 6px; }
    .contact1__company h2 {
      font-size: 24px;
      margin: 24px 0px 6px; }
    .contact1__company h3 {
      font-size: 16px; }
    .contact1__image img {
      margin-top: 90px;
      height: 300px; } }

/*footer css starts*/
.headerButton {
  opacity: 0.92;
  border-radius: 25px !important;
  border: solid 2px #022b3b !important;
  font-family: "PT_Sans-Regular" !important;
  font-size: 14px !important;
  text-align: center !important;
  color: #022b3b !important;
  background-color: #fff !important;
  padding: 5px 20px !important;
  outline: none; }

.footer {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("/assets/img/common/footer-3.png");
  background-repeat: no-repeat;
  height: 760px; }
  .footer__inner {
    font-size: 48px;
    font-family: 'MavenPro-Regular';
    color: #393939;
    padding: 80px 0 0 164px; }
    .footer__inner a {
      padding: 12px 30px 14px;
      border-radius: 28px;
      border: solid 2px #022b3b;
      font-family: 'PT_Sans-Regular';
      font-size: 20px;
      color: #393939; }
  .footer__bottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 0 0 5%; }
    .footer__bottom div {
      width: 30%;
      display: inline-block;
      font-family: 'MavenPro-Bold';
      font-size: 16px;
      color: #7d8d92; }
    .footer__bottom__div {
      text-align: left; }
    .footer__bottom__div1 {
      text-align: center; }
    .footer__bottom__div2 {
      text-align: right; }

@media screen and (max-width: 1366px) {
  .footer {
    height: 760px; }
    .footer__inner {
      font-size: 40px;
      padding: 80px 0 0 42px; }
      .footer__inner a {
        font-size: 20px; } }

@media screen and (max-width: 1023px) {
  .footer {
    height: 460px; }
    .footer__inner {
      font-size: 32px;
      padding: 48px 0 0 34px; }
      .footer__inner a {
        font-size: 14px; }
    .footer__bottom {
      bottom: 16px; }
      .footer__bottom div {
        font-size: 12px; } }

@media screen and (max-width: 767px) {
  .footer {
    height: 460px; }
    .footer__inner {
      font-size: 24px;
      padding: 24px 0 0 24px; }
      .footer__inner a {
        font-size: 14px; }
    .footer__bottom {
      bottom: 16px; }
      .footer__bottom div {
        font-size: 8px; } }

@media screen and (max-width: 600px) {
  .footer {
    height: 300px; } }

@media screen and (max-width: 420px) {
  .footer__inner {
    padding: 2px 0 0 24px; }
    .footer__inner h1 {
      margin-bottom: 5px; }
    .footer__inner a {
      padding: 5px 18px 6px; } }

/*footer ends*/
body {
  overflow-x: hidden; }

.commonHeader {
  z-index: 11; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }
  .banner:after {
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #E0005E;
    opacity: 0.90; }
  .banner_content {
    z-index: 11; }
  .banner__img {
    height: 73px;
    width: 73px;
    padding-bottom: 60px; }

video {
  margin: 0 auto;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 860px; }

.detailBg {
  background-color: #E0005E; }

.slick-dots {
  bottom: -50px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .slick-dots {
      bottom: -40px; } }

.slick-dots li {
  margin: 0px 10px; }

.slick-dots li button:before {
  font-size: 30px; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
  font-size: 30px; }

.banner__subtitle {
  padding: 25px 0 20px;
  font-family: Montserrat-bold;
  font-size: 20px;
  letter-spacing: .02em;
  line-height: 28px;
  margin: 0;
  width: 90%;
  margin: 0 auto; }

.banner__mintitle {
  font-family: Montserrat-bold;
  font-size: 17px;
  letter-spacing: .02em;
  padding-bottom: 5px; }

.banner__himg {
  padding: 10px 17px; }

.commonHeight__mainImg {
  margin-bottom: 30px;
  height: 232px;
  width: 280px; }

.commonHeight__footer {
  font-size: 12px;
  padding-top: 30px;
  font-family: Raleway-medium;
  padding-bottom: 20px;
  color: #fff;
  margin: 0; }

.info {
  padding-top: 60px;
  text-align: center;
  width: 900px;
  margin: 0 auto; }
  .info__text1 {
    color: #4D4D4D;
    font-family: Montserrat-bold;
    font-size: 22px;
    line-height: 28PX;
    letter-spacing: .02em;
    margin: 0; }
  .info__text2 {
    color: #4D4D4D;
    font-family: Montserrat-bold;
    font-size: 22px;
    line-height: 28PX;
    letter-spacing: .02em;
    margin-top: 60px;
    margin-bottom: 60px; }
  .info__read {
    color: #FFF;
    -webkit-transform: translate(-220px, 165px);
            transform: translate(-220px, 165px); }
  .info__dock {
    padding-left: 50px; }

.chip {
  position: relative;
  margin: 30px auto;
  margin-bottom: 0;
  background: linear-gradient(150deg, #F72B2B, #E0005E);
  height: 238px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .chip__comma {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35%;
    left: 42%; }
  .chip__comma1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 52%;
    right: 8%; }
  .chip__logo {
    height: 25px;
    position: absolute;
    top: 40%;
    left: 6%;
    width: 125px;
    padding-right: 30px;
    border-right: 1px solid white;
    padding-bottom: 60px; }
  .chip__content {
    color: white;
    position: absolute;
    top: 34%;
    left: 48%;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .05em;
    font-family: Raleway-medium; }
  .chip__read {
    position: absolute;
    top: 60%;
    left: 48%;
    color: #FFF;
    font-family: Raleway-medium;
    font-size: 13px;
    letter-spacing: .05em; }

.challenge {
  text-align: center;
  margin-top: 60px;
  font-family: Raleway-italic; }
  .challenge__heading {
    color: #414042;
    text-align: center;
    font-family: Montserrat-bold;
    font-size: 17px;
    letter-spacing: .02em;
    line-height: 20px;
    margin-bottom: 10px; }
  .challenge hr {
    color: #414042;
    margin: 0 auto;
    width: 70px;
    border: 2px solid #414042;
    background-color: #414042; }
  .challenge__content {
    color: #4D4D4D;
    font-size: 14px;
    font-family: Raleway-regular;
    line-height: 22px;
    letter-spacing: .05em;
    width: 80%;
    margin: 60px auto 0; }
  .challenge__img {
    width: 720px;
    height: 352px;
    margin: 50px auto 0; }
  .challenge__italic {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .05em; }

.solution {
  font-family: Raleway-bold;
  background-color: #FF5254;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px; }
  .solution__heading {
    color: #fff;
    padding-top: 60px;
    font-size: 17px;
    letter-spacing: .02em;
    line-height: 28px;
    font-family: Montserrat-bold;
    margin-bottom: 10px; }
  .solution hr {
    margin: 0 auto;
    width: 70px;
    border: 2px solid white;
    background-color: white; }
  .solution__content {
    color: white;
    font-size: 14px;
    font-family: Raleway-regular;
    line-height: 22px;
    letter-spacing: .05em;
    width: 80%;
    margin: 30px auto 0; }
  .solution__img {
    margin: 0 auto;
    width: 720px;
    height: 352px; }

.GIT {
  padding: 0;
  margin: 0;
  text-align: center; }
  .GIT__last {
    margin-top: 60px; }
  .GIT__heading {
    margin-top: 60px;
    color: #414042;
    font-size: 17px;
    font-family: Montserrat-bold;
    letter-spacing: .02em;
    line-height: 28px;
    margin-bottom: 10px; }
  .GIT hr {
    margin: 0 auto 60px;
    border: 2px solid #414042;
    width: 70px;
    background-color: #414042; }
  .GIT__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    margin: 0 auto;
    width: 900px; }
    .GIT__box hr {
      border: 2px solid #ea2046;
      color: #4D4D4D;
      margin: 20px auto;
      width: 60px;
      background-color: #ea2046; }
  .GIT__box1 {
    padding: 3%;
    width: 230px;
    height: 208px; }
  .GIT__box2 {
    padding: 3%;
    margin: 0 5%;
    width: 230px;
    height: 208px; }
  .GIT__box3 {
    padding: 3%;
    font-size: 18px;
    width: 230px;
    height: 208px; }
  .GIT__num {
    font-size: 50px;
    font-family: Montserrat-bold;
    margin-top: 20px;
    margin-bottom: 0;
    color: #ea2046; }
  .GIT__para {
    font-size: 13px;
    line-height: 24px;
    font-family: montserrat-bold;
    color: #414042; }
  .GIT__last {
    color: white;
    padding: 55px;
    background-color: #292425;
    margin-top: 80px; }
  .GIT__last--heading {
    font-family: Montserrat-bold;
    font-size: 17px;
    letter-spacing: .02em; }
  .GIT__btn {
    background-color: #f1123e;
    border: 2px solid #f1123e;
    border-radius: 15px;
    padding: 8px 15px;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "raleway-bold";
    cursor: pointer; }
    .GIT__btn:hover {
      background-color: transparent;
      border: 2px solid #f1123e; }

@media screen and (min-width: 1866px) and (max-width: 2560px) {
  .commonHeight__mainImg {
    height: 316px;
    width: 380px; }
  .banner__subtitle {
    font-size: 30px;
    letter-spacing: .02em;
    line-height: 40px; }
  .banner__mintitle {
    line-height: 34px;
    font-size: 24px; }
  .challenge {
    margin-top: 100px; }
    .challenge__img {
      width: 1384px;
      height: 677px; }
    .challenge__heading {
      font-size: 24px;
      line-height: 34px;
      margin-top: 0;
      padding-bottom: 25px;
      margin-bottom: 0; }
    .challenge hr {
      width: 100px; }
    .challenge__italic {
      font-size: 18px;
      line-height: 26px; }
    .challenge__content {
      font-size: 18px;
      line-height: 26px;
      width: 1390px;
      margin-top: 45px; }
  .solution {
    padding-bottom: 100px;
    margin-top: 100px; }
    .solution video {
      margin-top: 100px;
      margin-bottom: 50px;
      width: 860px; }
    .solution__img {
      width: 1384px;
      height: 677px; }
    .solution__heading {
      font-size: 24px;
      line-height: 34px;
      padding-bottom: 20px;
      margin-bottom: 0;
      margin-top: 100px;
      padding-top: 100px; }
    .solution hr {
      width: 100px;
      background-color: #fff; }
    .solution__content {
      font-size: 18px;
      line-height: 26px;
      width: 1390px;
      margin-top: 50px;
      padding-bottom: 50px; }
  .chip {
    width: 790px;
    height: 416px;
    margin-bottom: 0; }
    .chip__content {
      font-size: 24px;
      line-height: 35px; }
    .chip__read {
      font-size: 14px; }
    .chip__logo {
      left: 16%; }
    .chip__comma1 {
      right: 13%; }
  .info {
    width: 1390px;
    padding-top: 100px; }
    .info__text1 {
      font-size: 32px;
      line-height: 40px; }
    .info__text2 {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 100px; }
  .GIT__heading {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px; }
  .GIT hr {
    width: 100px; }
  .GIT__box {
    width: 1400px; }
  .GIT__box1 {
    width: 330px;
    height: 300px; }
  .GIT__box2 {
    width: 330px;
    height: 300px;
    margin: 0 6%; }
  .GIT__box3 {
    width: 330px;
    height: 300px; }
  .GIT__num {
    font-size: 80px;
    margin-top: 45px; }
  .GIT__para {
    font-size: 16px;
    line-height: 30px; }
  .GIT__last--heading {
    font-size: 24px;
    line-height: 34px; } }

@media screen and (min-width: 1366px) and (max-width: 1865px) {
  .commonHeight__mainImg {
    height: 274px;
    width: 330px; }
  .banner__subtitle {
    font-size: 22px;
    line-height: 32px; }
  .banner__mintitle {
    font-size: 18px; }
  .challenge {
    margin-top: 80px; }
    .challenge__img {
      width: 1024px;
      height: 501px; }
    .challenge__heading {
      font-size: 18px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 10px; }
    .challenge__italic {
      font-size: 16px;
      line-height: 24px; }
    .challenge__content {
      font-size: 16px;
      line-height: 24px;
      width: 1050px; }
  .solution {
    padding-bottom: 80px; }
    .solution video {
      margin-top: 50px; }
    .solution__img {
      width: 1024px;
      height: 501px; }
    .solution__heading {
      font-size: 18px;
      padding-top: 80px;
      margin-bottom: 10px; }
    .solution__content {
      font-size: 16px;
      line-height: 24px;
      width: 1050px;
      margin-top: 40px;
      margin-bottom: 40px; }
  .chip {
    width: 534px;
    height: 282px;
    margin-top: 0;
    margin-bottom: 0; }
    .chip__content {
      font-size: 16px;
      line-height: 24px; }
    .chip__read {
      font-size: 13px; }
    .chip__logo {
      left: 9%; }
    .chip__comma1 {
      right: 11%; }
  .info {
    width: 1050px;
    padding-top: 80px; }
    .info__text1 {
      font-size: 24px;
      line-height: 32px; }
    .info__text2 {
      font-size: 24px;
      line-height: 32px;
      margin-top: 80px;
      margin-bottom: 80px; }
  .GIT__heading {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px; }
  .GIT__box {
    width: 1200px; }
  .GIT__box1 {
    width: 280px;
    height: 208px; }
  .GIT__box2 {
    width: 280px;
    height: 208px;
    margin: 0 6%; }
  .GIT__box3 {
    width: 280px;
    height: 208px; }
  .GIT__num {
    font-size: 70px; }
  .GIT__para {
    font-size: 14px;
    line-height: 26px; }
  .GIT__last--heading {
    font-size: 18px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .scroll-downs {
    display: none; }
  .detailBg {
    background-color: #E0005E;
    height: 630px; }
  .banner__img {
    height: 63px;
    width: 63px;
    padding-bottom: 40px; }
  .banner::after {
    height: 630px; }
  .detailTabHeight {
    padding: 0 !important; }
  .comHeight {
    padding: 0; }
  .commonHeight {
    padding: 0; }
  .banner__subtitle {
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 25px;
    padding: 20px 0 15px; }
  .banner__mintitle {
    font-size: 15px; }
  .banner__himg {
    padding: 7px; }
  .commonHeight {
    padding: 0; }
    .commonHeight__mainImg {
      height: 200px;
      width: 240px;
      margin-bottom: 30px; }
  .info {
    padding-top: 40px;
    width: 690px; }
    .info__text1 {
      font-size: 20px;
      line-height: 25px; }
    .info__text2 {
      font-size: 20px;
      line-height: 25px;
      margin-top: 40px;
      margin-bottom: 40px; }
  .GIT {
    text-align: center; }
    .GIT__heading {
      font-size: 15px;
      line-height: 20px;
      margin-top: 40px;
      margin-bottom: 10px; }
    .GIT__last {
      margin-top: 40px; }
    .GIT hr {
      margin-bottom: 40px; }
    .GIT__box {
      padding: 0;
      width: 600px; }
      .GIT__box hr {
        margin: 5px auto; }
    .GIT__box1 {
      padding: 1%;
      width: 160px;
      height: 145px; }
    .GIT__box2 {
      padding: 1%;
      width: 160px;
      height: 145px;
      margin: 0 7%; }
    .GIT__box3 {
      padding: 1%;
      width: 160px;
      height: 145px; }
    .GIT__num {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: 0; }
    .GIT__para {
      font-size: 12px;
      line-height: 22px; }
    .GIT__last--heading {
      font-size: 15px; }
  .banner__footer {
    padding-top: 0px;
    padding-bottom: 10px; }
  .banner__apple {
    padding-bottom: 40px; }
  .banner__android {
    padding-bottom: 40px; }
  .chip {
    width: 430px;
    height: 227px;
    margin-top: 0;
    margin-bottom: 0; }
    .chip__comma {
      width: 18px;
      height: 18px; }
    .chip__comma1 {
      width: 18px;
      height: 18px; }
    .chip__logo {
      width: 95px;
      border-right: 1px solid white;
      padding-right: 5%;
      margin: 0;
      height: 25px;
      padding-bottom: 50px; }
    .chip__content {
      font-size: 14px;
      line-height: 20px; }
    .chip__read {
      font-size: 12px; }
  .challenge {
    margin-top: 40px; }
    .challenge__content {
      margin: 20px auto 0;
      font-size: 13px;
      line-height: 20px; }
    .challenge__img {
      width: 520px;
      height: 254px; }
    .challenge__italic {
      font-size: 13px;
      line-height: 20px; }
    .challenge__heading {
      font-size: 15px;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 10px; }
  .solution {
    width: 100%;
    margin-top: 40px; }
    .solution video {
      margin-top: 0;
      margin-bottom: 0;
      width: 476.279px; }
    .solution__heading {
      padding-top: 40px;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 10px; }
    .solution__img {
      width: 520px;
      height: 254px; }
    .solution__content {
      margin: 20px auto 0;
      font-size: 13px;
      line-height: 20px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .scroll-downs {
    display: none; }
  .banner {
    height: 495px;
    position: relative;
    padding-bottom: 40px; }
    .banner__img {
      height: 53px;
      width: 53px;
      padding-bottom: 30px; }
  .detailBg {
    background-color: #E0005E;
    height: 490px; }
  .detailTabHeight {
    padding: 0 !important; }
  .banner__subtitle {
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 20px;
    padding: 15px 0 10px; }
  .banner__mintitle {
    font-size: 14px; }
  .banner__himg {
    padding: 2px 11px; }
  .commonHeight__mainImg {
    margin-bottom: 30px;
    height: 132px;
    width: 160px; }
  .GIT {
    text-align: center;
    padding-top: 20px; }
    .GIT__heading {
      margin-top: 30px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px; }
    .GIT hr {
      width: 50px;
      margin-bottom: 30px; }
    .GIT__boxes {
      margin: 0; }
    .GIT__box {
      display: block;
      width: 164px; }
      .GIT__box hr {
        margin: 5px auto; }
    .GIT__box1 {
      font-size: 14px;
      width: 160px;
      height: 145px;
      margin: 0;
      padding: 1%; }
    .GIT__box2 {
      font-size: 14px;
      width: 160px;
      height: 145px;
      margin: 25px 0;
      padding: 1%; }
    .GIT__box3 {
      font-size: 14px;
      width: 160px;
      height: 145px;
      margin: 0;
      padding: 1%; }
    .GIT__num {
      font-size: 35px;
      margin-top: 15px;
      margin-bottom: 0; }
    .GIT__para {
      font-size: 11px;
      line-height: 20px; }
    .GIT__last {
      font-size: 18px;
      height: 80px;
      margin-top: 30px;
      padding: 30px; }
    .GIT__last--heading {
      font-size: 14px; }
  .banner {
    height: 590px; }
    .banner__header {
      height: 155px; }
    .banner__content {
      padding: 0; }
    .banner__text {
      font-size: 24px;
      padding-bottom: 20px; }
    .banner__info {
      font-size: 14px;
      margin: 0;
      padding-bottom: 70px; }
    .banner__footer {
      padding-top: 0;
      padding-bottom: 15px;
      margin: 0;
      font-size: 12px; }
  .info {
    padding-top: 30px;
    width: 90%; }
    .info__text1 {
      font-size: 16px;
      line-height: 20px; }
    .info__text2 {
      font-size: 16px;
      line-height: 20px;
      margin-top: 30px;
      margin-bottom: 30px; }
    .info__dock {
      padding-left: 20px;
      margin: 0;
      height: 20px; }
  .chip {
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
    height: 140px; }
    .chip__comma {
      width: 10px;
      height: 10px;
      left: 37%;
      top: 37%; }
    .chip__comma1 {
      width: 10px;
      height: 10px;
      right: 4%;
      top: 61%; }
    .chip__logo {
      width: 65px;
      border-right: 1px solid white;
      padding-right: 10px;
      height: 15px;
      padding-bottom: 30px; }
    .chip__content {
      line-height: 17px;
      font-size: 12px;
      left: 41%; }
    .chip__read {
      color: #FFF;
      font-size: 11px;
      left: 41%;
      top: 63%; }
  .challenge {
    margin: 0;
    font-size: 11px; }
    .challenge__heading {
      margin-top: 30px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px; }
    .challenge__img {
      width: 267px;
      height: 130px;
      margin-top: 0; }
    .challenge__italic {
      font-size: 12px;
      line-height: 18px;
      width: 90%;
      margin: 0 auto; }
    .challenge hr {
      width: 50px; }
    .challenge__content {
      margin: 15px auto;
      font-size: 12px;
      line-height: 18px; }
  .solution {
    margin-top: 30px;
    padding-bottom: 30px; }
    .solution video {
      width: 280px; }
    .solution__img {
      width: 267px;
      height: 130px; }
    .solution__heading {
      padding-top: 30px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 10px; }
    .solution__content {
      margin: 15px auto;
      font-size: 12px;
      line-height: 18px; }
    .solution hr {
      width: 50px; } }
