@font-face {
  font-family: 'montserrat-bold';
  src: url("../font/Montserrat-Bold_0.ttf"); }

@font-face {
  font-family: 'montserrat-light';
  src: url("../font/montserrat-light.ttf"); }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../font/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'raleway-bold';
  src: url("../font/Raleway-Bold.ttf"); }

@font-face {
  font-family: 'raleway-italic';
  src: url("../font/Raleway-Italic.ttf"); }

@font-face {
  font-family: 'raleway-light';
  src: url("../font/Raleway-Light.ttf"); }

@font-face {
  font-family: 'raleway-medium';
  src: url("../font/Raleway-Medium.ttf"); }

@font-face {
  font-family: 'raleway-regular';
  src: url("../font/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'raleway-thin';
  src: url("../font/Raleway-Thin.ttf"); }

body,
.row,
h5,
h6 {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

@media screen and (min-width: 1866px) {
  .hero {
    margin: 0 auto; } }

.hero .slick-slide {
  outline: none; }

.hero .slick-dots {
  bottom: -45px;
  left: 0px; }

.hero .fadeIn {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s; }

.hero input[type=radio]:not(old) {
  width: 32px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  opacity: 0;
  display: none;
  cursor: pointer;
  -webkit-appearance: radio; }

.hero input[type=radio]:not(old) + label {
  display: inline-block;
  line-height: 24px;
  font-family: "raleway-regular";
  font-size: 14px;
  letter-spacing: 0px;
  word-spacing: 0px;
  line-height: 22px;
  margin-bottom: 30px;
  cursor: pointer; }

.hero input[type=radio]:not(old) + label > .select__radio {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 4px 8px;
  border: 1px solid #58595B;
  border-radius: 4px;
  vertical-align: bottom; }

.hero input[type=radio]:not(old):checked + label > .select__radio {
  border-color: #FF1A46;
  border-style: solid;
  border-width: 1px; }

.hero input[type=radio]:not(old):checked + label > .select__title {
  vertical-align: middle; }

.hero input[type=radio]:not(old):checked + label > .select__radio > span {
  display: block;
  width: 6px;
  height: 6px;
  margin: 3px;
  border: 1.1px solid #FF1A46;
  border-radius: 2px;
  background: #FF1A46; }

.hero input[type=radio]:not(old):checked + label > .select__title {
  font-weight: bolder;
  color: #FF1A46;
  font-family: "raleway-bold"; }

.hero .commonHeight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  color: #fff; }
  .hero .commonHeight__img {
    margin-bottom: 0;
    width: 250px;
    height: 239px; }
  .hero .commonHeight__heading {
    font-size: 30px;
    font-family: "montserrat-bold";
    letter-spacing: 0.01em;
    line-height: 40px; }
  .hero .commonHeight__para {
    font-family: 'raleway-medium';
    font-size: 14px;
    width: 60%;
    margin: 20px auto;
    line-height: 22px;
    letter-spacing: 0.05em; }

.hero .blogHeight {
  padding: 40px 0 100px; }

.hero .blog-row {
  padding: 80px 0px;
  width: 914px;
  margin: 0 auto; }
  .hero .blog-row .selectSection__title {
    font-family: "montserrat-bold";
    font-size: 22px;
    line-height: 30px;
    letter-spacing: .02em; }
  .hero .blog-row .selectSection__border {
    border-bottom: 4px solid #414042;
    width: 60px;
    margin-bottom: 50px;
    margin-top: 5px; }

.hero .blog-filter {
  margin-bottom: 40px; }
  .hero .blog-filter__img {
    width: 100%;
    height: 178px;
    vertical-align: middle; }

.hero .selectSection__title {
  font-family: "montserrat-bold";
  font-size: 22px;
  line-height: 42px; }

@media screen and (min-width: 1866px) and (max-width: 2560px) {
  .hero .selectSection__border {
    border-bottom: 4px solid #414042;
    width: 60px;
    margin-bottom: 50px;
    margin-top: 5px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero input[type="radio"]:not(old) + label {
    font-size: 13px;
    line-height: 20px; }
  .hero .apst-button {
    display: inherit; }
  .hero .blog-filter__img {
    width: 100%;
    height: 269px;
    vertical-align: middle; }
  .hero .commonHeight {
    height: 100%;
    padding: 4rem 0rem 3rem 0rem; }
    .hero .commonHeight__heading {
      font-size: 24px;
      letter-spacing: 0.01em;
      line-height: 30px; }
    .hero .commonHeight__para {
      font-size: 13px;
      letter-spacing: 0.05em;
      line-height: 20px;
      width: 70%;
      margin: 8px auto; }
    .hero .commonHeight__img {
      height: 191px;
      width: 200px; }
  .hero .comHeight {
    padding-top: 8rem; }
  .hero .blog-row {
    width: 710px; }
    .hero .blog-row .selectSection__title {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: .02em; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero input[type="radio"]:not(old) + label {
    font-size: 12px;
    font-family: "raleway-bold";
    margin: 0 12px 8px 0;
    line-height: 18px;
    word-spacing: .02em; }
  .hero input[type=radio]:not(old) {
    display: none; }
  .hero .commonHeight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0rem 0rem 3rem 0rem; }
    .hero .commonHeight__heading {
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.01em;
      width: 90%;
      margin: 0 auto; }
    .hero .commonHeight__para {
      font-size: 12px;
      letter-spacing: 0.05em;
      line-height: 18px;
      width: 70%;
      margin: 8px auto; }
    .hero .commonHeight__img {
      height: 130px;
      width: 136px;
      margin-top: 125px; }
  .hero .comHeight {
    height: 100%;
    padding: 10rem 0 4rem; }
  .hero .selectInput {
    display: inline;
    text-align: center; }
  .hero .radioSection {
    margin: 0 auto;
    padding-top: 15px;
    text-align: center; }
  .hero .blog-filter__img {
    width: 100%;
    height: 154px; } }

@media only screen and (min-width: 1366px) and (max-width: 1866px) {
  .hero .commonHeight__heading {
    font-size: 38px;
    letter-spacing: 0.01em; }
  .hero .commonHeight__para {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em; }
  .hero .commonHeight__img {
    height: 287px;
    width: 300px; }
  .hero input[type="radio"]:not(old) + label {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px; }
  .hero .blog-row {
    width: 1144px; }
    .hero .blog-row .selectSection__title {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: .02em; }
  .hero .blog-filter__img {
    width: 100%;
    height: 218px; } }

@media only screen and (min-width: 1866px) and (max-width: 2560px) {
  .hero .commonHeight__heading {
    font-size: 46px;
    line-height: 55px;
    letter-spacing: 0.01em; }
  .hero .commonHeight__para {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05em; }
  .hero .commonHeight__img {
    height: 365px;
    width: 380px; }
  .hero input[type="radio"]:not(old) + label {
    font-size: 18px;
    line-height: 26px; }
  .hero .blog-row {
    width: 1648px; }
    .hero .blog-row .selectSection__title {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: .02em; }
  .hero .blog-filter__img {
    width: 100%;
    height: 218px; } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero .drop_arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .hero .apst-button {
    display: inherit; }
  .hero .mobileDropDown {
    padding: 1rem 0rem;
    display: block;
    padding-bottom: 40px; }
    .hero .mobileDropDown__menu {
      width: 80%;
      height: auto;
      background-color: #FFF;
      margin: 0 auto;
      position: absolute;
      left: 27px;
      -webkit-box-shadow: 0px 0px 3px 1px #e6e6e6;
              box-shadow: 0px 0px 3px 1px #e6e6e6;
      border-bottom-left-radius: 5px; }
      .hero .mobileDropDown__menu ul {
        padding: 0px;
        margin: 0; }
        .hero .mobileDropDown__menu ul li {
          color: #58595B;
          text-transform: capitalize;
          font-size: 12px;
          letter-spacing: 0.02em;
          font-family: 'montserrat-regular';
          text-align: left;
          margin: 0;
          padding: 15px 25px 15px 25px;
          list-style: none;
          cursor: pointer; }
          .hero .mobileDropDown__menu ul li:hover {
            color: #FA1928; }
    .hero .mobileDropDown__container {
      width: 80%;
      height: 27px;
      margin: 0 auto;
      position: relative;
      border: 2px solid #7f7f7f;
      border-radius: 5px; }
      .hero .mobileDropDown__container h1 {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.02em;
        font-family: 'montserrat-bold';
        text-align: center;
        margin: 0;
        line-height: 27px; }
      .hero .mobileDropDown__container i {
        position: absolute;
        right: 5px;
        top: 3px;
        font-size: 20px; }
    .hero .mobileDropDown__title {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: .02em;
      text-align: center;
      font-family: "montserrat-bold"; }
    .hero .mobileDropDown__border {
      border-bottom: 4px solid #414042;
      width: 60px;
      margin: 5px auto 25px; }
  .hero .blog-row {
    padding: 40px 0 0px;
    width: 268px; }
    .hero .blog-row .selectSection {
      display: none; }
      .hero .blog-row .selectSection__title {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .02em;
        text-align: center; }
      .hero .blog-row .selectSection__border {
        margin: 5px auto 25px; }
  .hero .blog-filter {
    padding-left: 0;
    padding-right: 0; }
  .hero .blog_commom-row {
    width: 100%;
    margin: 0; } }

.button-xs {
  font-size: 10px;
  padding: 10px 14px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.button-xs {
  font-size: 10px;
  padding: 10px 14px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.button-sm {
  font-size: 10px;
  padding: 10px 14px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.button-md {
  font-size: 12px;
  padding: 14px 20px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.button-lg {
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.button-xl {
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 12px;
  font-family: "montserrat-bold"; }

.scroll-downs {
  position: absolute;
  bottom: 50px;
  left: 49%;
  width: 34px;
  height: 55px; }

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 25px;
  position: absolute;
  bottom: 50px;
  z-index: 11; }

.scroller {
  width: 4px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; } }

.details-italics {
  font-family: Montserrat-light !important;
  font-style: italic !important;
  font-weight: 100; }

/*scroll button*/
.apst-wrapper {
  display: none;
  position: fixed;
  z-index: 9;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  bottom: 20px;
  margin-left: -40px;
  right: 15px; }

.apst-button {
  position: relative;
  width: 45px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 25px; }

/* end of scroll*/
.mobileDropDown {
  display: none; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
  background-color: white; }

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden; }

a {
  color: white;
  text-decoration: none; }

/* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }

.cd-container:after {
  content: "";
  display: table;
  clear: both; }

/* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
html, body {
  height: 100%; }

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
            box-shadow: 0 10px 6px -6px #eee; }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: 0px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .cd-header.is-visible {
    top: -80px;
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    /*background-color: rgba(2, 23, 37, 0.96); */
    background: #f8f9f9 !important; } }

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em; }

.cd-logo img {
  display: block;
  height: 50px; }

@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em; } }

.cd-secondary-nav {
  position: absolute;
  top: 60%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3em;
  /* hidden on small devices */
  display: none; }

.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em; }

.cd-secondary-nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-family: Nunito;
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 10px; }

.cd-secondary-nav a:active, .cd-secondary-nav a:hover, .cd-secondary-nav a:focus {
  text-decoration: none;
  border-bottom: 3px solid #ea1c49; }

.cd-secondary-navLasta:active, .cd-secondary-navLasta:hover, .cd-secondary-navLasta:focus {
  text-decoration: none;
  border-bottom: none; }

/* .headerActive{
    border-bottom: 3px solid #ea1c49;
  } */
.cd-secondary-nav li:last-child a {
  /* background-color:#ffffff;
          border: solid 1px #d7c4a7; */
  text-decoration: none;
  border-radius: 4px;
  /* background-color: #00c6c6;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); */ }

.cd-secondary-nav li:last-child a:active, .cd-secondary-nav li:last-child a:hover, .cd-secondary-nav li:last-child a:focus {
  text-decoration: none;
  border-bottom: none; }

/* .cd-secondary-nav li :last-child button{
            color:#cab18b;
           border:none;
           outline:none;
           text-align:center;
           width:100%;
           height: 31px;
           border-radius: 4px;
  } */
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block; } }

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav a {
    font-family: Lato;
    font-size: 16px; } }

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: white; }

.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none; }

.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #00c6c6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */ }

.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00c6c6;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s; }

.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px; }

.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #00c6c6; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block; }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%); } }

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f8f9f9;
  z-index: 2;
  text-align: center;
  padding: 90px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  padding: 16px 0px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: capitalize; }

.cd-primary-nav li:last-child {
  border-bottom: none; }

.cd-primary-nav li:last-child a {
  width: 80%;
  text-decoration: none;
  border-radius: 4px;
  background-color: #00c6c6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }

.cd-primary-nav li :last-child button {
  border: none;
  outline: none;
  text-align: center;
  background-color: #00c6c6;
  width: 100%;
  height: 31px;
  border-radius: 4px; }

.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  font-family: Nunito;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: #4a4a4a; }

.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em; }

.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em; }

.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.cd-primary-nav .cd-facebook a {
  background-position: 0 0; }

.cd-primary-nav .cd-instagram a {
  background-position: -44px 0; }

.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0; }

.cd-primary-nav .cd-twitter a {
  background-position: -132px 0; }

.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0; }
  .cd-primary-nav-trigger {
    display: none; } }

@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem; }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem; } }

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem; } }

@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px; } }

.cd-main-content {
  position: relative;
  z-index: 1; }

.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0; }

@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem; } }

/*menu css*/
.landingImg {
  width: 100%; }

.Groome-footer {
  background: -webkit-gradient(linear, right top, left top, from(#ffe2e4), color-stop(33%, #ffeef1), to(#f0f0f0));
  background: linear-gradient(to left, #ffe2e4 0%, #ffeef1 33%, #f0f0f0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }

/*canvas { position: fixed; touch-action: none; }*/
/*footer css starts*/
.lb-footer {
  width: 100%;
  display: table; }

.lb-footer-section {
  display: table-cell;
  width: 33.33%; }

.lb-icon-align {
  text-align: center; }

.lb-footer-textalign {
  text-align: right; }

.headerButton {
  opacity: 0.92;
  border-radius: 25px !important;
  border: solid 2px #022b3b !important;
  font-family: "PT_Sans-Regular" !important;
  font-size: 14px !important;
  text-align: center !important;
  color: #022b3b !important;
  background-color: #fff !important;
  padding: 5px 20px !important; }

@media only screen and (min-width: 320px) {
  .cd-header {
    background-color: #fff !important;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
            box-shadow: 0 10px 6px -6px #eee; }
  .lb-footer-section {
    font-size: 8px; }
  .cd-primary-nav.is-visible {
    background-color: #fff; }
  .cd-primary-nav.is-visible > li > a {
    font-family: "MavenPro-Bold" !important;
    font-size: 24px !important;
    color: #393939 !important;
    text-decoration: none; }
  .cd-primary-nav li:last-child a {
    width: auto;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .cd-primary-nav-trigger {
    background-color: #fff !important; } }

@media only screen and (min-width: 768px) {
  .lb-footer-section {
    font-size: 14px; } }

@media only screen and (min-width: 1025px) {
  .lb-footer-section {
    font-size: 14px; } }

@media only screen and (min-width: 1367px) {
  .lb-footer-section {
    font-size: 14px; } }

/*footer ends*/
.hero .processBg {
  background-color: #B93961; }

.hero .processContent__lg {
  background-color: #1A1746; }

.hero .img1 {
  width: 250px; }

.hero .imgRight {
  /* position: relative;
        right: 1rem; */ }

.hero .processBgContent {
  background-color: #1A1746;
  padding: 60px 0;
  width: 800px;
  margin: 0 auto; }
  .hero .processBgContent__allign:last-child {
    padding-bottom: 0; }
  @media only screen and (min-width: 1966px) {
    .hero .processBgContent__leftSpacing {
      left: 7rem; } }
  .hero .processBgContent .processContent {
    width: 100%;
    color: #fff;
    position: relative;
    margin: 0 10px; }
    .hero .processBgContent .processContent__hLine {
      font-family: "montserrat-bold";
      letter-spacing: 0.65px;
      font-size: 26px;
      color: #ffc600;
      display: inline-block;
      border-top: 5px solid #ffc600;
      padding-top: 2px; }
    .hero .processBgContent .processContent__heading {
      font-size: 17px;
      font-family: "montserrat-bold";
      letter-spacing: 0.02em;
      line-height: 20px;
      margin-top: 25px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .hero .processBgContent .processContent__para {
      font-size: 12px;
      font-family: "raleway-light";
      line-height: 20px;
      letter-spacing: 0.01em;
      margin: 0px; }
    .hero .processBgContent .processContent__hr1 {
      border-bottom: 4px solid #ffc600;
      margin-right: 304px; }
    .hero .processBgContent .processContent__hr2 {
      border-bottom: 4px solid #ffc600;
      margin-left: 304px; }
    .hero .processBgContent .processContent__nmbr {
      font-family: "montserrat-bold";
      letter-spacing: 0.65px;
      font-size: 26px;
      color: #ffc600; }
    .hero .processBgContent .processContent__line {
      width: 8rem;
      top: 16rem;
      position: absolute; }
    .hero .processBgContent .processContent__line1 {
      width: 7rem;
      top: 15rem;
      position: absolute;
      right: 0; }
  .hero .processBgContent__allign {
    padding-bottom: 90px; }
  .hero .processBgContent__allign1 {
    padding-right: 0px; }
  .hero .processBgContent__alignRight {
    text-align: right;
    float: right;
    position: relative; }
  .hero .processBgContent__adjust1 {
    padding-left: 0px;
    padding-right: 0px; }
  .hero .processBgContent__adjust2 {
    padding-left: 0px;
    padding-right: 0px; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero .img1 {
    width: 170px; }
  .hero .processBgContent {
    background-color: #1A1746;
    padding: 40px 0px;
    width: 620px;
    margin: 0 auto; }
    .hero .processBgContent__img {
      width: 170px;
      margin-left: 10px; }
    .hero .processBgContent__leftSpacing {
      padding: 0; }
    .hero .processBgContent .processContent {
      color: #fff;
      position: relative; }
      .hero .processBgContent .processContent__line {
        width: 7rem;
        top: 12rem;
        position: absolute;
        right: 7rem; }
      .hero .processBgContent .processContent__line1 {
        width: 7rem;
        top: 12rem;
        position: absolute; }
      .hero .processBgContent .processContent__heading {
        font-size: 15px;
        font-family: "montserrat-bold";
        letter-spacing: 0.02em;
        line-height: 18px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .hero .processBgContent .processContent__hLine {
        font-family: "montserrat-bold";
        letter-spacing: 0.65px;
        font-size: 24px;
        color: #ffc600;
        display: inline-block;
        border-top: 3px solid #ffc600;
        padding-top: 2px; }
      .hero .processBgContent .processContent__para {
        font-size: 11px;
        font-family: "raleway-light";
        line-height: 19px;
        letter-spacing: 0.01em; }
    .hero .processBgContent__allign {
      padding-bottom: 90px; }
    .hero .processBgContent__allign1 {
      padding-right: 0px; }
    .hero .processBgContent__alignRight {
      text-align: right;
      float: right;
      position: relative; }
    .hero .processBgContent__adjust1 {
      padding-left: 0px;
      padding-right: 0px;
      height: 203px; }
    .hero .processBgContent__adjust2 {
      padding-left: 0px;
      padding-right: 0px;
      height: 203px; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero .img1 {
    width: 136px;
    height: 136px; }
  .hero .processBgContent {
    background-color: #1A1746;
    padding: 0px;
    max-width: 75%;
    margin: 0 auto; }
    .hero .processBgContent__img {
      width: 70%;
      margin-left: 3rem; }
    .hero .processBgContent__leftSpacing {
      position: relative;
      left: 0rem; }
    .hero .processBgContent__allign {
      border-bottom: 1px dashed #00A49A; }
    .hero .processBgContent__allign:last-child {
      border: none;
      padding-bottom: 30px; }
    .hero .processBgContent .processContent {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      color: #fff;
      position: relative;
      text-align: center; }
      .hero .processBgContent .processContent__heading {
        font-size: 12px;
        font-family: "montserrat-bold";
        letter-spacing: 0.65px;
        margin-top: 0;
        padding-bottom: 20px;
        width: 200px;
        margin: 0 auto; }
      .hero .processBgContent .processContent__para {
        font-size: 10px;
        font-family: "raleway-light";
        line-height: 18px;
        letter-spacing: 0.01em;
        width: 90%;
        margin: 0 auto; }
      .hero .processBgContent .processContent__mobilePara {
        width: 100% !important; }
      .hero .processBgContent .processContent__hr1 {
        border-bottom: 4px solid #ffc600;
        margin-right: 304px; }
      .hero .processBgContent .processContent__hr2 {
        border-bottom: 4px solid #ffc600;
        margin-left: 304px; }
      .hero .processBgContent .processContent__nmbr {
        font-family: "montserrat-bold";
        letter-spacing: 0.65px;
        font-size: 26px;
        color: #ffc600; }
      .hero .processBgContent .processContent__hLine {
        font-family: "montserrat-bold";
        letter-spacing: 0.65px;
        font-size: 20px;
        color: #ffc600;
        display: inline-block;
        border-top: 3px solid #ffc600;
        padding-top: 2px;
        margin-top: 20px;
        margin-bottom: 15px; }
      .hero .processBgContent .processContent__line {
        width: 10rem;
        top: 15rem;
        position: absolute;
        display: none; }
      .hero .processBgContent .processContent__line1 {
        width: 10rem;
        top: 15rem;
        position: absolute;
        right: 0;
        display: none; }
    .hero .processBgContent__allign {
      padding: 30px 0px; }
    .hero .processBgContent__allign1 {
      padding-right: 0px; }
    .hero .processBgContent__alignRight {
      text-align: right;
      float: right;
      position: relative; }
    .hero .processBgContent__adjust1 {
      padding-left: 0px;
      padding-right: 0px; }
    .hero .processBgContent__adjust2 {
      padding-left: 0px;
      padding-right: 0px; } }

@media only screen and (min-width: 1366px) and (max-width: 1866px) {
  .hero .processBgContent {
    padding: 80px 0px;
    width: 1000px; }
    .hero .processBgContent .processContent {
      margin-left: 10px;
      margin-right: 10px .hero .processBgContent .processContent __line;
        margin-right-top: 16rem;
        margin-right-width: 8rem; }
      .hero .processBgContent .processContent__line1 {
        width: 8rem; }
      .hero .processBgContent .processContent__heading {
        font-size: 18px;
        letter-spacing: 0.02em;
        margin-top: 35px;
        line-height: 30px;
        margin-bottom: 30px; }
      .hero .processBgContent .processContent__para {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.01em; } }

@media only screen and (min-width: 1866px) {
  .hero .processBgContent {
    padding: 100px 0px;
    width: 1200px; }
    .hero .processBgContent__allign:last-child {
      padding-bottom: 0; }
    .hero .processBgContent .processContent__heading {
      font-size: 24px;
      letter-spacing: 0.02em;
      margin-top: 40px;
      line-height: 34px;
      margin-bottom: 35px; }
    .hero .processBgContent .processContent__para {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.01em; }
    .hero .processBgContent .processContent__line {
      width: 8rem;
      top: 19rem;
      position: absolute; }
    .hero .processBgContent .processContent__line1 {
      width: 8rem;
      top: 18rem;
      position: absolute;
      right: 0; } }
