@font-face {
  font-family: 'MavenPro-Medium';
  src: url("/assets/font/MavenPro-Medium.ttf"); }

@font-face {
  font-family: 'MavenPro-Bold';
  src: url("/assets/font/MavenPro-Bold.ttf"); }

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("/assets/font/MavenPro-Regular.ttf"); }

@font-face {
  font-family: 'PT_Sans-Regular';
  src: url("/assets/font/PT_Sans-Web-Regular.ttf"); }

@font-face {
  font-family: 'latoBold';
  src: url("/assets/font/Lato-Bold.ttf"); }

@font-face {
  font-family: 'latoRegular';
  src: url("/assets/font/Lato-Regular.ttf"); }

@font-face {
  font-family: 'latoLight';
  src: url("/assets/font/Lato-Light.ttf"); }

@font-face {
  font-family: 'quicksandRegular';
  src: url("/assets/font/quicksandRegular.ttf"); }

@font-face {
  font-family: 'quicksandLight';
  src: url("/assets/font/quicksandLight.ttf"); }

@font-face {
  font-family: 'quicksandSemibold';
  src: url("/assets/font/quicksandSemibold.ttf"); }

@font-face {
  font-family: 'quicksandBold';
  src: url("/assets/font/quicksandBold.ttf"); }

@font-face {
  font-family: 'robotoRegular';
  src: url("/assets/font/robotoRegular.ttf"); }

@font-face {
  font-family: 'robotoLight';
  src: url("/assets/font/robotoRegular.ttf"); }

@font-face {
  font-family: 'robotoBold';
  src: url("/assets/font/robotoRegular.ttf"); }

@font-face {
  font-family: 'PtSansRegular';
  src: url("/assets/font/PT_Sans-Web-Regular.ttf"); }

body {
  overflow-x: hidden; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.heroText {
  font-family: "MavenPro-Medium";
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.heroHighlight {
  color: #ea1c49; }

.bnrText {
  font-family: "PT_Sans-Regular";
  letter-spacing: 1px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  line-height: 1.5; }

.lb_bdy {
  position: relative; }

.hero_img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.hero_cnt {
  margin: 0 auto;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  position: relative; }

.hero_ptn {
  background: url(/assets/img/common/grid.png) scroll 0 0 no-repeat transparent;
  position: absolute;
  z-index: -1; }

@media screen and (min-width: 320px) {
  .headingBold {
    font-family: 'MavenPro-Medium';
    font-size: 24px;
    font-weight: 500;
    color: #393939; }
  .headingLight {
    font-family: 'MavenPro-Regular';
    font-size: 24px;
    font-weight: normal;
    color: #393939; }
  .typography {
    font-size: 12px;
    font-family: 'MavenPro-Bold';
    font-weight: bold;
    color: #393939; }
  .csHeading {
    font-family: 'MavenPro-Medium';
    font-size: 16px;
    font-weight: 500;
    color: #5d6a6f;
    line-height: normal; }
  .paragraph {
    font-family: 'PT_Sans-Regular';
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #393939; }
  .commonButton {
    border-radius: 16px;
    border: solid 2px #022b3b;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 20px;
    font-family: 'PT_Sans-Regular';
    color: #393939;
    outline: none;
    text-align: center;
    text-decoration: none; }
  .commonButton:hover {
    border: solid 2px #ea1c49;
    background-color: #ea1c49;
    color: #fff;
    -webkit-transition: background-color 500ms linear;
    transition: background-color 500ms linear; }
  .heroText {
    font-size: 24px; }
  .bnrText {
    font-size: 12px;
    padding-top: 16px; }
  .lb_bdy {
    margin-top: 70px;
    height: auto; }
  .hero_img {
    height: 380px; }
  .hero_cnt {
    width: 100%;
    padding: 24px 29px;
    margin-top: -48px; }
  .hero_ptn {
    display: none; } }

.input {
  width: 264px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #bfbfbf;
  margin: 12px 0px 6px;
  padding: 12px;
  outline: none;
  font-family: 'PtSansRegular';
  padding: 12px 14px; }

.input:hover, input:focus {
  border: solid 2px #7d8d92; }

textarea:hover, textarea:focus {
  border: solid 2px #7d8d92; }

@media screen and (min-width: 768px) {
  .headingBold {
    font-size: 32px; }
  .headingLight {
    font-size: 32px; }
  .typography {
    font-size: 16px; }
  .paragraph {
    font-size: 14px; }
  .csHeading {
    font-size: 24px; }
  .input {
    font-size: 14px;
    padding: 12px 10px; }
  .lb_bdy {
    margin-top: 80px; }
  .heroText {
    font-size: 32px; }
  .bnrText {
    font-size: 14px;
    padding-top: 24px; }
  .hero_img {
    height: calc(380px + 80px); }
  .hero_cnt {
    width: 581px;
    padding: 32px 0px;
    margin-top: -80px; } }

@media screen and (min-width: 1025px) {
  .headingBold {
    font-size: 40px; }
  .headingLight {
    font-size: 40px; }
  .typography {
    font-size: 20px; }
  .paragraph {
    font-size: 16px; }
  .csHeading {
    font-size: 24px; }
  .input {
    padding: 14px 10px; }
  .commonButton {
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px; }
  .lb_bdy {
    height: calc(100vh + 160px); }
  .heroText {
    font-size: 40px; }
  .bnrText {
    font-size: 17px;
    padding-top: 30px; }
  .hero_img {
    height: calc(100vh - 80px); }
  .hero_cnt {
    width: 780px;
    padding: 48px 0px;
    margin-top: -106px; }
  .hero_ptn {
    display: block;
    width: 159px;
    height: 160px;
    bottom: -73px;
    left: -73px;
    z-index: -1;
    background-size: contain; } }

@media screen and (min-width: 1367px) {
  .headingBold {
    font-size: 48px; }
  .headingLight {
    font-size: 48px; }
  .typography {
    font-size: 24px; }
  .paragraph {
    font-size: 20px; }
  .csHeading {
    font-size: 32px; }
  .commonButton {
    border-radius: 28px;
    font-size: 20px; }
  .bnr {
    padding: 0 0 0% 18%; }
  .heroText {
    font-size: 48px; }
  .bnrText {
    font-size: 20px;
    padding-top: 35px; }
  .hero_cnt {
    width: 920px;
    padding: 80px 0px;
    margin-top: -155px; }
  .hero_ptn {
    display: block;
    width: 198px;
    height: 199px;
    bottom: -90px;
    left: -90px; } }

.padding-0 {
  padding: 0 !important; }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
  background-color: white; }

body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden; }

a {
  color: white;
  text-decoration: none; }

/* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }

.cd-container:after {
  content: "";
  display: table;
  clear: both; }

/* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
html, body {
  height: 100%; }

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 70px;
  width: 100%;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: white;
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 10px 6px -6px #eee;
            box-shadow: 0 10px 6px -6px #eee; }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: 0px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .cd-header.is-visible {
    top: -80px;
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    /*background-color: rgba(2, 23, 37, 0.96); */
    background: #f8f9f9 !important; } }

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em; }

.cd-logo img {
  display: block;
  height: 50px; }

@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em; } }

.cd-secondary-nav {
  position: absolute;
  top: 60%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3em;
  /* hidden on small devices */
  display: none; }

.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em; }

.cd-secondary-nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'MavenPro-Bold';
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 10px; }

.cd-secondary-nav a:active, .cd-secondary-nav a:hover, .cd-secondary-nav a:focus {
  text-decoration: none; }

.cd-secondary-navLasta:active, .cd-secondary-navLasta:hover, .cd-secondary-navLasta:focus {
  text-decoration: none;
  border-bottom: none;
  outline: none; }

/* .headerActive{
    border-bottom: 3px solid #ea1c49;
  } */
.cd-secondary-nav li:last-child a {
  /* background-color:#ffffff;
          border: solid 1px #d7c4a7; */
  text-decoration: none;
  border-radius: 4px;
  /* background-color: #00c6c6;
           box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); */ }

.cd-secondary-nav li:last-child a:active, .cd-secondary-nav li:last-child a:hover, .cd-secondary-nav li:last-child a:focus {
  text-decoration: none;
  border-bottom: none; }

/* .cd-secondary-nav li :last-child button{
            color:#cab18b;
           border:none;
           outline:none;
           text-align:center;
           width:100%;
           height: 31px;
           border-radius: 4px;
  } */
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block; } }

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav a {
    font-family: 'MavenPro-Bold';
    font-size: 16px; } }

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: white; }

.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none; }

.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #00c6c6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */ }

.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00c6c6;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: top .3s, background-color 0s, -webkit-transform .3s;
  transition: transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s; }

.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px; }

.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #00c6c6; }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block; }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%); } }

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f8f9f9;
  z-index: 2;
  text-align: center;
  padding: 90px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  padding: 16px 0px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: capitalize; }

.cd-primary-nav li:last-child {
  border-bottom: none; }

.cd-primary-nav li:last-child a {
  width: 80%;
  text-decoration: none;
  border-radius: 4px;
  background-color: #00c6c6;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }

.cd-primary-nav li :last-child button {
  border: none;
  outline: none;
  text-align: center;
  background-color: #00c6c6;
  width: 100%;
  height: 31px;
  border-radius: 4px; }

.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  font-family: 'MavenPro-Bold';
  font-size: 16px;
  font-weight: bold;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: #393939; }

.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em; }

.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em; }

.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.cd-primary-nav .cd-facebook a {
  background-position: 0 0; }

.cd-primary-nav .cd-instagram a {
  background-position: -44px 0; }

.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0; }

.cd-primary-nav .cd-twitter a {
  background-position: -132px 0; }

.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 0; }
  .cd-primary-nav-trigger {
    display: none; } }

@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem; }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem; } }

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem; } }

@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px; } }

.cd-main-content {
  position: relative;
  z-index: 1; }

.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0; }

@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem; } }

/*menu css*/
.landingImg {
  width: 100%; }

.Groome-footer {
  background: -webkit-gradient(linear, right top, left top, from(#ffe2e4), color-stop(33%, #ffeef1), to(#f0f0f0));
  background: linear-gradient(to left, #ffe2e4 0%, #ffeef1 33%, #f0f0f0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }

/*canvas { position: fixed; touch-action: none; }*/
.modal1 {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 100%;
  border: none; }

.close1 {
  float: right; }
  .close1 img {
    width: 30px; }

.close1:hover,
.close1:focus {
  cursor: pointer; }

@media only screen and (min-width: 320px) {
  .myBtn {
    cursor: pointer; }
  .contactHeading {
    width: 320px;
    margin: 0 auto; }
  .contactHeader {
    width: 175px;
    font-family: 'MavenPro-Medium';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #5d6a6f;
    margin: 70px auto 0px;
    text-align: center; }
    .contactHeader span {
      color: #ea1c49; }
  .contact1 {
    width: 320px;
    margin: 0 auto; }
    .contact1 h2 {
      font-family: 'MavenPro-Bold';
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      text-align: left;
      color: #5d6a6f; }
    .contact1__form h2 {
      margin: 12px 0px; }
    .contact1__form input {
      margin: 12px 0px 6px; }
    .contact1__form button {
      margin: 12px 0px 0px;
      display: block; }
    .contact1__form textarea {
      width: 262px;
      height: 115px;
      border-radius: 8px;
      background-color: #ffffff;
      border: solid 1px #979797;
      padding: 12px;
      outline: none;
      resize: none;
      font-family: 'PtSansRegular';
      font-size: 12px; }
    .contact1__company h2 {
      margin: 24px 0px 12px; }
    .contact1__company h3 {
      font-family: 'PtSansRegular';
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      color: #7d8d92;
      line-height: 1.5; }
    .contact1__image img {
      width: 154px;
      height: 137px;
      margin: 16px 46px 24px; } }

@media only screen and (min-width: 767px) {
  .contactHeading {
    width: 700px; }
  .modal-content1 {
    height: 100%; }
  .contactHeader {
    width: 700px;
    font-size: 32px;
    margin: 68px auto 64px;
    text-align: left; }
  .contact1 {
    width: 700px;
    margin: 0 auto; }
    .contact1 h2 {
      font-size: 12px; }
    .contact1__form h2 {
      margin: 12px 0px 12px; }
    .contact1__form input {
      margin: 0px 0px 12px; }
    .contact1__form textarea {
      width: 220px;
      height: 115px;
      font-size: 14px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 12px; }
    .contact1__company h2 {
      margin: 27px 0px 12px; }
    .contact1__company h3 {
      font-size: 12px; }
    .contact1__image img {
      width: 100%;
      height: 182px;
      margin: 115px 0px 0px; } }

@media only screen and (min-width: 1024px) {
  .contactHeading {
    width: 936px; }
  .contactHeader {
    width: 936px;
    font-size: 40px;
    margin: 40px auto 50px; }
  .contact1 {
    width: 936px;
    margin: 0 auto; }
    .contact1 h2 {
      font-size: 12px; }
    .contact1__form h2 {
      margin: 12px 0px 16px;
      font-size: 16px; }
    .contact1__form input {
      margin: 0px 0px 16px; }
    .contact1__form textarea {
      font-size: 14px;
      width: 300px;
      height: 160px; }
    .contact1__form button {
      margin: 32px 0px 0px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 6px; }
    .contact1__company h2 {
      font-size: 24px;
      margin: 32px 0px 6px; }
    .contact1__company h3 {
      font-size: 14px; }
    .contact1__image img {
      margin-top: 90px;
      height: 255px; } }

@media only screen and (min-width: 1440px) {
  .contactHeading {
    width: 1125px; }
  .contactHeader {
    width: 1125px;
    font-size: 48px;
    margin: 50px auto 60px; }
  .contact1 {
    width: 1125px;
    margin: 0 auto; }
    .contact1__form h2 {
      margin: 12px 0px 16px;
      font-size: 16px; }
    .contact1__form input {
      margin: 0px 0px 16px; }
    .contact1__form textarea {
      font-size: 14px;
      width: 350px;
      height: 160px; }
    .contact1__form button {
      margin: 40px 0px 0px; }
    .contact1__company h2:nth-child(1) {
      margin: 0px 0px 6px; }
    .contact1__company h2 {
      font-size: 24px;
      margin: 24px 0px 6px; }
    .contact1__company h3 {
      font-size: 16px; }
    .contact1__image img {
      margin-top: 90px;
      height: 300px; } }

.cd-secondary-navli:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease; }

.cd-secondary-navli:hover:after {
  width: 100%;
  background: #ea1c49; }

/*footer css starts*/
.footer {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("/assets/img/common/footer-3.png");
  background-repeat: no-repeat;
  height: 760px; }
  .footer__inner {
    font-size: 48px;
    font-family: 'MavenPro-Regular';
    color: #393939;
    padding: 80px 0 0 164px; }
    .footer__inner h1 {
      margin-bottom: 10px;
      margin-top: 15px; }
    .footer__inner a {
      font-size: 20px;
      text-decoration: none; }
  .footer__bottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 0 0 5%; }
    .footer__bottom div {
      width: 30%;
      display: inline-block;
      font-family: 'MavenPro-Bold';
      font-size: 16px;
      color: #7d8d92; }
    .footer__bottom__div {
      text-align: left; }
    .footer__bottom__div1 {
      text-align: center; }
      .footer__bottom__div1 img {
        width: 23px;
        height: 23px;
        margin-right: 5px; }
      .footer__bottom__div1 .behance {
        width: 28px;
        height: 28px; }
    .footer__bottom__div2 {
      text-align: right; }

@media screen and (max-width: 1366px) {
  .footer {
    height: 760px; }
    .footer__inner {
      font-size: 40px;
      padding: 80px 0 0 42px; }
      .footer__inner a {
        font-size: 20px; } }

@media screen and (max-width: 1023px) {
  .footer {
    height: 460px; }
    .footer__inner {
      font-size: 32px;
      padding: 48px 0 0 34px; }
      .footer__inner a {
        font-size: 14px; }
    .footer__bottom {
      bottom: 16px; }
      .footer__bottom div {
        font-size: 12px; }
        .footer__bottom div img {
          width: 21px;
          height: 21px; }
        .footer__bottom div .behance {
          width: 25px;
          height: 25px; } }

@media screen and (max-width: 767px) {
  .footer {
    height: 460px; }
    .footer__inner {
      font-size: 24px;
      padding: 24px 0 0 24px; }
      .footer__inner a {
        font-size: 14px; }
    .footer__bottom {
      bottom: 16px; }
      .footer__bottom div {
        font-size: 8px; }
        .footer__bottom div img {
          width: 8px;
          height: 8px; }
        .footer__bottom div .behance {
          width: 10px;
          height: 10px; } }

@media screen and (max-width: 600px) {
  .footer {
    height: 300px; }
    .footer__inner h1 {
      margin-bottom: 20px; } }

@media screen and (max-width: 420px) {
  .footer__inner {
    padding: 2px 0 0 24px; }
    .footer__inner h1 {
      margin-bottom: 5px; }
    .footer__inner a {
      padding: 5px 18px 6px; } }

/*footer ends*/
.prct {
  line-height: 1.5; }
  .prct .hero_img {
    background-image: url(/assets/img/practice/group-3.png); }
  .prct_rnImg {
    width: 100vw; }
  .prct .genericTitle, .prct .contextTitle {
    font-family: "MavenPro-Medium"; }
  .prct .contextualTxt {
    font-family: "PT_Sans-Regular"; }
  .prct .prctDicipline {
    background: #fff; }
  .prct .rContent_1 {
    visibility: hidden; }
  .prct .right.Containers {
    background: #fff; }
  .prct img {
    width: 100%; }
  .prct .dnaImgMob {
    display: none; }
  .prct_dic {
    padding-top: 45px;
    padding-bottom: 45px; }
    .prct_dic .title {
      font-family: "MavenPro-Medium"; }
    .prct_dic .bldContent {
      font-family: "MavenPro-Bold"; }
    .prct_dic .bsTxt {
      font-family: "PT_Sans-Regular"; }
    .prct_dic .hckTitle {
      display: none; }
    .prct_dic .imgContainer {
      text-align: center; }
  .prct_svc {
    padding: 37px 35px 46px 29px; }
    .prct_svc_title {
      font-family: "MavenPro-Medium";
      text-align: center; }
      .prct_svc_title .indTxt {
        font-family: "MavenPro-Medium"; }
      .prct_svc_title .indCon {
        font-family: "PT_Sans-Regular"; }
  .prct .dnaSummary {
    background: #fff;
    line-height: 1.5;
    text-align: center; }
  .prct .dnaContainer {
    font-family: "PT_Sans-Regular";
    display: table; }

.prctDiv {
  margin-top: 65px;
  text-align: center; }
  .prctDiv .prctSec {
    display: inline-block; }
    .prctDiv .prctSec_tab {
      display: inline-block;
      font-family: "MavenPro-Medium";
      font-size: 24px;
      cursor: pointer;
      padding-bottom: 2px;
      margin: 0 35px 0; }
    .prctDiv .prctSec_inactive {
      color: #393939; }
    .prctDiv .prctSec_active, .prctDiv .prctSec_tab:hover {
      color: #ea1c49;
      border-bottom: 2px solid #ea1c49; }

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .prct .dnaImgMob {
    display: block;
    width: 250px;
    background: url(/assets/img/practice/dna.png) no-repeat scroll 0 0 transparent;
    background-size: contain;
    height: 250px; }
  .prct .rContent_1, .prct .rContent_2, .prct .rContent_3 {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px; }
  .prct .rContent_2 {
    padding-left: 40px; }
  .prct .rContent_1Img, .prct .rContent_3Img {
    margin-left: -135px; }
  .prct .rContent_1Img {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  .prct .rContent_2Img {
    margin-right: -135px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .prct .rContent_3Img {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg); } }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lgCon {
    margin-top: 30px; }
  .knowmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 15px; }
  .prct .genericTitle {
    font-size: 20px; }
  .prct .fixCont {
    display: none; }
  .prct_dic .hckTitle {
    display: block; }
  .prct_dic img {
    max-width: 350px; }
  .prct_dic .dicContents {
    padding-left: 50px !important;
    padding-right: 29px !important; }
    .prct_dic .dicContents .title {
      display: none; }
  .prct_dic .title {
    font-size: 20px; }
  .prct_dic .bldContent {
    font-size: 14px;
    padding-bottom: 14px; }
  .prct_dic .bsTxt {
    font-size: 14px; }
  .prct_svc_title {
    text-align: center;
    font-size: 24px; }
    .prct_svc_title .svcCont {
      padding-top: 72px; }
      .prct_svc_title .svcCont img {
        max-width: 80px; }
    .prct_svc_title .indTxt {
      font-size: 17px;
      padding-bottom: 16px;
      text-align: center; }
    .prct_svc_title .indCon {
      font-size: 14px;
      padding-top: 0px;
      padding-bottom: 24px; }
  .prct .dnaContainer {
    font-size: 14px;
    padding-top: 16px; }
  .prctDiv {
    margin-top: 55px; }
    .prctDiv .prctSec_tab {
      font-size: 16px;
      margin: 0 20px 0; }
  .philSec {
    margin: 50px 29px 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .knowmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 260px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 15px; }
  .prct .fixCont {
    display: none; }
  .prct .dnaImgMob {
    width: 508px;
    height: 508px; }
  .prct .rContent_1, .prct .rContent_2, .prct .rContent_3 {
    height: 508px; }
  .prct .rContent_2 {
    padding-left: 107px; }
  .prct .rContent_1Img, .prct .rContent_3Img {
    margin-left: -270px; }
  .prct .rContent_1Img {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg); }
  .prct .rContent_2Img {
    margin-right: -265px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .prct .rContent_3Img {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg); } }

@media screen and (min-width: 768px) {
  .prct .genericTitle {
    font-size: 24px; }
  .prct .contextTitle {
    font-size: 24px; }
  .prct .contextualTxt {
    font-size: 20px; }
  .prct .mobScreen {
    width: 100%; }
  .prct_dic .hckTitle {
    display: none; }
  .prct_dic .title {
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 15px; }
  .prct_dic .bldContent {
    font-size: 18px;
    padding-bottom: 21px; }
  .prct_dic .bsTxt {
    font-size: 17px; }
  .prct_dic img {
    width: 293px;
    height: 282px;
    margin: -20px 0; }
  .prct_dic .dicContents .title {
    display: block; }
  .prct_svc {
    padding: 50px 35px 80px; }
    .prct_svc_title {
      text-align: center;
      font-size: 24px; }
      .prct_svc_title .svcCont {
        padding-top: 72px; }
        .prct_svc_title .svcCont img {
          max-width: 85px;
          margin-top: 20px; }
      .prct_svc_title .indTxt {
        font-size: 24px; }
      .prct_svc_title .indCon {
        font-size: 17px;
        padding-top: 15px;
        padding-bottom: 10px; }
  .prct .dnaContainer {
    font-size: 17px;
    padding-top: 30px;
    width: 690px; }
  .prctDiv {
    margin-top: 80px; }
    .prctDiv .prctSec_tab {
      font-size: 16px;
      margin: 0 20px 0; }
  .philSec {
    margin: 50px 29px 0; } }

@media screen and (min-width: 1025px) {
  .knowmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 372px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
    padding-top: 22px; }
  .noPadding {
    width: 623px; }
  .prct {
    /* Safari 4.0 - 8.0 */
    /* Standard syntax */
    /* Safari 4.0 - 8.0 */
    /* Standard syntax */ }
    .prct .genericTitle {
      font-size: 32px; }
    .prct_dic .title {
      font-size: 32px;
      padding-bottom: 41px;
      padding-top: 35px; }
    .prct_dic .bldContent {
      font-size: 18px;
      padding-bottom: 10px; }
    .prct_dic .bsTxt {
      font-size: 17px; }
    .prct_dic img {
      width: 414px;
      height: 377px;
      margin: -20px 0; }
    .prct_svc {
      padding: 55px 0px 70px; }
      .prct_svc_title {
        font-size: 40px; }
        .prct_svc_title .svcCont {
          padding-top: 120px; }
          .prct_svc_title .svcCont img {
            max-width: 105px; }
        .prct_svc_title .indTxt {
          font-size: 32px; }
        .prct_svc_title .indCon {
          font-size: 20px;
          padding-top: 16px;
          padding-bottom: 10px; }
      .prct_svc .sCont {
        padding-top: 15px; }
    .prct .dnaContainer {
      font-size: 17px;
      padding-top: 25px;
      width: 970px; }
    .prct .scrollContainer {
      height: calc(300vh - 80px);
      position: relative;
      background: #fff; }
      .prct .scrollContainer img {
        width: auto; }
    .prct .fixCont {
      /* background:url("../img/1.png") scroll 0 0 no-repeat transparent; */
      height: calc(100vh - 80px);
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-animation-name: example;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s;
      /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 1s; }
    .prct .fixCont img {
      height: 100%; }
    .prct .fixedClass {
      position: fixed;
      top: 80px;
      left: 0%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-animation-name: example2;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s;
      /* Safari 4.0 - 8.0 */
      animation-name: example2;
      animation-duration: 1s; }
  @-webkit-keyframes example {
    from {
      left: 0%; }
    to {
      left: 50%; } }
  @keyframes example {
    from {
      left: 0%; }
    to {
      left: 50%; } }
  @-webkit-keyframes example2 {
    from {
      left: 50%; }
    to {
      left: 0%; } }
  @keyframes example2 {
    from {
      left: 50%; }
    to {
      left: 0%; } }
    .prct .rContent {
      height: calc(100vh - 80px); }
    .prct .posAbs {
      position: absolute;
      bottom: 0 !important;
      left: 0%;
      top: unset; }
    .prct .right.Containers {
      display: block;
      width: 40%;
      margin: 0 auto;
      top: 10%;
      position: relative;
      background: transparent; }
  .prctDiv {
    margin-top: 65px; }
    .prctDiv .prctSec_tab {
      font-size: 24px;
      margin: 0 35px 0; }
  .philSec {
    margin: 70px 29px 0; } }

@media screen and (min-width: 1367px) {
  .knowmore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 415px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .prct .genericTitle {
    font-size: 48px; }
  .prct .contextTitle {
    font-size: 24px; }
  .prct .contextualTxt {
    font-size: 28px; }
  .prct_dic .title {
    font-size: 48px;
    padding-bottom: 17px;
    padding-top: 55px; }
  .prct_dic .bldContent {
    font-size: 24px;
    padding-bottom: 28px; }
  .prct_dic .bsTxt {
    font-size: 20px; }
  .prct_dic img {
    width: 557px;
    height: 506px;
    margin: -20px 0; }
  .prct_svc {
    padding: 75px 150px 80px; }
    .prct_svc_title {
      font-size: 40px; }
      .prct_svc_title .svcCont {
        padding-top: 160px; }
        .prct_svc_title .svcCont img {
          max-width: 120px; }
      .prct_svc_title .indTxt {
        font-size: 32px; }
      .prct_svc_title .indCon {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 10px; }
      .prct_svc_title .lgCon {
        width: 830px; }
  .prct .dnaContainer {
    font-size: 20px;
    padding-top: 40px; }
  .philSec {
    margin: 80px 29px 0; } }

.prct .hero_img {
  background-image: url(/assets/img/workpage/group-3.png); }

#lb_btn1 {
  display: none; }

.lb_work_filter li {
  display: inline;
  padding: 0 0px 4px 0px;
  cursor: pointer;
  font-family: MavenPro-Medium;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 30px; }

.lb_caseStusy {
  margin-top: 50px; }

.lb-Workfilter {
  padding-top: 50px; }

ul.lb_work_filter.lb_filter_lg {
  text-align: center; }

li.lb_work_filterActive {
  border-bottom: 2px solid #ea1c49;
  color: #ea1c49; }

li.lb_work_filterli:first-child {
  margin-left: 10px !important; }

.lb-filter-Img {
  height: 340px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 30px; }

button.lb_btn:focus {
  outline: none; }

.lb_btn_div {
  width: 160px;
  margin: 0 auto;
  padding-bottom: 50px; }

.lb-filter-service {
  padding-bottom: 30px; }

.lb-filter-head {
  width: 121px;
  height: 56px;
  font-family: MavenPro-Medium;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 24px; }

.lb-filter-header {
  font-family: MavenPro-Medium;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5d6a6f;
  color: var(--slate-grey);
  padding-top: 15px; }

.lb-filter-headdesc {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #5d6a6f;
  color: var(--slate-grey); }

.lb-filter-footer {
  font-family: MavenPro-Medium;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5d6a6f;
  color: var(--slate-grey);
  padding-top: 10px; }

div.test {
  display: none; }

.message {
  display: inline-block;
  width: 100%;
  float: left; }

.Servicedesign {
  display: none; }

.BrandingandCommunication {
  display: none; }

.lb_sevicetop {
  margin-top: 80px; }

@media screen and (min-width: 320px) {
  .lb_work_filter li {
    font-size: 16px; }
  .lb_filter_lg {
    display: none; }
  .work_selectdiv {
    width: 215px;
    margin: 0 auto; }
  .work_select {
    background-color: #fff;
    border: none;
    padding: 10px;
    /* border-radius: 16px; */
    border-bottom: 2px solid #ea1c49;
    color: #ea1c49;
    padding: 0px;
    padding-bottom: 4px; }
  select.work_select:focus {
    outline: none; }
  .lb_filter_mb {
    display: block; }
  .lb-filter-head {
    font-size: 16px; }
  .lb-filter-header {
    font-size: 16px; }
  .lb-filter-headdesc {
    font-size: 12px; }
  .lb_btn_div {
    text-align: center; } }

@media screen and (max-width: 420px) {
  .lb-filter-Img {
    height: 194px; } }

@media screen and (min-width: 768px) {
  .lb_filter_lg {
    display: block; }
  .lb_work_filter li {
    font-size: 16px; }
  .lb_filter_mb {
    display: none; }
  .lb-filter-head {
    font-size: 24px; }
  .lb-filter-header {
    font-size: 24px; }
  .lb-filter-headdesc {
    font-size: 14px; }
  .lb_btn_div {
    text-align: center; } }

@media screen and (min-width: 1024px) {
  .lb_filter_lg {
    display: block; }
  .lb_work_filter li {
    font-size: 24px; }
  .lb_filter_mb {
    display: none; }
  .lb-filter-head {
    font-size: 24px; }
  .lb-filter-header {
    font-size: 24px; }
  .lb-filter-headdesc {
    font-size: 14px; }
  .lb_btn_div {
    text-align: center; } }

@media screen and (min-width: 1367px) {
  .lb_filter_lg {
    display: block; }
  .lb_work_filter li {
    font-size: 24px; }
  .lb_filter_mb {
    display: none; }
  .lb-filter-head {
    font-size: 24px; }
  .lb-filter-header {
    font-size: 24px; }
  .lb-filter-headdesc {
    font-size: 14px; }
  .lb_btn_div {
    text-align: center; } }

.filterli-2 {
  display: none; }

.filterli-3 {
  display: none; }

.homePage {
  margin-top: 80px; }
  .homePage__BnrDiv {
    background-image: url(/assets/img/homepage/combined-shape.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .homePage__BnrDiv__Inner {
      background-image: url("/assets/img/homepage/001.png");
      background-repeat: no-repeat;
      background-position: right;
      height: 710px; }
      .homePage__BnrDiv__Inner__Content {
        padding: 300px 0 0 165px;
        width: 655px;
        color: #5d6a6f; }
        .homePage__BnrDiv__Inner__Content h1 {
          font-size: 56px;
          font-family: 'MavenPro-Medium'; }
          .homePage__BnrDiv__Inner__Content h1 span {
            color: #ea1c49; }
        .homePage__BnrDiv__Inner__Content p {
          margin-top: 20px;
          line-height: 25px;
          font-size: 20px;
          font-family: 'PT_Sans-Regular'; }
    .homePage__BnrDiv__Service {
      position: relative;
      top: 120px; }
      .homePage__BnrDiv__Service h1 {
        text-align: center;
        color: #fff;
        font-size: 40px;
        font-family: 'MavenPro-Medium';
        margin-bottom: 80px;
        margin-top: 120px; }
      .homePage__BnrDiv__Service__Cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .homePage__BnrDiv__Service__Cards__Inner {
          width: 350px;
          height: 350px;
          background-color: #fff;
          text-align: center;
          border-radius: 16px;
          -webkit-box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.1);
                  box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.1);
          margin-right: 30px;
          color: #5d6a6f !important; }
          .homePage__BnrDiv__Service__Cards__Inner__a {
            width: 100%;
            height: 100%;
            padding-top: 50px;
            display: block;
            color: #5d6a6f !important; }
            .homePage__BnrDiv__Service__Cards__Inner__a__img {
              background-repeat: no-repeat;
              width: 88px;
              height: 88px;
              margin: 0 auto;
              background-size: contain; }
            .homePage__BnrDiv__Service__Cards__Inner__a__normal {
              display: block; }
            .homePage__BnrDiv__Service__Cards__Inner__a__onHover {
              display: none; }
            .homePage__BnrDiv__Service__Cards__Inner__a img {
              display: none; }
            .homePage__BnrDiv__Service__Cards__Inner__a h3 {
              margin-top: 20px;
              font-size: 24px;
              font-family: 'MavenPro-Medium'; }
            .homePage__BnrDiv__Service__Cards__Inner__a p {
              margin-top: 10px;
              font-size: 14px;
              font-family: 'PT_Sans-Regular'; }
        .homePage__BnrDiv__Service__Cards__Inner1 {
          margin-right: 0; }
        .homePage__BnrDiv__Service__Cards__Inner:hover {
          background-color: #ee4b6e;
          color: #fff !important;
          text-decoration: none !important;
          -webkit-transition: background-color 500ms linear;
          transition: background-color 500ms linear; }
        .homePage__BnrDiv__Service__Cards__Inner:hover .homePage__BnrDiv__Service__Cards__Inner__a {
          color: #fff !important;
          text-decoration: none !important; }
        .homePage__BnrDiv__Service__Cards__Inner:hover .homePage__BnrDiv__Service__Cards__Inner__a .homePage__BnrDiv__Service__Cards__Inner__a__normal {
          display: none; }
        .homePage__BnrDiv__Service__Cards__Inner:hover .homePage__BnrDiv__Service__Cards__Inner__a .homePage__BnrDiv__Service__Cards__Inner__a__onHover {
          display: block; }
        .homePage__BnrDiv__Service__Cards__Inner:hover p {
          display: none; }
        .homePage__BnrDiv__Service__Cards__Inner:hover img {
          display: block;
          margin: 30px auto;
          width: 31px;
          height: 28px; }
  .homePage__dna {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 180px;
    margin: 180px 83px 0;
    padding-bottom: 50px; }
    .homePage__dna__left {
      padding-right: 125px; }
    .homePage__dna__right {
      margin-top: 30px;
      width: 540px; }
      .homePage__dna__right h1 {
        margin-top: 20px;
        font-size: 40px;
        font-family: 'MavenPro-Medium';
        color: #393939; }
      .homePage__dna__right p {
        font-size: 20px;
        font-family: 'PT_Sans-Regular';
        color: #5d6a6f;
        margin-bottom: 32px;
        margin-top: 20px;
        line-height: 25px; }

.lb-ourworks {
  text-align: center;
  /* font-family: MavenPro; */
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: left; */
  color: #393939;
  padding-bottom: 50px; }

@media screen and (max-width: 1366px) {
  .lb-ourworks {
    font-size: 40px;
    padding-bottom: 50px; }
  .homePage {
    margin-top: 0; }
    .homePage__BnrDiv {
      background-size: cover;
      background-position: 40% 84px; }
      .homePage__BnrDiv__Inner {
        background-size: 34%;
        background-position: right 140px; }
        .homePage__BnrDiv__Inner__Content {
          padding: 270px 0 0 42px;
          width: 462px; }
          .homePage__BnrDiv__Inner__Content h1 {
            font-size: 48px; }
          .homePage__BnrDiv__Inner__Content p {
            font-size: 16px;
            line-height: 25px; }
      .homePage__BnrDiv__Service {
        position: relative;
        top: 120px; }
        .homePage__BnrDiv__Service h1 {
          font-size: 32px;
          margin-top: 240px; }
        .homePage__BnrDiv__Service__Cards__Inner {
          width: 300px;
          height: 318px;
          margin-right: 20px; }
          .homePage__BnrDiv__Service__Cards__Inner__a {
            padding-top: 30px; }
            .homePage__BnrDiv__Service__Cards__Inner__a h3 {
              font-size: 16px; }
            .homePage__BnrDiv__Service__Cards__Inner__a p {
              font-size: 14px; }
            .homePage__BnrDiv__Service__Cards__Inner__a__img {
              width: 64px;
              height: 64px; }
        .homePage__BnrDiv__Service__Cards__Inner1 {
          margin-right: 0; }
        .homePage__BnrDiv__Service__Cards__Inner:hover img {
          display: block; }
    .homePage__dna {
      margin: 180px 42px 0; }
      .homePage__dna__left img {
        width: 366px;
        height: 376px; }
      .homePage__dna__right {
        width: 460px; }
        .homePage__dna__right h1 {
          font-size: 32px; }
        .homePage__dna__right p {
          font-size: 16px;
          line-height: 25px; }
        .homePage__dna__right a {
          font-size: 16px; } }

@media screen and (max-width: 1023px) {
  .homePage__BnrDiv__Inner__Content {
    padding: 202px 0 0 34px;
    width: 342px; }
    .homePage__BnrDiv__Inner__Content h1 {
      font-size: 32px; }
    .homePage__BnrDiv__Inner__Content p {
      font-size: 14px;
      line-break: 30px; }
  .homePage__BnrDiv__Service {
    position: relative;
    top: 100px; }
    .homePage__BnrDiv__Service h1 {
      font-size: 24px; }
    .homePage__BnrDiv__Service__Cards__Inner {
      width: 220px;
      height: 260px; }
      .homePage__BnrDiv__Service__Cards__Inner__a h3 {
        font-size: 16px; }
      .homePage__BnrDiv__Service__Cards__Inner__a p {
        font-size: 12px; }
    .homePage__BnrDiv__Service__Cards__Inner1 {
      margin-right: 0; }
    .homePage__BnrDiv__Service__Cards__Inner:hover img {
      display: block; }
  .homePage__dna {
    margin: 180px 34px 0; }
    .homePage__dna__left img {
      width: 250px;
      height: 257px; }
    .homePage__dna__right {
      width: 342px; }
      .homePage__dna__right h1 {
        font-size: 24px; }
      .homePage__dna__right p {
        font-size: 14px;
        line-height: 25px; }
      .homePage__dna__right a {
        font-size: 14px; }
  .lb-ourworks {
    font-size: 24px;
    padding-bottom: 0px; } }

@media screen and (max-width: 767px) {
  .homePage__BnrDiv__Inner {
    background-image: none; }
    .homePage__BnrDiv__Inner__Content {
      padding: 120px 50px 0 50px;
      width: 315px;
      text-align: center;
      margin: 0 auto; }
      .homePage__BnrDiv__Inner__Content h1 {
        font-size: 24px; }
      .homePage__BnrDiv__Inner__Content p {
        font-size: 12px;
        line-height: 16px; }
  .homePage__BnrDiv__Service {
    position: relative;
    top: 20px; }
    .homePage__BnrDiv__Service h1 {
      color: #5d6a6f;
      margin-top: -390px;
      font-size: 16px;
      margin-bottom: 40px; }
    .homePage__BnrDiv__Service__Cards {
      display: block; }
      .homePage__BnrDiv__Service__Cards__Inner {
        width: 210px;
        height: 154px;
        margin: 0 auto 16px; }
        .homePage__BnrDiv__Service__Cards__Inner__a {
          padding-top: 30px; }
          .homePage__BnrDiv__Service__Cards__Inner__a__img {
            display: none; }
          .homePage__BnrDiv__Service__Cards__Inner__a h3 {
            font-size: 16px; }
          .homePage__BnrDiv__Service__Cards__Inner__a p {
            display: none; }
      .homePage__BnrDiv__Service__Cards__Inner:hover img {
        display: none; }
  .homePage__dna {
    margin: 30px 0 0;
    display: block; }
    .homePage__dna__left {
      padding-right: 0;
      margin: 0 auto;
      width: 264px;
      height: 246px; }
      .homePage__dna__left img {
        width: 264px;
        height: 246px; }
    .homePage__dna__right {
      width: 264px;
      text-align: center;
      margin: 0 auto; }
      .homePage__dna__right h1 {
        font-size: 16px; }
      .homePage__dna__right p {
        font-size: 12px;
        line-height: 16px; }
      .homePage__dna__right a {
        font-size: 14px; }
  .lb-ourworks {
    font-size: 24px;
    padding-bottom: 0px; } }

.lb_service {
  margin-top: 80px;
  padding-bottom: 50px; }

.stepwizard-step p {
  margin-top: 0px;
  color: #666; }

.stepwizard-row {
  display: table-row; }

.stepwizard {
  display: table;
  width: 100%;
  position: relative; }

.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/ }

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb; }

.stepwizard-step:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0; }

.stepwizard-step:last-child:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 50%;
  height: 1px;
  background-color: transparent;
  z-index: 0; }

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px; }

a.btn-circle.service-btn {
  width: 12px;
  height: 12px;
  text-align: center;
  /* padding: 6px 0; */
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 30px !important;
  border: 1px solid green !important;
  background-color: #7d8d92;
  color: black;
  margin-top: 8px; }

ul.lb_work_filter.lb_service_lg {
  text-align: center; }

.datavalue-2 {
  display: none; }

.carousel {
  padding-top: 100px;
  padding-bottom: 200px; }

.lb_filter_servicenone {
  display: none !important; }

#lb_service_btn1 {
  display: none; }

.lb-filter-serviceDetail {
  padding-bottom: 30px; }

.lb-explore {
  text-align: center;
  /* font-family: MavenPro; */
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: left; */
  color: #5d6a6f;
  padding-bottom: 50px;
  padding-top: 50px; }

.service-redirect {
  padding-bottom: 50px; }

@media screen and (min-width: 320px) {
  .lb-explore {
    font-size: 16px;
    padding-top: 0px; } }

@media screen and (min-width: 768px) {
  .lb-explore {
    font-size: 24px;
    padding-top: 0px; } }

@media screen and (min-width: 1367px) {
  .hero_cnt {
    padding-right: 50px;
    padding-left: 50px; }
  .lb-explore {
    font-size: 40px; } }

@media screen and (min-width: 1024px) {
  .hero_cnt {
    padding-left: 50px;
    padding-right: 50px; }
  .lb-explore {
    font-size: 32px; } }

@media only screen and (min-width: 320px) {
  .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .carousel__card {
      display: -webkit-box;
      position: absolute !important;
      z-index: 1;
      top: 100px;
      left: 49px;
      width: 220px; }
    .carousel__card1 {
      width: 155px;
      height: 215px !important;
      -o-object-fit: contain;
         object-fit: contain;
      background-color: #ffffff;
      -webkit-box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.2);
      margin: 102px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .carousel__card1 img {
        width: 26px;
        margin: 15px 0px 15px 65px; }
      .carousel__card1 p {
        padding: 0px 15px 15px;
        font-size: 14px;
        text-align: center; }
    .carousel h1 {
      padding-bottom: 10px;
      text-align: center; }
    .carousel__card2 {
      width: 880px;
      height: 484px;
      -o-object-fit: contain;
         object-fit: contain;
      background-color: #022b3b; }
      .carousel__card2 h1 {
        color: #ffffff;
        padding: 34px 30px 0px;
        margin: 0px;
        text-align: left; }
      .carousel__card2 p {
        color: #ffffff;
        width: 100%;
        padding: 12px 30px;
        width: 280px; }
  .slick-prev {
    top: 17% !important;
    width: 38px !important;
    left: -20px !important;
    height: 18px !important; }
  .slick-next {
    top: 17% !important;
    right: 160px !important;
    height: 18px !important; } }

@media only screen and (min-width: 767px) {
  .carousel__card {
    display: -webkit-box;
    position: relative !important;
    top: 24px;
    left: 78px;
    width: 361px; }
  .carousel__card1 {
    width: 155px;
    height: 222px !important;
    margin: 0px 25px 0px 0px; }
    .carousel__card1 img {
      width: 30px;
      margin: 15px 0px 15px 70px; }
    .carousel__card1 h1 {
      text-align: center !important; }
  .carousel h1 {
    padding-bottom: 10px;
    text-align: left; }
  .carousel__card2 {
    width: 494px;
    height: 272px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 58px 0px 0px 150px; }
    .carousel__card2 h1 {
      width: 300px;
      padding: 0px 0px 12px 0px; }
    .carousel__card2 p {
      width: 300px;
      padding: 0px; }
  .carousel .slick-prev {
    top: 41% !important;
    left: 426px !important; }
  .carousel .slick-next {
    top: 41% !important;
    right: -150px !important; }
  .carousel .slick-initialized .slick-slide {
    width: 160px !important; }
  .carousel .slick-slider .slick-track {
    width: 2000px  !important; } }

@media only screen and (min-width: 1024px) {
  .carousel__card {
    top: 62px;
    left: 162px;
    width: 488px; }
  .carousel__card1 {
    width: 155px;
    height: 279px !important;
    margin: 0px 25px 0px 0px; }
    .carousel__card1 img {
      width: 54px;
      margin: 50px 0px 30px 82px; }
    .carousel__card1 h1 {
      text-align: center !important; }
    .carousel__card1 p {
      font-size: 16px; }
  .carousel h1 {
    padding-bottom: 10px;
    text-align: left; }
  .carousel__card2 {
    width: 662px;
    height: 405px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 85px 0px 0px 210px; }
    .carousel__card2 h1 {
      padding: 0px;
      width: 407px;
      font-size: 32px;
      padding-bottom: 20px; }
    .carousel__card2 p {
      width: 300px;
      padding: 0px; }
  .carousel .slick-prev {
    top: 240px !important;
    left: 540px !important; }
  .carousel .slick-next {
    top: 240px !important;
    right: -140px !important; }
  .carousel .slick-initialized .slick-slide {
    width: 220px !important; }
  .carousel .slick-slider .slick-track {
    width: 2000px  !important; } }

@media only screen and (min-width: 1367px) {
  .carousel__card {
    top: 81px;
    left: 165px;
    width: 555px; }
  .carousel__card1 {
    height: 324px !important;
    margin: 0px 25px 0px 0px; }
    .carousel__card1 img {
      margin: 56px 0px 32px 96px; }
    .carousel__card1 p {
      font-size: 16px;
      padding: 0px 30px 15px; }
    .carousel__card1 h1 {
      padding-bottom: 16px; }
  .carousel__card2 {
    width: 895px;
    height: 484px;
    padding: 120px 0px 0px 270px; }
    .carousel__card2 h1 {
      width: 407px;
      font-size: 40px;
      padding: 0px 0px 40px; }
    .carousel__card2 p {
      width: 455px;
      padding: 0px; }
  .carousel .slick-prev {
    top: 284px !important;
    left: 658px !important; }
  .carousel .slick-next {
    top: 284px !important;
    right: -190px !important; }
  .carousel .slick-initialized .slick-slide {
    width: 255px !important; }
  .carousel .slick-slider .slick-track {
    width: 4000px  !important; } }
