@import "workpage/workpage.scss";
@import "practice/practice.scss";
.prct .hero_img{
    background-image: url(/assets/img/workpage/group-3.png);
}
@media screen and (min-width: 1367px){
.hero_cnt {
    padding-right: 50px;
    padding-left: 50px;
}
}
@media screen and (min-width: 1025px){
.hero_cnt {
    padding-left: 50px;
    padding-right: 50px;
}
}
.lb_service{
   margin-top:80px;
   padding-bottom: 50px;
}
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 12px;
    height: 12px;
    text-align: center;
    /* padding: 6px 0; */
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 30px !important;
    border: 1px solid green !important;
    background-color: #7d8d92;
    color: black;
    margin-top: 8px;
}