
@import "practice/practice.scss";
.prct .hero_img{
    // background-image: url(/assets/img/workpage/002_work.gif);
    display: flex;
    background-color: #fffade;
    video{
        width: 100%;
    }
}
#lb_btn1{
    display: none;
}

.lb_work_filter li {
    display: inline;
    padding: 0 0px 4px 0px;
    cursor: pointer;
    //font-family: MavenPro-Medium;
    // //font-size: 16px;
    // font-weight: normal;
    // font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left:50px;
}
// .lb_caseStusy{
//    margin-top:32px;
// }
.lb-Workfilter{
    padding-top:32px;
}
ul.lb_work_filter.lb_filter_lg{
    text-align: center;
}
li.lb_work_filterActive{
    border-bottom: 2px solid #ea1c49;
    color: #ea1c49;
}
li.lb_work_filterli:first-child{
    margin-left: 10px !important;
}
.lb-filter-Img{
    // width:100%;
   
    // background-image:url('/assets/img/workpage/groome.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    padding-left: 30px;
}
button.lb_btn:focus {
    outline: none;
}
// .lb-filter-Img1{
//     // width:100%;
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-2.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
//     padding: 30px;
// }
// .lb-filter-Img2{
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-3.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
// }
// .lb-filter-Img3{
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-4.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
// }
.lb_btn_div{
    width: 160px;
    margin: 0 auto;
    // padding-top: 20px;
    // padding-bottom: 64px;

}

.lb-filter-service{
   padding-bottom: 48px;
}
.lb-filterDiv{
//    padding-left:42px;
//    padding-right: 42px;
}
.lb-filter-head{
    width: 250px;
    height: 56px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 32px;
  }
  .lb-filter-header{
    font-family: 'Rubik', sans-serif;
    font-size:14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #393939;
 
    padding-top: 24px;
  }
  .lb-filter-headdesc{
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size:12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color:#737373;
    padding-top:8px;
  }
    .lb-filter-footer{
        //font-family: MavenPro-Medium;
        //font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5d6a6f;
        color: var(--slate-grey);
        padding-top: 10px;
    }
    div.test { display:none }
        .message {
        display: inline-block;
        width: 100%;
        float: left;
        }
    // .lb-ProductDesign{
    //     display: none;
    // }
    // .lb-Branding{
    //     display: none;
    // }
    // .Productdesign{
    //     display: none;
    // }
    .Servicedesign{
        display: none;
    }
    .BrandingandCommunication{
        display: none;
    }
    // .lb-filter-service{
    //    display: none;
    // }
    .lb_sevicetop{
        margin-top:40px;
    }
@media screen and (min-width: 320px){
    .prct .hero_img {
        background-image:url(/assets/img/BANNER_IMG/Work_Page.png) ;}
    .lb_work_filter li{
        //font-size: 16px;
    }
    .lb_filter_lg{
       display: none;
    }
    .work_selectdiv{
        width: 150px;
        margin: 0 auto;
    }
    .work_select{
        background-color: #fff;
        border: none;
        padding: 10px;
        /* border-radius: 16px; */
        border-bottom: 2px solid #ea1c49;
        color: #ea1c49;
        padding: 0px;
        padding-bottom: 4px;
    }
    select.work_select:focus {
        outline: none;
    }
    .lb_filter_mb{
       display: block;
    }
    .lb-filter-head{
        //font-size: 14px;
        width: 166px;
        padding-top: 24px;
    }
    .lb-filter-header{
        //font-size: 16px;
        padding-top: 16px;
        
    }
    .lb-filter-headdesc{
        //font-size: 12px;
    }
    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-Img {
        height: 194px;
        padding-left:15px;
        box-shadow:  0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .lb-filter-service{
        padding-bottom: 24px;
    }
  
}
@media screen and (max-width: 420px){
    .lb-filter-Img {
        height: 194px;
        padding-left:15px;
    }
}
@media screen and (min-width: 768px){
    .prct .hero_img {
        background-image:none;}
    .lb_filter_lg{
       display: block;
    }
    .lb-filter-Img {
        padding-left:15px;
        height: 255px;
        box-shadow:none;
    }
    .lb_work_filter li{
        //font-size: 16px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 17px;
        padding-top:24px;
    }
    .lb-filter-header{
        font-size: 17px;
        padding-top: 16px;
    }
    .lb-filter-headdesc{
        font-size: 14px;
    }

    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-service{
        padding-bottom: 24px;
    }
}
@media screen and (min-width: 1024px){
    .lb_filter_lg{
       display: block;
    }
    .lb_work_filter li{
        //font-size: 18px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 20px;
        width: 200px;
        padding-top:32px;
    }
    .lb-filter-header{
        font-size: 20px;
        padding-top: 16px;
    }
    .lb-filter-headdesc{
        font-size: 17px;
    }
 
    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-Img {
        padding-left:30px;
        height: 340px;
        box-shadow:none;
    }
    .lb-filter-service{
        padding-bottom: 32px;
    }

}
@media screen and (min-width: 1367px){
    .lb_filter_lg{
       display: block;
    }
    .lb_work_filter li{
        //font-size: 20px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 20px;
        padding-top:32px;
    }
    .lb-filter-header{
        font-size: 20px;
        padding-top: 24px;
    }
    .lb-filter-headdesc{
        font-size: 17px;
    }

    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-Img {
        padding-left:30px;
        height: 340px;
        box-shadow:none;
    }
    .lb-filter-service{
        padding-bottom: 48px;
    }
}
.workfilter1{
    display: none;
}
.filterli-2{
    display: none;
}
.filterli-3{
    display: none;
}
.caretcss{
    position: relative;
    /* right: 3px; */
    /* float: right; */
    /* top: 9px; */
    /* left: -7px; */
    float: right;
    top: 10px;
    /* left: 18px; */
}
.dropdownbtn{
    padding: 0px;
    text-align: left;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0px;
    border-bottom: 2px solid #ea1c49;
    color: #ea1c49;
    padding: 0;
    padding-bottom: 4px;
}
.dropdown-menu li{
    padding: 3px 20px;
    clear: both;
    // font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdownbtn{
   width: 100%;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-menu li.lb_work_filterli:first-child{
     margin: 0px !important;
}
.dropdown-menu li.lb_work_filterActive{
    border-bottom: none;
}
button#menu1 {
    text-align: center;
}