// .hero {
// 	.portfolioBg {
// 		background-color: #F26522;
// 	}
// 	.selectSection{
// 		position: absolute;
// 		top:80px;
// 	}
// 	.portDetail{
// 		position: relative;
// 		left: 33.3%; 
// 		top: 0px;
// 	}
// 	.blog-row {
// 			position: relative;
// 		}
// 	.portBgImg {
// 		// // margin-bottom: 30px;
// 		// background-image: url("/assets/img/blog/1_1.png");
// 		background-repeat: no-repeat;
// 		background-size: 100% 100%;
// 		height: 280px;
// 		width: 100%;
//     	.portfolioInner {
//     		opacity: 0;
//     		height: 280px;
//     		display: flex;
//     		justify-content: center;
//     		align-items:center;
//     		width: 100%;
//     		&:hover,&:focus {
// 		    	opacity: 0.85;
// 		    	background-color: #fff;
// 		    	color: $ternary-color;
// 		    	text-align: center;
// 			    .portInnerPadd {
// 			    	//padding: 40px 0 0;
// 			    }
//     		}
//     		.portInnerPadd {
//     			color: $ternary-color;
// 	    		&--title {
// 	    			font-family: $ternary-titlefamily;
// 	    			font-size: 14px;
// 	    			text-transform: uppercase;
// 	    			color:#5d5d5d;
// 	    			line-height:22px;
// 	    			letter-spacing:.05em;
// 	    		}
// 	    		&--border {
// 	    			border-bottom: 2px solid #5D5D5D;
// 	    			width: 40px;
// 	    			margin: 5px auto;
// 	    		}
// 	    		&--para {
// 	    			font-family: $primary-contentfamily;
// 	    			font-size: $secondary-contentfont;
// 	    			width: 85%;
// 	    			margin: 0 auto;
// 	    			line-height:20px;
// 	    			letter-spacing:.01em;
// 	    			//height: 65px;
// 	    			padding-bottom:10px;
// 	    		}
// 	    		&--btn {
//                     background: #fc0043;
//                      border:2px solid #fc0034;
//                     cursor:pointer;
//                     padding: 10px 15px;
//      				border-radius: 15px;
//      				font-family:raleway-bold;
//     				font-size: 10px;
//     				font-weight: bold;
//             outline: none;
//     				color: white;
//                     text-transform: uppercase;
//                     &:hover {
//             background: transparent;
//             border:2px solid #fc0034;
//             color: black;
//           }
//                 }
                
//     		}
//     	}
// 	}
//   .caseDetail {
//     padding: 34px 0 0px; 
//     &__title {
//       font-family: $ternary-titlefamily;
//       font-size: 17px;
//       color: $ternary-color;
//       letter-spacing: .02em;
//     }
//     &__border {
//       border-bottom: 5px solid $ternary-color;
//       width: 60px;
//       padding: 10px 0 0;
//     }
//     &__para {
//       font-family: $primary-contentfamily;
//       font-size: $secondary-contentfont;
//       color: #6D6E71;
//       margin: 18px 0 0;
//       line-height: 20px;
//       letter-spacing: .01em;
//     }
//   }
// 	@media screen and (min-width: 1866px) and (max-width: 2560px){
//          .portBgImg {
//           height: 344px;
//     	   .portfolioInner {
//           height: 344px;
//     	   .portInnerPadd  {
//     	   &--para {
//         font-size:14px;
//         line-height:24px;
//         letter-spacing:.01em;
//             }
//              &--btn {
//            		  padding: 12px 20px;
//     			border-radius: 12px;
//     			font-size: 12px;   
//        }
//             &--title {
// 	    		font-size: 18px;
// 	    		line-height: 26px;
//     			letter-spacing: .05em;
// 	    		}
//            }
//           }
//          }
//          .caseDetail {
//     &__title {
//       font-size: 24px;
//       line-height: 34px;
//     }
//     &__para {
//       font-size: 14px;
//       line-height: 24px;
//     }
//     }
// 	}
// 	@media screen and (min-width: 1366px) and (max-width: 1865px){
//          .portBgImg {
//           height: 357px;
//     	   .portfolioInner {
//           height: 357px;
//     	   .portInnerPadd  {
//     	   &--para {
//         font-size:13px;
//         line-height:22px;
//         letter-spacing:.01em;
//             }
//             &--btn {
//            		  padding: 10px 15px;
//     border-radius: 12px;
//     font-size: 12px;    
//                    }
//            	&--title {
// 	    			font-size: 16px;
// 	    			line-height: 24px;
//     				letter-spacing: .05em;
// 	    		}       
//            	}
//            }
//           }
//           .caseDetail {
//     &__title {
//       font-size: 18px;
//     }
//     &__para {
//       font-size: 13px;
//       line-height: 22px;
//     }
//     }
//          }
	
	
//     	@media screen and (min-width: 768px) and (max-width: 1024px){
//          .portBgImg {
//           height: 412px;
//     	   .portfolioInner {
//           height: 412px;
//     	   .portInnerPadd  {
//     	   &--para {
//         font-size:11px;
//         line-height:19px;
//         letter-spacing:.01em;
//             }
//             &--btn {
//            		  font-size:10px;
//            		  padding:8px 10px;
//            		  border-radius:12px;
//            		}
//            	&--title {
// 	    			font-size: 13px;
// 	    			line-height: 20px;
//     				letter-spacing: .05em;
// 	    		}	
//            }
//           }
//          }
//          .caseDetail {
//     &__title {
//       font-size: 15px;
//     }
//     &__para {
//       font-size: 11px;
//       line-height: 19px;
//     }
//     }
// 	}
	
//     @media screen and (min-width: 320px) and (max-width: 767px) {
//     	.paddingLeftRight {
//     		padding: 0 0 40px;
//     	}
//     	.selectSection {
//     		margin-bottom: 28px;
//     	}
//     	.portfolioBg {
//     		// height: 100vh;
// 			margin: 0 auto;
//     	}
// 		.portDetail,.selectSection{
// 			position: static;
// 			left: 0;
// 		}
//     	.portBgImg {
//     		height: 252px;
//     		max-height: 100%;
//     		.portfolioInner {
//     			height: 252px;
//     			max-height: 100%;
//     			.portInnerPadd  {
//     	        &--para {
//         			font-size:10px;
//         			line-height:18px;
//         			letter-spacing:.01em;
//            				 }
//            		&--btn {
//            		  font-size:10px;
//            		  padding:8px 10px;
//            		  border-radius:12px;
//            		  }
//            		&--title {
// 	    			font-size: 12px;
// 	    			line-height: 18px;
//     				letter-spacing: .05em;
// 	    		}  
           				 
//            			}
//     			}
//     	}
//       .caseDetail {
//         padding:14px 0px;
//         &__title {
//       font-size: 14px;
//        }
//        &__para {
//       font-size: 10px;
//       line-height: 18px;
//     }
//     }  
//     }
// }
@import "practice/practice.scss";
.prct .hero_img{
    background-image: url(/assets/img/workpage/02_work.gif);
}
#lb_btn1{
    display: none;
}

.lb_work_filter li {
    display: inline;
    padding: 0 0px 4px 0px;
    cursor: pointer;
    font-family: MavenPro-Medium;
    // font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left:50px;
}
// .lb_caseStusy{
//    margin-top:32px;
// }
.lb-Workfilter{
    padding-top:32px;
}
ul.lb_work_filter.lb_filter_lg{
    text-align: center;
}
li.lb_work_filterActive{
    border-bottom: 2px solid #ea1c49;
    color: #ea1c49;
}
li.lb_work_filterli:first-child{
    margin-left: 10px !important;
}
.lb-filter-Img{
    // width:100%;
    height: 340px;
    // background-image:url('/assets/img/workpage/groome.png');
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    width:100%;
    padding-left: 30px;
}
button.lb_btn:focus {
    outline: none;
}
// .lb-filter-Img1{
//     // width:100%;
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-2.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
//     padding: 30px;
// }
// .lb-filter-Img2{
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-3.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
// }
// .lb-filter-Img3{
//     height: 340px;
//     background-image:url('/assets/img/workpage/groome-copy-4.png');
//     background-size:cover;
//     background-position:center center;
//     background-repeat:no-repeat;
//     width:100%;
// }
.lb_btn_div{
    width: 160px;
    margin: 0 auto;
    // padding-top: 20px;
    padding-bottom: 64px;

}

.lb-filter-service{
   padding-bottom: 32px;
}
.lb-filterDiv{
//    padding-left:42px;
//    padding-right: 42px;
}
.lb-filter-head{
    width: 250px;
    height: 56px;
    font-family: 'MavenPro-Medium';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 24px;
  }
  .lb-filter-header{
    font-family: 'MavenPro-Bold';
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #393939;
 
    padding-top: 15px;
  }
  .lb-filter-headdesc{
    font-family:'PT_Sans-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color:#737373;
    
  }
    .lb-filter-footer{
        font-family: MavenPro-Medium;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #5d6a6f;
        color: var(--slate-grey);
        padding-top: 10px;
    }
    div.test { display:none }
        .message {
        display: inline-block;
        width: 100%;
        float: left;
        }
    // .lb-ProductDesign{
    //     display: none;
    // }
    // .lb-Branding{
    //     display: none;
    // }
    // .Productdesign{
    //     display: none;
    // }
    .Servicedesign{
        display: none;
    }
    .BrandingandCommunication{
        display: none;
    }
    // .lb-filter-service{
    //    display: none;
    // }
    .lb_sevicetop{
        margin-top:80px;
    }
@media screen and (min-width: 320px){
    .lb_work_filter li{
        font-size: 16px;
    }
    .lb_filter_lg{
       display: none;
    }
    .work_selectdiv{
        width: 215px;
        margin: 0 auto;
    }
    .work_select{
        background-color: #fff;
        border: none;
        padding: 10px;
        /* border-radius: 16px; */
        border-bottom: 2px solid #ea1c49;
        color: #ea1c49;
        padding: 0px;
        padding-bottom: 4px;
    }
    select.work_select:focus {
        outline: none;
    }
    .lb_filter_mb{
       display: block;
    }
    .lb-filter-head{
        font-size: 14px;
        width: 166px;
    
    }
    .lb-filter-header{
        font-size: 16px;
    }
    .lb-filter-headdesc{
        font-size: 12px;
    }
    .lb_btn_div{
        text-align: center;
    }
  
}
@media screen and (max-width: 420px){
    .lb-filter-Img {
        height: 194px;
        padding-left:15px;
    }
}
@media screen and (min-width: 768px){
    .lb_filter_lg{
       display: block;
    }
    .lb-filter-Img {
        padding-left:15px;
    }
    .lb_work_filter li{
        font-size: 16px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 14px;
    }
    .lb-filter-header{
        font-size: 16px;
    }
    .lb-filter-headdesc{
        font-size: 12px;
    }

    .lb_btn_div{
        text-align: center;
    }
}
@media screen and (min-width: 1024px){
    .lb_filter_lg{
       display: block;
    }
    .lb_work_filter li{
        font-size: 24px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 18px;
        width: 200px;
    }
    .lb-filter-header{
        font-size: 20px;
    }
    .lb-filter-headdesc{
        font-size: 16px;
    }
 
    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-Img {
        padding-left:30px;
    }

}
@media screen and (min-width: 1367px){
    .lb_filter_lg{
       display: block;
    }
    .lb_work_filter li{
        font-size: 24px;
    }
    .lb_filter_mb{
      display: none;
    }
    .lb-filter-head{
        font-size: 20px;
    }
    .lb-filter-header{
        font-size: 24px;
    }
    .lb-filter-headdesc{
        font-size: 16px;
    }

    .lb_btn_div{
        text-align: center;
    }
    .lb-filter-Img {
        padding-left:30px;
    }
}
.filterli-2{
    display: none;
}
.filterli-3{
    display: none;
}
.caretcss{
    position: relative;
    /* right: 3px; */
    /* float: right; */
    /* top: 9px; */
    /* left: -7px; */
    float: right;
    top: 10px;
    /* left: 18px; */
}
.dropdownbtn{
    padding: 0px;
    text-align: left;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0px;
    border-bottom: 2px solid #ea1c49;
    color: #ea1c49;
    padding: 0;
    padding-bottom: 4px;
}
.dropdown-menu li{
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdownbtn{
   width: 100%;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-menu li.lb_work_filterli:first-child{
     margin: 0px !important;
}
.dropdown-menu li.lb_work_filterActive{
    border-bottom: none;
}