@import "workpage/workpage.scss";

.red{
    color: #ea1c49;
}
.lb-explore{
   position: relative;
   z-index: 2px;
}
li.lb_work_filterli:first-child {
    margin-left: 40px !important;
}
.lb-Workfilter {
    padding-top: 40px;
}
.tabs{
    margin-left: 50px !important;
}
.homePage{
    // margin-top: 80px;
    &__BnrDiv{
        background-image: url(/assets/img/homepage/01_Home.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        margin-top: -2%;
        &__Inner{
             height: 710px;
            &__Content{
                padding: 25% 0 0 157px;
                width: 655px;
                color:#393939;
                h1{
                    font-size: 48px;
                    font-family: 'MavenPro-Medium';
                    span{
                        color: #ea1c49;
                    }
                }
                p{
                    padding-top: 24px;
                    font-family: 'PT_Sans-Regular';
                }
            }
        }
        &__Service{
            position: absolute;
            left:0px;
            bottom: 0px;
            width:100%;       
            h1{
                text-align: center;
                color: #393939;
                font-size: 40px;
                font-family: 'MavenPro-Medium';
                margin-bottom: 40px;
                // margin-top: 120px;
            }
            &__Cards{
                display: flex;
                align-items: center;
                justify-content: center;
                &__Inner{
                    width: 350px;
                    height: 350px;
                    background-color: #fff;
                    text-align: center;
                    border-radius: 16px;
                    box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.1);
                    margin-right: 30px;
                    color: #393939 !important;
                    &__a{
                        width: 100%;
                        height: 100%;
                        padding-top:65px;
                        display: block;
                        color: #393939 !important; 
                        h3:hover{
                            color: #fff;
                        }
                        &__img{
                            // background-image: url("/assets/img/homepage/service-design.svg");
                            background-repeat: no-repeat;
                            width: 88px;
                            height: 88px;
                            margin: 0 auto;
                            background-size: contain;
                        }
                        &__normal{
                            display: block;
                        }
                        &__onHover{
                            display: none;
                        }
                        // &__img1{
                        //     background-image: url("/assets/img/homepage/product-design.svg");
                        //     background-repeat: no-repeat;
                        //     width: 88px;
                        //     height: 88px;
                        //     margin: 0 auto;
                        //     background-size: contain;
                        // }
                        // &__img2{
                        //     background-image: url("/assets/img/homepage/product-design.svg");
                        //     background-repeat: no-repeat;
                        //     width: 88px;
                        //     height: 88px;
                        //     margin: 0 auto;
                        //     background-size: contain;
                        // }
                        img{
                            display: none;
                        }
                        h3{
                            margin: 20px 0px;
                            font-size: 24px;
                            font-family: 'MavenPro-Bold';
                          
                        }
                        p{
                            margin-top: 10px;
                            font-size: 17px;
                            font-family: 'PT_Sans-Regular';
                            color: #737373;
                        }
                    }
                }
                &__Inner1{
                    margin-right: 0;
                }
                &__Inner:hover{
                    background-color:#ee4b6e;
                    color:#fff !important;
                    text-decoration: none !important;
                    -webkit-transition: background-color 100ms linear;
                    -ms-transition: background-color 100ms linear;
                    transition: background-color 100ms linear;
                    // &__a{
                    //     &__normal{
                    //         display: none;
                    //     }
                    //     &__onHover{
                    //         display: block;
                    //     }
                    // }
                }
                &__Inner:hover &__Inner__a{
                    color:#fff !important;
                    text-decoration: none !important;
                }
                &__Inner:hover &__Inner__a &__Inner__a__normal{
                    display: none;
                }
                &__Inner:hover &__Inner__a &__Inner__a__onHover{
                    display: block;
                }
               
                &__Inner:hover p{
                    display: none;
                }
                &__Inner:hover img{
                    display: block;
                    margin: 30px auto;
                    width: 31px;
                    height: 28px;
                }
            }
        }
    }
    &__dna{
        display: flex;
        justify-content: center;
        align-self: center;
        // margin-top: 180px;
       
        padding-bottom: 50px;
        &__left{
            width: 50%;
            padding-right: 0px;
            img{
                width: auto;
                height: auto;
            }
        }
        &__right{
            margin: 0px auto;
            width: 50%;
            margin-top:8%;
            h1{
                margin:0px;
                font-size: 24px;
                font-family: 'MavenPro-Bold';
                color: #393939;
            }
            p{
                margin-bottom: 32px;
                margin-top: 20px;
            }
            // a{
            //     padding: 12px 30px 14px;
            //     color: #393939;
            //     border-radius: 28px;
            //     border: solid 2px #022b3b;
            //     font-size: 20px;
            //     font-family: 'PT_Sans-Regular';
            //     text-decoration: none;
            // }
        }
    }
}
.lb-ourworks{
    text-align: center;
    font-family: 'MavenPro-Medium';
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    /* text-align: left; */
    color: #393939;
    padding-bottom: 40px;
}

.lb-ourworks-dna{
    
    width: 1100px;
    margin: 150px auto 0;
}
@media screen and (max-width: 1366px) {
    li.lb_work_filterli:first-child {
        margin-left: 60px !important;
    }
    .lb-Workfilter {
        padding-top: 36px;
    }
    .tabs{
        margin-left: 50px !important;
    }
    .lb-ourworks{
        font-size: 32px;
        padding-bottom: 36px;
    }
    .homePage{
         margin-top: 0;
        &__BnrDiv{
            // background-size: cover;
            // background-position: 40% 84px;
            &__Inner{
                background-size: 34%;
                background-position: right 140px;
                &__Content{
                    padding: 259px 0 0 81px;
                    width: 541px;
                    h1{
                        font-size: 40px;
                    }
                    p{
                        padding-top: 20px
                    }
                   
                }
            }
            &__Service{
                // position: relative;
                // top: 130px;            
                h1{
                    font-size: 32px;
                    margin-top: 0px;
                }
                &__Cards{
                    &__Inner{
                        width: 300px;
                        height: 318px;
                        margin-right: 20px;
                        &__a{
                            padding-top: 64px;
                            h3{
                                font-size: 16px;
                            }
                            p{
                                font-size: 14px;
                            }
                            &__img{
                                width:64px;
                                height: 64px;
                            }
                            // &__img1{
                            //     width:64px;
                            //     height: 64px;
                            // }
                            // &__img2{
                            //     width:64px;
                            //     height: 64px;
                            // }
                        }
                    }
                    &__Inner1{
                        margin-right: 0;
                    }
                    &__Inner:hover img{
                        display: block;
                    }
                }
            }
        }
        &__dna{
            
            &__left{
                width: 50%;
                img{
                    width: auto;
                    height: auto;
                }
            }
            &__right{
               width: 50%;
                margin: 0px auto;
                padding-right: 90px;
                margin-top:8%;
                h1{
                    font-size: 20px;
                    margin: 0px;
                }
                p{

                }
                a{
                    font-size: 16px;
                }
            }
        }
    }
    .lb-ourworks-dna{
        width: 965px;
        margin: 193px auto 0;
    }
}
@media screen and (max-width: 1023px) {
    li.lb_work_filterli:first-child {
        margin-left: 15px !important;
    }
    .lb-Workfilter {
        padding-top: 32px;
    }
    .homePage{
        &__BnrDiv{
            &__Inner{
                height: auto;
                &__Content{
                    padding: 200px 0px 0px 93px;
                    width: 382px;
                    h1{
                        font-size: 32px;
                    }
                   p{
                       padding-top: 16px;
                   }
                }
            }
            &__dna{
                padding-bottom: 100px;
            }
            &__Service{
                // position: relative;
                // top: 130px;
            
                h1{
                    font-size: 28px;
                    margin-bottom: 36px;
                }
                &__Cards{
                    &__Inner{
                        width: 220px;
                        height: 260px;
                        &__a{
                                padding-top: 48px;
                            h3{
                                font-size: 16px;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                    &__Inner1{
                        margin-right: 0;
                    }
                    &__Inner:hover img{
                        display: block;
                    }
                }
            }
        }
        &__dna{
            
            &__left{
                img{
                    width: 90%;
                    height: 93%;
                }
            }
            &__right{
                width: 342px;
                margin: 0px auto;
                padding-right: -1px;
                margin-top:8%;
                h1{
                    font-size: 16px;
                    margin: 0px;
                }
                p{
                    margin-bottom: 32px;
                    margin-top: 16px; 
                }
                a{
                    font-size: 14px;
                }
            }
        }
        &__dna {
            padding-bottom: 60px;
        }
    }
    .lb-ourworks{
        font-size: 28px;
        padding-bottom: 36px;
    }
    .lb-ourworks-dna{
        width: 700px;
        margin: 170px auto 0;
    }
}
@media screen and (max-width: 767px) {

    .homePage{
        margin-top: 35px;
        &__BnrDiv{
            // background-image:none;
            background-image: url(/assets/img/homepage/001_mobile-home-banner.gif);
            background-size: cover;
            background-position: center center;
            // padding-top: 284px;
            height: 878px;
            &__Inner{
                height: 710px;
                background-image: none;
                &__Content{
                    padding: 0;
                    width: 300px;
                    padding-top: 370px;
                    text-align: center;
                    margin: 0 auto;
                    h1{
                        font-size: 28px;
                    }
                   p{
                       padding-top: 12px;
                   }
                }
            }
            &__Service{
                // position: relative;
                // top: 20px;   
                bottom: -386px;         
                h1{
                    margin-top: -390px;
                    font-size: 24px;
                    margin-bottom: 32px;
                }
                &__Cards{
                    display: block;
                    &__Inner{
                        width: 210px;
                        height: 210px;
                        margin: 0 auto 16px;
                        &__a{
                            padding-top: 50px;
                           
                            h3{
                                font-size: 16px;
                            }
                            p{
                                display:none;
                            }
                        }
                    }
                    &__Inner:hover img{
                        display: none;
                    }
                }
            }
        }
        &__dna{
            display: block;
            margin-top:0px;
            padding-bottom:65px;
            &__left{
                padding-right: 0;
                margin: 0 auto;
                // width: 264px;
                // height: 246px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &__right{
                width: 264px;
                text-align: center;
                margin: 32px auto 0px;
                padding: 0px;
                h1{
                    font-size: 16px;
                }
                p{
                 margin-top: 12px;

                }
                a{
                    font-size: 14px;
                }
            }
        }
        
    }
    .lb-ourworks{
        font-size: 24px;
        padding-bottom: 32px;
    }
    .lb-ourworks-dna{
        width: 300px;
        margin: 431px auto 0;
    }
    // .dropdown-toggle{
    //     text-align:center;
    // }
    .lb_work_filterli{
        text-align:center;
    }
}
