{% include header.html %}
    {% include common_header.html %}


    <div class="lb_bdy prct">
        <div class="hero_img"></div>
        <div class="hero_cnt">
            <div class="heroText">
                Design is in our <span class="heroHighlight">DNA</span>
            </div>
            <div class="bnrText">
                Our design native approach is a framework for continuos<br/>
                design and implementation.
            </div>
            <div class="hero_ptn"></div>
        </div>
        </div>
        <div class="philSec prct">
            <div class="dnaSummary">
                <div class="genericTitle text-center">
                  State of mind at LB
                </div>
                <div class="container dnaContainer">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        We are young, adventerous and good hearted. We aim to bring a social change by good design and great collaboration. Customer delight is what we strive for and midweek parties are what we love to do! 
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap1.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap2.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap3.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap4.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap5.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap6.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap7.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap8.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap9.png"/>
            </div>
        </div>