{% include header.html %}
    {% include common_header.html %}

<section>
    <div class="lb_bdy prct">
        <div class="hero_img"></div>
        <div class="hero_cnt">
            <div class="heroText">
                Get to know <span class="heroHighlight">all about us</span>
            </div>
            <div class="bnrText">
                Little Brahma is a strategy and design consulting firm that helps companies build positive change through better products. We are researchers, designers, technologists, startup enthusiasts and social entrepreneurs 
                who partner with organisations at different stages and devise solutions in diverse sectors.
            </div>
            <div class="hero_ptn"></div>
        </div>
        </div>
        <div class="philSec prct">
            <div class="dnaSummary">
                <div class="genericTitle text-center">
                  State of mind at LB
                </div>
                <div class="container dnaContainer">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                        Little Brahma, started as a design arm of Hashworks which later emerged to become an independent
                        creative studio with a 4 member team in 2016 bridging the gap between technology and end users. 
                        We evolved over years and have been able to deliver enterprise level design solutions. We have worked
                        with organization in more than 10+ domains. In 2017, our website received an award for “Site of the Day”. 
                    </div>
                </div>
            </div>
            
        </div>
        <div class="about-us">
            <div class="row">
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap1.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap2.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap3.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap4.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap5.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap6.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap7.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap8.png"/>
            </div>
            <div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 padding-0">
                  <img src="/assets/img/about_us/bitmap9.png"/>
            </div>
        </div>
        </div>

    </section>
        {% include common_footer.html %}
        {% include footer.html %}