{% include header.html %}
    {% include common_header.html %}
  
    <div class="branding">
        <div class="lb_bdy prct">
      <div class="{{page.backgroundColor}}">
          <div class="hero_img" style="background-image: url('{{page.enigma_banner}}');"></div>
     </div>
            <div class="hero_cnt">
                <div class="heroText">
                    {{page.title}} 
                    <h1 class="paragraph brand"> {{page.brandTitle}} </h1>
                </div>
                
                <!-- <button class="commonButton">View website</button> -->
                <div class="hero_ptn"></div>
            </div>
        </div>
        <div class="challange">
            <div class="engima">
                <h1 class="csHeading">{{{{page.inntroTitle}}</h1>
                <p class="paragraph">{{page.introparagraph}}</p>
            </div>
        </div>
        <div class="branding__image">
            <div class="row">
                    <div class="col-xs-1 "></div>
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                          <img src="/assets/img/branding/{{page.brandImage1}}">
                  </div>
                  <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                          <img src="/assets/img/branding/{{page.brandImage2}}">
                  </div>
                  <div class="col-xs-1 "></div>
                  <div class="col-xs-1 "></div>
                  <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                          <img src="/assets/img/branding/{{page.brandImage3}}">
                  </div>
                  <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                          <img src="/assets/img/branding/{{page.brandImage4}}">
                  </div>
                  <div class="col-xs-1 "></div>
             </div>
        </div>

           <div class="challange">
               <div class="engima engima1 ">
                  <h1 class="csHeading">{{page.challange}}</h1>
                  {% for paragraph in page.challangeList %}
                  <p class="paragraph">{{paragraph.challangepara}}</p>
                  {% endfor %}
                
               </div>
            </div>

          <div class="branding__perceive">
              <div class="branding__perceive__align" >
                  <h1 class="headingLight">{{page.perceiveTitle}}</h1>
                  <h2 class="csHeading">{{page.percevesubtitle}}</h2>
                  {% for paragraph1 in page.perceiveList %}
                  <p class="paragraph">{{paragraph1.perceivepara}}</p>
                  {% endfor %}
                   <img class="percevieImage" src="/assets/img/branding/{{page.percieveImage}}" alt="">
               </div>
          </div>
          <div class="branding__banner">
              <img src="/assets/img/branding/{{page.bannerBrand}}" alt="">

          </div>
          <div class="branding__adapt" style="background-image: url('{{page.adaptImage}}');">
                <div class="branding__adapt__align" >
                    <h1 class="headingLight">{{page.adaptTitle}}</h1>
                    <h2 class="csHeading">{{page.adaptSubTitle}}</h2>
                    <p class="paragraph">{{page.adaptParagraph}}</p> 
                  </div>
            </div>

            <div class="branding__concept1">
                <div class="branding__concept">
                      <h1 class="headingLight">{{page.conceptTitle}}</h1>
                      <p class="paragraph">{{page.conceptparagraph}}</p> 
                </div>
<div class="conecptImage">
                {% for images in page.background %}
                  {% if images.imageType == "mobile" %}
                 <div class="back mobileClass" style="background-image: url('{{images.image}}');">
                      {% elsif images.imageType == "tab" %}
                        <div class="back tabClass" style="background-image: url('{{images.image}}');">
                      {% endif %}
                        <div class="row ">
                            <div class="col-xs-12 col-sm-3">
                                    <img src="/assets/img/branding/{{page.conceptImage1}}" alt="concept">
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                    <img src="/assets/img/branding/{{page.conceptImage2}}" alt="concept">
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                    <img src="/assets/img/branding/{{page.conceptImage3}}" alt="concept">
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                    <img src="/assets/img/branding/{{page.conceptImage4}}" alt="concept">
                            </div>
                         </div>
                        </div>
                      {% endfor %}
                </div>
            </div>
            <div class="branding__logo">
                <!-- <h2 class="csHeading">Final Logo</h2> -->
                <img src="/assets/img/branding/{{page.finallogo}}" alt="final logo">
            </div>

            <div class="row branding__meaning">
                <div class="col-xs-12">
                    <h1 class="csHeading">{{page.meaningTitle}} </h1>
                    <p class="paragraph">{{page.meaningpara}}</p>
                </div>
            </div>

          <div class="brandlogo">
                {% for image in page.backgroundlogo %}
                {% if image.imageTypelogo == "mobileLogo" %}
               <div class="enigmabackground mobileClass" style="background-image: url('{{image.imagelogo}}');">
                {% elsif image.imageTypelogo == "tabLogo" %}
                    <div class="enigmabackground tabClass" style="background-image: url('{{image.imagelogo}}');">
                          {% endif %}
                          <div class="branding__enigmalogo">
                            <img src="/assets/img/branding/{{page.enigmalogo}}" alt="">
                          </div>
                    </div>
                    {% endfor %}
              </div>
         </div>
        
   <div class="branding__enigmalist">
        <h2 class="csHeading">Variations</h2>
            <div class="row ">
                <div class="col-xs-12 col-sm-7">
                        <img src="/assets/img/branding/{{page.variations1}}" alt="">
                </div>
                <div class="col-xs-12 col-sm-5">
                        <img src="/assets/img/branding/{{page.variations2}}" alt="">
                </div>
            </div>
        </div>

        <div class="branding__evolve" style="background-image: url('{{page.adaptImage}}');">
            <div class="branding__evolve__align" >
                <h1 class="headingLight">{{page.evolveTitle}}</h1>
                <h2 class="csHeading">{{page.evolveSubTitle}}</h2>
                <p class="paragraph">{{page.evolveparagraph}} </p>
             </div>
         </div>


   <div class="branding__enigmalist1 ">
      <h2 class="csHeading colorPalette ">{{page.colorPalette}}</h2>
        <div class="row ">
                {% for imaga in page.colorPaletter_list %}
            <div class="col-xs-6 col-sm-3">
                <img src="/assets/img/branding/{{imaga.paletter}}" alt="">
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="branding__fontfamily">
            <h1 class="csHeading">Typography</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-5 ">
              <img class="font1" src="/assets/img/branding/hashworks/{{page.font}}" alt="">
            </div>
            <div class="col-xs-12 col-sm-7 ">
              <img class="font2" src="/assets/img/branding/hashworks/{{page.font1}}" alt="">
            </div>
        </div>
    </div>
<div>
    <div class="{{page.iconsection}}">
      <div class="branding__icons">
        <h2 class="csHeading">{{page.icons}}</h2>
          <div class="row">
               {% for image in page.icon_list1 %}
                <div class="col-xs-4 col-sm-2 ">
                  <img src="/assets/img/branding/icon/{{image.icons1}}" alt="">
                </div>
                {% endfor %}
          </div>
        </div>
       </div>
</div>

          <div class="">
              {% for img in page.enigmaImageListt %}
                <div class="{{img.class}}">
                  <img class="topimage" src="/assets/img/branding/icon/{{img.enigmaimg}}" alt="">
                </div> 
              {% endfor %}
         </div>
            <div class="enigmaCup">
                <div class="row ">
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 ">
                            <img class="imagemargin" src="/assets/img/branding/icon/{{page.enigmaImage2}}">
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 ">
                            <img  class="imagemargin" src="/assets/img/branding/icon/{{page.enigmaImage3}}">
                    </div>
               </div>
            </div>
           <div class="">
                {% for image in page.enigmaImageList %}
                <div class="{{image.class}}">
                  <img class="imagemargin" src="/assets/img/branding/icon/{{image.enigmaImage}}" alt="">
                </div>
                {% endfor %}
            </div>
    </div>

    <div class="blob1">
        <div  class="blob2">
             <h1 class="headingLight">Like it?</h1>
             <a href="/workpage"> <button class="commonButton ">View more</button></a>
        </div>


      <div class="blobs">  
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
        <div class="blob"></div>
    </div>
 </div>
  

    {% include common_footer.html %}
    {% include footer.html %}