{% include header.html %}
    {% include common_header.html %}

   
    <div class="lb_bdy prct">
            <div class="hero_img"  style="background-image: url('{{page.banner_imag1}}');"></div>
            <div class="hero_cnt">
                <div class="heroText">
                        {{ page.banner-Head }}
                </div>
                <div class="bnrText">
                    {{ page.banner-cnt }}
                </div>
                <div class="hero_ptn"></div>
            </div>
      </div>
      <div class="cs-service">
      <div class="CSservice">
            {% for box in page.box_lists %}
            <div class="CSservice__box {{page.color}}">
                <img src="/assets/img/caseStudy-service/{{ box.UImg1  | downcase }}.png">
                <div class="csHeading boxHeading">{{box.box-Head1}}</div>
                <p class="paragraph boxPara">{{box.box-para1}}</p>
            </div>
            {% endfor %}
      </div>
      <div class="caseStudy">
      <div class="caseStudy__content1">
        <div class="caseStudy__cHead csHeading">
                {{ page.cHead1 }}
        </div>
        <p class="paragraph">{{ page.cContent1 }}</p>
    </div>
    </div>
    <div class="CSservice1">
        <img src="/assets/img/caseStudy-service/{{ page.SImg1  | downcase }}.png">
    </div>
    <div class="caseStudy">
        <div class="caseStudy__content1">
          <div class="caseStudy__cHead csHeading">
                  {{ page.cHead2 }}
          </div>
          {% for challenge in page.challenge_list %}
          {% if page.sbHead == 'yes' %}
          <p class="csLightHead">{{ challenge.subhead}}</p></br></br>
          {% endif %}
          {% for cont in challenge.content_para %}
          <p class="paragraph">{{ cont.cContent2}}</p></br></br>
          {% endfor %}
          {% for service in challenge.content_lists %}
          <p class="paragraph">{{ service.cContent4}}</p>
          {% endfor %}
          {% endfor %}

         
        </div>
    </div>
    
    <div class="caseStudy">
            {% if page.section == 'gov' %}
        <div class="SceneImg2">
            <div class="caseStudy__bgImg2 csHd" style="background-image: url('{{page.SImg2}}');">
                <div class="caseStudy__content4">
                    <div class="caseStudy__cHead headingBold ">{{ page.cHead3 }}</div>
                    <div class="caseStudy__cHead csHeading color">{{ page.csubHead3 }}</div>
                    {% for para in page.perceive_para %}
                            <p  class="paragraph color">{{ para.cContent5 }}</p></br></br>
                            {% endfor %}
                            {% for service in page.content_lists1 %}
                            <p class="paragraph color">{{ service.cContent7}}</p>
                            {% endfor %}
                </div>
            </div>
            <div class="caseStudy__bgImg2 csMobile" style="background-image: url('{{page.SImg16}}');">
                    <div class="caseStudy__content4">
                        <div class="caseStudy__cHead headingBold ">{{ page.cHead3 }}</div>
                        <div class="caseStudy__cHead csHeading color">{{ page.csubHead3 }}</div>
                        {% for para in page.perceive_para %}
                            <p  class="paragraph color">{{ para.cContent5 }}</p></br></br>
                            {% endfor %}
                                {% for service in page.content_lists1 %}
                                <p class="paragraph color">{{ service.cContent7}}</p>
                                {% endfor %}
                    </div>
                </div>
            
            
                <div class="CSservice__box1 {{page.color}}">
                    <div ><span class="headingBold color">{{page.box-Head4}}</span><span class="csHeading color">{{page.box-Head5}}</span></div></br>
                    <p class="paragraph color">{{page.box-para4}}</p>
                </div>
            </div>
            {% endif %}
            {% if page.section == 'opm' %}
                    <div class="SceneImg">
                        <div class="caseStudy__bgImg csHd" style="background-image: url('{{page.SImg17}}');">
                                <div class="caseStudy__content2">
                                    <div class="caseStudy__cHead headingBold ">{{ page.cHead3 }}</div>
                                    <div class="caseStudy__cHead csHeading color">{{ page.csubHead3 }}</div>
                                    {% for perceive in page.main_perceive %}
                                            {% for para in perceive.perceive_para %}
                                            <p  class="paragraph color">{{ para.cContent5 }}</p></br></br>
                                            {% endfor %}
                                            <div class="perceive">
                                        {% for service in perceive.content_lists1 %}
                                        <p class="paragraph color">{{ service.cContent7}}</p>
                                        {% endfor %}
                                    </div>
                                        {% endfor %}
                                </div>
                                
                        </div>
                        <div class="caseStudy__bgImg csMobile" style="background-image: url('{{page.SImg4}}');">
                                <div class="caseStudy__content2">
                                    <div class="caseStudy__cHead headingBold ">{{ page.cHead3 }}</div>
                                    <div class="caseStudy__cHead csHeading color">{{ page.csubHead3 }}</div>
                                    {% for para in page.perceive_para %}
                                            <p  class="paragraph color">{{ para.cContent5 }}</p></br></br>
                                            {% endfor %}
                                        {% for service in page.content_lists1 %}
                                        <p class="paragraph color">{{ service.cContent7}}</p>
                                        {% endfor %}
                                </div>
                                
                        </div>
                        <img src="/assets/img/caseStudy-service/{{ page.SImg19 | downcase }}.png">
                        </div>
                        {% endif %}
        </div>
       


        <div class="CSService2">
            <div class="csHeading">{{ page.cHead4 }}</div></br>
            <div class="paragraph">{{ page.cContent8 }}</div>
        </div>
        <div class="CSService3">
            <img src="/assets/img/caseStudy-service/{{ page.SImg3  | downcase }}.png">
        </div>
        <div class="caseStudy">
            <div class="SceneImg">
                <div class="caseStudy__bgImg csHd" style="background-image: url('{{page.SImg17}}');">
                        <div class="caseStudy__content2">
                            <div class="caseStudy__cHead headingBold ">{{ page.cHead5 }}</div>
                            <div class="caseStudy__cHead csHeading color">{{ page.csubHead4 }}</div>
                            <p  class="paragraph color">{{ page.cContent9 }}</p></br></br>
                            <div class="caseStudy__cHead csHeading color">{{ page.csubHead5 }}</div>
                            <p  class="paragraph color">{{ page.cContent10 }}</p>
                        </div>
                        
                </div>
                <div class="caseStudy__bgImg csMobile" style="background-image: url('{{page.SImg4}}');">
                        <div class="caseStudy__content2">
                            <div class="caseStudy__cHead headingBold ">{{ page.cHead5 }}</div>
                            <div class="caseStudy__cHead csHeading color">{{ page.csubHead4 }}</div>
                            <p  class="paragraph color">{{ page.cContent9 }}</p></br></br>
                            <div class="caseStudy__cHead csHeading color">{{ page.csubHead5 }}</div>
                            <p  class="paragraph color">{{ page.cContent10 }}</p>
                        </div>
                        
                </div>
                <img src="/assets/img/caseStudy-service/{{ page.SImg5 | downcase }}.png">
                </div>
        </div>
        <div class="CSService4">
                {% for design in page.division_loop %}
                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                {% if thecycle == 'odd' %}
                <div class="row padding-bottom {{forloop.index}}">
                    
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-lg-6 col-lg-offset-1 padding-0">
                                <div class="csHeading">{{ design.cHead6 }}</div></br>
                                {% for design in design.para_loop %}
                                <div class="paragraph">{{ design.cContent11 }}</div>
                                {% endfor %}
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-0  col-lg-4 col-lg-offset-0 padding-0 padding-left">
                                <img src="/assets/img/caseStudy-service/{{ design.SImg6  | downcase }}.png">
                        </div>
                    </div>
                    {% endif %}
                {% if thecycle == 'even' %}
                    <div class="row padding-bottom">
                            
                        <div class="col-xs-10 col-xs-offset-1 col-xs-offset-0 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1  col-lg-4 col-lg-offset-1 padding-0 divB padding-right">
                                <img src="/assets/img/caseStudy-service/{{ design.SImg6  | downcase }}.png">
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-lg-6 col-lg-offset-0 divA padding-0">
                                <div class="csHeading">{{ design.cHead6 }}</div></br>
                                {% for design in design.para_loop %}
                                <div class="paragraph">{{ design.cContent11 }}</div>
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for fullImg in page.full_image%}
                        <div class="row padding-bottom">
                                <div class="col-xs-10 col-xs-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 padding-0">
                                        <div class="csHeading">{{ fullImg.cHead8 }}</div></br>
                                        {% for cntnt in fullImg.cntnt_loop %}
                                        <div class="paragraph cs-allign">{{ cntnt.cContent13 }}</div>
                                        {% endfor %}
                                </div>
                                <div class="col-xs-10 col-xs-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 padding-0">
                                        <img src="/assets/img/caseStudy-service/{{ fullImg.SImg8  | downcase }}.png">
                                </div>
                            </div>
                                {% endfor %}
                                <div class="row padding-bottom">
                                        <div class="col-xs-10 col-xs-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 padding-0">
                                                <div class="csHeading">{{ page.cHead10 }}</div></br>
                                                <div class="paragraph cs-allign">{{ page.cContent15 }}</div>
                                                
                                        </div>
                                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-0">
                                                <img src="/assets/img/caseStudy-service/{{ page.SImg10  | downcase }}.png">
                                        </div>
                                    </div>
                                    
                                        <div class="row padding-bottom">
                                                <div class="col-xs-10 col-xs-offset-1  col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 padding-0">
                                                        <img src="/assets/img/caseStudy-service/{{ page.SImg11  | downcase }}.png">
                                                </div>
                                            </div>
                </div>

        
        
              <div class="caseStudy">
                  <div class="SceneImg2">
                      <div class="caseStudy__bgImg2 bg5 csHd " style="background-image: url('{{page.SImg15}}');">
                          <div class="caseStudy__content4">
                              <div class="caseStudy__cHead headingBold ">{{ page.cHead11 }}</div>
                              <div class="caseStudy__cHead csHeading color">{{ page.csubHead6 }}</div>
                                      <p  class="paragraph color">{{ page.cContent16 }}</p></br>
                                      
                          </div>
                      </div>
                      <div class="caseStudy__bgImg2 bg5 csMobile" style="background-image: url('{{page.SImg16}}');">
                        <div class="caseStudy__content4">
                            <div class="caseStudy__cHead headingBold ">{{ page.cHead11 }}</div>
                            <div class="caseStudy__cHead csHeading color">{{ page.csubHead6 }}</div>
                                    <p  class="paragraph color">{{ page.cContent16 }}</p>
                        </div>
                    </div>
                      
                          <div class="CSservice__box1 box {{page.color}}">
                              <div ><span class="headingBold color">{{page.box-Head7}}</span><span class="csHeading color">{{page.box-Head8}}</span></div></br>
                              <p class="paragraph color">{{page.box-para5}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="CSService3">
                        <img src="/assets/img/caseStudy-service/{{ page.SImg12  | downcase }}.png">
                    </div>
                    <!-- <div class="CSService5">
                            <img src="/assets/img/caseStudy-service/{{ page.SImg13  | downcase }}.png">
                        </div>
                        <div class="CSService6">
                                <img src="/assets/img/caseStudy-service/{{ page.SImg14  | downcase }}.png">
                            </div> -->
                            <div class="CSService7">
                                    {% for images in page.img_list %}
                                    
                                    <img src="/assets/img/caseStudy-service/{{ images.SImg18  | downcase }}.png">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="blob1">
                                    <div>
                                           <h1 class="headingLight">Like it?</h1>
                                           <a href="/workpage"> <button class="commonButton ">Know More</button></a>
                                    </div>
                                           
                              
                                    <script>
                                    let canvas, ctx;
                                           let render, init;
                                           let blob;
                                           
                                           class Blob {
                                             constructor() {
                                               this.points = [];
                                             }
                                             
                                             
                                             init() {
                                               for(let i = 0; i < this.numPoints; i++) {
                                                 let point = new Point(this.divisional * ( i + 1 ), this);
                                                 // point.acceleration = -1 + Math.random() * 2;
                                                 this.push(point);
                                               }
                                             }
                                             
                                             render() {
                                               let canvas = this.canvas;
                                               let ctx = this.ctx;
                                               let position = this.position;
                                               let pointsArray = this.points;
                                               let radius = this.radius;
                                               let points = this.numPoints;
                                               let divisional = this.divisional;
                                               let center = this.center;
                                               
                                               ctx.clearRect(0,0,canvas.width,canvas.height);
                                               
                                               pointsArray[0].solveWith(pointsArray[points-1], pointsArray[1]);
                                           
                                               let p0 = pointsArray[points-1].position;
                                               let p1 = pointsArray[0].position;
                                               let _p2 = p1;
                                           
                                               ctx.beginPath();
                                               ctx.moveTo(center.x, center.y);
                                               ctx.moveTo( (p0.x + p1.x) / 2, (p0.y + p1.y) / 2 );
                                           
                                               for(let i = 1; i < points; i++) {
                                                 
                                                 pointsArray[i].solveWith(pointsArray[i-1], pointsArray[i+1] || pointsArray[0]);
                                           
                                                 let p2 = pointsArray[i].position;
                                                 var xc = (p1.x + p2.x) / 2;
                                                 var yc = (p1.y + p2.y) / 2;
                                                 ctx.quadraticCurveTo(p1.x, p1.y, xc, yc);
                                                 // ctx.lineTo(p2.x, p2.y);
                                           
                                                 ctx.fillStyle = '#b2e6e5';
                                                 // ctx.fillRect(p1.x-2.5, p1.y-2.5, 5, 5);
                                           
                                                 p1 = p2;
                                               }
                                           
                                               var xc = (p1.x + _p2.x) / 2;
                                               var yc = (p1.y + _p2.y) / 2;
                                               ctx.quadraticCurveTo(p1.x, p1.y, xc, yc);
                                               // ctx.lineTo(_p2.x, _p2.y);
                                           
                                               // ctx.closePath();
                                               ctx.fillStyle = this.color;
                                               ctx.fill();
                                               ctx.strokeStyle = '#b2e6e5';
                                               // ctx.stroke();
                                               
                                           /*
                                               ctx.fillStyle = '#000000';
                                               if(this.mousePos) {
                                                 let angle = Math.atan2(this.mousePos.y, this.mousePos.x) + Math.PI;
                                                 ctx.fillRect(center.x + Math.cos(angle) * this.radius, center.y + Math.sin(angle) * this.radius, 5, 5);
                                               }
                                           */
                                               requestAnimationFrame(this.render.bind(this));
                                             }
                                             
                                             push(item) {
                                               if(item instanceof Point) {
                                                 this.points.push(item);
                                               }
                                             }
                                             
                                             set color(value) {
                                               this._color = value;
                                             }
                                             get color() {
                                               return this._color || '#b2e6e5';
                                             }
                                             
                                             set canvas(value) {
                                               if(value instanceof HTMLElement && value.tagName.toLowerCase() === 'canvas') {
                                                 this._canvas = canvas;
                                                 this.ctx = this._canvas.getContext('2d');
                                               }
                                             }
                                             get canvas() {
                                               return this._canvas;
                                             }
                                             
                                             set numPoints(value) {
                                               if(value > 2) {
                                                 this._points = value;
                                               }
                                             }
                                             get numPoints() {
                                               return this._points || 32;
                                             }
                                             
                                             set radius(value) {
                                               if(value > 0) {
                                                 this._radius = value;
                                               }
                                             }
                                             get radius() {
                                               return this._radius || 150;
                                             }
                                             
                                             set position(value) {
                                               if(typeof value == 'object' && value.x && value.y) {
                                                 this._position = value;
                                               }
                                             }
                                             get position() {
                                               return this._position || { x: 0.5, y: 0.5 };
                                             }
                                             
                                             get divisional() {
                                               return Math.PI * 2 / this.numPoints;
                                             }
                                             
                                             get center() {
                                               return { x: this.canvas.width * this.position.x, y: this.canvas.height * this.position.y };
                                             }
                                             
                                             set running(value) {
                                               this._running = value === true;
                                             }
                                             get running() {
                                               return this.running !== false;
                                             }
                                           }
                                           
                                           class Point {
                                             constructor(azimuth, parent) {
                                               this.parent = parent;
                                               this.azimuth = Math.PI - azimuth;
                                               this._components = { 
                                                 x: Math.cos(this.azimuth),
                                                 y: Math.sin(this.azimuth)
                                               };
                                               
                                               this.acceleration = -0.3 + Math.random() * 0.6;
                                             }
                                             
                                             solveWith(leftPoint, rightPoint) {
                                               this.acceleration = (-0.3 * this.radialEffect + ( leftPoint.radialEffect - this.radialEffect ) + ( rightPoint.radialEffect - this.radialEffect )) * this.elasticity - this.speed * this.friction;
                                             }
                                             
                                             set acceleration(value) {
                                               if(typeof value == 'number') {
                                                 this._acceleration = value;
                                                 this.speed += this._acceleration * 2;
                                               }
                                             }
                                             get acceleration() {
                                               return this._acceleration || 0;
                                             }
                                             
                                             set speed(value) {
                                               if(typeof value == 'number') {
                                                 this._speed = value;
                                                 this.radialEffect += this._speed * 5;
                                               }
                                             }
                                             get speed() {
                                               return this._speed || 0;
                                             }
                                             
                                             set radialEffect(value) {
                                               if(typeof value == 'number') {
                                                 this._radialEffect = value;
                                               }
                                             }
                                             get radialEffect() {
                                               return this._radialEffect || 0;
                                             }
                                             
                                             get position() {
                                               return { 
                                                 x: this.parent.center.x + this.components.x * (this.parent.radius + this.radialEffect), 
                                                 y: this.parent.center.y + this.components.y * (this.parent.radius + this.radialEffect) 
                                               }
                                             }
                                             
                                             get components() {
                                               return this._components;
                                             }
                                           
                                             set elasticity(value) {
                                               if(typeof value === 'number') {
                                                 this._elasticity = value;
                                               }
                                             }
                                             get elasticity() {
                                               return this._elasticity || 0.001;
                                             }
                                             set friction(value) {
                                               if(typeof value === 'number') {
                                                 this._friction = value;
                                               }
                                             }
                                             get friction() {
                                               return this._friction || 0.0085;
                                             }
                                           }
                                           
                                           blob = new Blob;
                                           
                                           init = function() {
                                             canvas = document.createElement('canvas');
                                           
                                             document.body.appendChild(canvas);
                                           
                                             let resize = function() {
                                               canvas.width = window.innerWidth;
                                               canvas.height = window.innerHeight;
                                             }
                                             window.addEventListener('resize', resize);
                                             resize();
                                             
                                             let oldMousePoint = { x: 0, y: 0};
                                             let hover = false;
                                             let mouseMove = function(e) {
                                               
                                               let pos = blob.center;
                                               let diff = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                                               let dist = Math.sqrt((diff.x * diff.x) + (diff.y * diff.y));
                                               let angle = null;
                                               
                                               blob.mousePos = { x: pos.x - e.clientX, y: pos.y - e.clientY };
                                               
                                               if(dist < blob.radius && hover === false) {
                                                 let vector = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                                                 angle = Math.atan2(vector.y, vector.x);
                                                 hover = true;
                                                 // blob.color = '#77FF00';
                                               } else if(dist > blob.radius && hover === true){ 
                                                 let vector = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                                                 angle = Math.atan2(vector.y, vector.x);
                                                 hover = false;
                                                 blob.color = null;
                                               }
                                               
                                               if(typeof angle == 'number') {
                                                 
                                                 let nearestPoint = null;
                                                 let distanceFromPoint = 100;
                                                 
                                                 blob.points.forEach((point)=> {
                                                   if(Math.abs(angle - point.azimuth) < distanceFromPoint) {
                                                     // console.log(point.azimuth, angle, distanceFromPoint);
                                                     nearestPoint = point;
                                                     distanceFromPoint = Math.abs(angle - point.azimuth);
                                                   }
                                                   
                                                 });
                                                 
                                                 if(nearestPoint) {
                                                   let strength = { x: oldMousePoint.x - e.clientX, y: oldMousePoint.y - e.clientY };
                                                   strength = Math.sqrt((strength.x * strength.x) + (strength.y * strength.y)) * 10;
                                                   if(strength > 100) strength = 100;
                                                   nearestPoint.acceleration = strength / 100 * (hover ? -1 : 1);
                                                 }
                                               }
                                               
                                               oldMousePoint.x = e.clientX;
                                               oldMousePoint.y = e.clientY;
                                             }
                                             window.addEventListener('mousemove', mouseMove);
                                             
                                             blob.canvas = canvas;
                                             blob.init();
                                             blob.render();
                                           }
                                           
                                           init();</script>
                               </div>
            {% include common_footer.html %}
            {% include footer.html %}