{% include header.html %}
    <section class="detailBg">


    {% include common_header.html %}
      
       <div class="commonHeight comHeight detailTabHeight banner"  style="background:url('{{page.banner_image}}') no-repeat center;background-size:cover;">
       <div class="banner_content">
         {%if page.banner_logo %}
        <img alt="littlebrahma__casestudy-logo_img" src="{{page.product_logo}}" class="banner__img">
        {%endif%}
        <h5 class="commonHeight__heading">{{page.product_title | upcase}}</h5>
        <h5 class="banner__subtitle details-italics">{{page.product_description}}</h5>
        {%if page.product_playstore_url or page.product_appstore_url %}
       <h6 class="banner__mintitle">DOWNLOAD FOR </h6>

         {%if page.product_playstore_url %}
       <a href="{{page.product_playstore_url}}">
        <img alt="littlebrahma__casestudy-apple_img" src="/assets/img/casestudy/apple.png" class="banner__himg"></a>
        {%endif%}
         {%if page.product_appstore_url %}
       <a href="{{page.product_appstore_url}}"> <img alt="littlebrahma__casestudy-android_img" src="/assets/img/casestudy/android.png" class="banner__himg"></a>
        {%endif%}
         {%endif%}
      </div> 
      </div>
       <div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>
    </section>

    <div class="info">
      <p class="info__text1">{{page.product_thumbnail_description}}</p>
      {%if page.featured == 'Yes' %}
      <p class="info__text2">FEATURED ON <span><img alt="littlebrahma__casestudy-dock_img" src="{{page.featured_image}}" class="info__dock"></span></p>
   {%endif%}
    </div>
    {%if page.featured =='Yes'%}
    <div class="chip col-lg-12">
      <img alt="littlebrahma__casestudy-chip-logo_img" src="{{page.featured_image1}}" class="chip__logo">
      <img alt="littlebrahma__casestudy-comma_img" src="/assets/img/casestudy/comma.png" class="chip__comma">
      <p class="chip__content">{{page.featured_quote}}</p>
      <img alt="littlebrahma__casestudy-comma_img" src="/assets/img/casestudy/comma1.png" class="chip__comma1">
      <p class="chip__read">Read Full Article</p>
    </div>
    {%endif%}
    <div class="challenge">
      <h1 class="challenge__heading">CHALLENGE</h1>
    <hr>
    <div class="challenge__content">{{page.challenge_description}}<p>

</p></div>
<img alt="littlebrahma__casestudy-img2_img" src="{{page.challenge_image}}" class="challenge__img">
<!--<p class="challenge__italic">{{page.img2Content}}</p>-->
    </div>
    <div class="solution">
      <h1 class="solution__heading"> SOLUTION </h1>
      <hr>
      <div class="solution__content">{{page.solution_description}}<p> 
      </p></div>
      {%if page.solution_image%}
      <div>
        <img alt="littlebrahma__casestudy-solution_img" src="{{page.solution_image}}" class="solution__img">
        </div>
        {%endif%}
{%if page.solutionVideo%}
      <video controls="controls" preload="none" poster="{{page.video_poster}}" width="640" height="100%">
 <source src="{{page.solutionVideo}}" type="video/mp4" />
 <!--<source src="linktomovie.webm" type="video/webm" />
 <source src="linktomovie.ogv" type="video/ogg" />-->
 {%endif%}
    </div>
    <div class="GIT">
    {%if page.overview_image%}
    <img src="{{page.overview_image}}" alt="littlebrahma__casestudy-git_img" class="challenge__img">
    {%endif%}
      <h1 class="GIT__heading">PROJECT STATS</h1>
      <hr>
      <div class="GIT__boxes">
      <div class="GIT__box">
        <div class="GIT__box1">
          <p class="GIT__num">{{page.product_stats_num1}}</p><hr>
          <p class="GIT__para">{{page.product_stats_para1}}</p>
          </div>
          <div class="GIT__box2">
          <p class="GIT__num">{{page.product_stats_num2}}</p><hr>
          <p class="GIT__para">{{page.product_stats_para2}}</p>
          </div>
          <div class="GIT__box3">
          <p class="GIT__num">{{page.product_stats_num3}}</p><hr>
          <p class="GIT__para">{{page.product_stats_para3}}</p>
          </div>
        </div>
      </div>
        <div class="GIT__last">
          <h2 class="GIT__last--heading">IT'S TIME TO GET CREATIVE TOGETHER</h2>
          <a href="/contact/"><button class="GIT__btn">LET'S TALK</button></a>
        </div>
 </div>

    
{% include common_footer.html %}
 {% include footer.html %}