{% include header.html %}
    {% include common_header.html %}
    <div class="homePage">
            <div class="homePage__BnrDiv">
                <div class="homePage__BnrDiv__Inner">
                    <div class="homePage__BnrDiv__Inner__Content">
                        <h1>We design solutions for <span>human</span> interactions</h1>
                        <p>We help our clients to succeed with the products, services and platforms in their marketplace that are human centered</p>
                      </div>
                </div>
                <div class="homePage__BnrDiv__Service">
                    <h1>Our services</h1>
                    <div class="homePage__BnrDiv__Service__Cards">
                            {% assign item = site.practice | reverse%}
                            {% for practice in item %}
                           
                      <div class="homePage__BnrDiv__Service__Cards__Inner">
                            <a class="homePage__BnrDiv__Service__Cards__Inner__a" href="{{practice.url}}">
                                    <div style="background-image:url('{{practice.backgroundImg}}')" class="homePage__BnrDiv__Service__Cards__Inner__a__img homePage__BnrDiv__Service__Cards__Inner__a__normal"></div>
                        <div style="background-image:url('{{practice.backgroundHoverImg}}')" class="homePage__BnrDiv__Service__Cards__Inner__a__img homePage__BnrDiv__Service__Cards__Inner__a__onHover"></div>
                        <h3>{{practice.practiceList}}</h3>
                        <p>{{practice.practiceList1}}</p>
                        <p>{{practice.practiceList2}}</p>
                        <p>{{practice.practiceList3}}</p>
                        <p>{{practice.practiceList4}}</p>
                        <img src="{{practice.practiceImg}}">
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
            </div>
            <div class="homePage__dna">
              <div class="homePage__dna__left">
                <img src="/assets/img/homepage/dna.png">
              </div>
              <div class="homePage__dna__right">
                <h1>Design is in our DNA</h1>
                <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere.</p>
                <a class="commonButton" href="/practice">Explore</a>
              </div>
            </div>
          </div>

          <div class="lb-ourworks"><h4>Our works</h4></div>

          <div class="lb_caseStusy">
                <ul class="lb_work_filter lb_filter_lg">
                    <li class="lb_work_filterli lb_work_filterActive" id="filterli-1" data-id="Product Design">Product design</li>
                    <li class="lb_work_filterli" data-id="Service Design" id="filterli-2">Service Design</li>
                    <li class="lb_work_filterli" data-id="Branding & Communication" id="filterli-3">Branding & Communication</li>
                </ul>

                
                <div class="lb_filter_mb work_selectdiv">
                    <select class="work_select">
                        <option class="lb_work_filterli" value="filterli-1" data-id="Product Design">Product Design</option>
                        <option class="lb_work_filterli" value="filterli-2" data-id="Service Design">Service Design</option>
                        <option class="lb_work_filterli" value="filterli-3" data-id="Branding & Communication">Branding & Communication</option>
                    </select>

                  
                </div>
            <div class="lb-Workfilter"> 

            <div class="lb-filterDiv container">
               
                <div class="row filterli-1 common-filter" valuedata="Product Design">
                       {% assign item = site.workpage %}
                       {% for work in item %}
                      
                       <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
                               <div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
                               <!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
                                   <div class="lb-filter-head">
                                       {{work.product_title}}
                                   </div>
                               </div>
                               <h3 class="lb-filter-header">{{work.product_title1}}</h3>
                               <h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
                               <h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
                       </div> 
                     {% endfor %}
                       
                       
                   <!-- </div> -->
               </div>   
               <div class="row filterli-2 common-filter" valuedata="Service Design">
                {% assign item = site.caseStudy-service %}
                {% for work in item %}
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
                    <a href="{{work.url}}">    
                    <div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
                        <!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
                            <div class="lb-filter-head">
                                {{work.product_title}}
                            </div>
                        </div>
                        </a>
                        <h3 class="lb-filter-header">{{work.product_title1}}</h3>
                        <h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
                        <h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
                </div> 
                {% endfor %}
                
                </div>        
                <div class="row filterli-3 common-filter" valuedata="Branding & Communication">
                    {% assign item = site.caseStudy %}
                    {% for work in item %}
                    
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
                            <a href="{{work.url}}">
                                <div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
                                <!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
                                    <div class="lb-filter-head">
                                        {{work.product_title}}
                                    </div>
                                </div>
                            </a>
                            <h3 class="lb-filter-header">{{work.product_title1}}</h3>
                            <h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
                            <h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
                    </div> 
                   
                    {% endfor %}

                    {% assign item = site.workpage1 %}
                    {% for work in item %}
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
                            <div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
                            <!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
                                <div class="lb-filter-head">
                                    {{work.product_title}}
                                </div>
                            </div>
                            <h3 class="lb-filter-header">{{work.product_title1}}</h3>
                            <h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
                            <h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
                    </div> 
                    {% endfor %}
                    
                    </div>               
         </div>

         </div>
           <div>
               <div class="lb_btn_div">
                 <button id="lb_btn" class="commonButton">Load more</button>
                 <button id="lb_btn1" class="commonButton ">Load less</button>
                
               </div>
           </div>
            
           
   
         </div>


{% include footer.html %}
