{% include header.html %}
    {% include common_header.html %}
   <div class="prct">
       <div class="bnrBdy">
            <div class="bnr">
                <div class="heroText">
                    We design solution for <span class="heroHighlight"> Human</span>
                    <br>interaction
                </div>
                <div class="bnrText">
                   We help our clients to succeed with the products, services <br>
                   and platforms in their marketplace that are human centered. 
                </div>
            </div>
        </div>
       <div class="lb_nostatic">
      <div class="">
          <img src="/assets/img/homepage/landing-page-5-01.png" class="landingImg" alt="Logo">
      </div>

      <div class="row rowmargin0">
           <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                 <img src="/assets/img/homepage/1.png" class="landingImg" alt="Logo">
           </div>
           <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 wBHeight">
               <div id="workBlob" class="workBlob"></div>
               
          
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ourwork_mb">
               <div class="ourwork_mb_text">
                  <p class="ourwork_mb_textp">Our Work</p>
                  <p>We are what we design.</p>
               </div>
      </div>


    </div>
        <div class="lb_caseStusy">
          <div>
                <img src="../assets/images/hashworksnew.png" class="landingImg" alt="Logo">
          </div>
          <div>
                <img src="../assets/images/enigma-new.png" class="landingImg" alt="Logo">
          </div>
          <div>
                <img src="../assets/images/paketo-new.png" class="landingImg" alt="Logo">
          </div>
          <div>
              <div class="lb_btn_div">
                <button class="lb_btn">More Stuff</button>
              </div>
          </div>
        </div>
        <!--DNA HTML-->
      <div>
           <div class="lb_dnahead">
               Design is in our DNA 
           </div>
      </div>
      <!--DNA ANIMATION-->
      <div>
               <img src="../assets/images/banner-4-a-copy-2.png" class="landingImg">
              
              <div class="lb_btn_div">
                <button class="lb_btn">View</button>
              </div>
          
      </div>

      <!--OUR STORY-->
       <div class="row rowmargin0">
           <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 wBHeight">
               <div id="workBlob1" class="workBlob"></div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                 <img src="../assets/images/landing-pg-2.png" class="landingImg" alt="Logo">
           </div>
      </div>

      <!--Next thinking image-->

      

    </div>
  </div>


{% include footer.html %}
