{% include header.html %}
<section class="homepageBg">
    {% include common_header.html %}
     <section class="hopageDesk">
    <div class="homepageRow">
        <div class="homepageCln">
            <div class="row middle-xs landing_container" style="display:none">
            <div class="homepageBgImg   col-sm-12 col-md-6 col-lg-6" id="background_image">
<div class="homepageContent__img" id="bg1">
                    <img id="img1" src="/assets/img/homepage/CREATIVESTUDIO/7.png" alt="littlebrahma__lotus-in-pond_img" class="homepageBgImg__img1">
                </div>

            </div>
             <div class="homepageContent  col-sm-12 col-md-6 col-lg-6" id="text">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">{{ site.data.homepage.title1}}</h1>
            <p class="homepageContent__para">{{ site.data.homepage.description1}}</p>
            <a href="aboutus/" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
        </div>

        <div class="row middle-xs landing_container" style="display:none">
            <div class="homepageBgImg  col-sm-12 col-md-6 col-lg-6" id="background_image1">
                <div class="homepageContent__img" >
    <img id="img2" src="/assets/img/homepage/PORTFOLIO/7.png" alt="littlebrahma__video-camera_img" class="homepageBgImg__img1">
                </div>
            </div>
            <div class="  homepageContent col-sm-12 col-md-6 col-lg-6" id="text1">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">{{ site.data.homepage.title2}} </h1>
            <p class="homepageContent__para">{{ site.data.homepage.description2}}</p>
            <a href="portfolio/" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
            </div>
            <div class="row middle-xs landing_container" style="display:none">
            <div class="homepageBgImg   col-sm-12 col-md-6 col-lg-6" id="background_image2">
               <div class="homepageContent__img">
                <img id="img3" src="/assets/img/homepage/SERVICES/7.png" alt="littlebrahma__paintbrush-holder_img" class="homepageBgImg__img1">
               </div>
            </div>
           <div class="  homepageContent col-sm-12 col-md-6 col-lg-6" id="text4">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">{{ site.data.homepage.title3}}</h1>
            <p class="homepageContent__para">{{ site.data.homepage.description3}} </p>
            <a href="service/" class="homepageContent__link"><button class="homepageContent__button">Explore more</button></a>
        </div>
            </div>
            <div class="row middle-xs landing_container" style="display:none">
            <div class="homepageBgImg   col-sm-12 col-md-6 col-lg-6" id="background_image3">
               <div class="homepageContent__img" id="bg4">
                <img id="img4" src="/assets/img/homepage/CONTEST/1.png" alt="littlebrahma__trophy_img" class="homepageBgImg__img1">
               </div>
            </div>
             <div class="  homepageContent col-sm-12 col-md-6 col-lg-6" id="text2">
        <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">{{ site.data.homepage.title4}}</h1>
            <p class="homepageContent__para">{{ site.data.homepage.description4}}</p>
            <a href="#" class="homepageContent__link tooltip noPointer"><button class="homepageContent__button noPointer">Coming Soon</button></a>
        </div>
            </div>
            <div class="row middle-xs landing_container" style="display:none">
                <div class="homepageBgImg   col-sm-12 col-md-6 col-lg-6" id="background_image4">
                  <div class="homepageContent__img" id="bg5">
                    <img id="img5" src="/assets/img/homepage/E-STORE/7.png" alt="littlebrahma__paintbrush-in-hand_img" class="homepageBgImg__img1">
                  </div>
                </div>
              <div class="  homepageContent col-sm-12 col-md-6 col-lg-6" id="text3">
            <div class="homepageContent__border"></div>
            <h1 class="homepageContent__heading">{{ site.data.homepage.title5}}</h1>
            <p class="homepageContent__para">{{ site.data.homepage.description5}}</p>
            <a href="#" class="homepageContent__link tooltip noPointer"><button class="homepageContent__button noPointer">Coming Soon</button></a>
        </div>
            </div>   
        </div>
         <div><div id="slideshow" class="homepageBgImg__img  "></div>
       </div>
        <ul class="scroll-indicators">
            <li data-id="1" class="active">
            </li>
            <li data-id="2">
            </li>
            <li data-id="3">
            </li>
            <li data-id="4">
            </li>
            <li data-id="5">
            </li>
        </ul>
    </div>
    </section>
</section>
{% include footer.html %}
