{% include header.html %} {% include common_header.html %}

<div id="fullpage">
    <div class="lb_bdy1 prct section">
        <div class="hero_img">
            <video id="practiceVideo vid"  autoplay="autoplay" loop="loop" >
                <source src="/assets/img/practice/Practice.mp4" type="video/mp4" />
                <!-- <img src="video.gif" width="400" height="300" /> -->
            </video>
        
        </div>
        <div class="hero_cnt">
            <div class="heroText">
                Design is in our
                <span class="heroHighlight">DNA</span>
            </div>
            <div class="bnrText">
                Our
                <span> Design Native Approach</span> is a framework for continuos
                <br/> design and implementation.
            </div>
            <div class="hero_ptn"></div>
        </div>
        <!-- <div class="hero_ptn"></div> -->
    </div>

    <div class="philSec prct section">
        <div class="dnaSummary">
            <div class="genericTitle2 text-center">
                Our Philosophy
            </div>
            <div class="container dnaContainer">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 paragraph">
                        We take a design first approach to solve and build sustainable design solutions. We call it “DNA” Design Native Approach. Our ideas are not a retrofit to a rigid model.
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 paragraph para2">
                        We are a cohesive design species, we learn to adapt & evolve. True to our nature, we listen to our customer, learn what they do, fit into their shoes, empathize their need and recommend the course corrections.
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 paragraph para2">
                        We broadly classify our process into three phases: Perceive, Adapt and Evolve. All phases are interconnected and work in tandem with each other. Below you will find brief description of what encompasses each stage, the people & tools involved at each stage and the conclusive output.  
                </div>
            </div>
        </div>
    </div>
    <div class="prct section">
        <div class="scrollContainer">
            <div class="fixCont">
                <img src="/assets/img/practice/dna.png" />
                <div class="heroText__dna">
                    <!-- <div>Our</div>
                    <div class="heroHighlight__dna">Design Native</div>
                    <div class="heroHighlight__dna">Approach</div> -->
                </div>
            </div>
            <div class="right Containers">
                <ul class="lb_work_filter lb_filter_lg">
                    <li class="lb_work_filterli lb_work_filterActive" data-id="All" id="All">Perceive</li>
                    <li class="lb_work_filterli" id="filterli-1" data-id="Product Design">Adapt</li>
                    <li class="lb_work_filterli" data-id="Service Design" id="filterli-2">Evolve</li>

                </ul>
                <div class="mobScreen">
                    <div class="dnaImgMob pull-left rContent_1Img">
                        <!-- <img src="/assets/img/practice/dna.png"> -->
                    </div>
                    <div class="rContent rContent_1">
                        <div class="genericTitle">Perceive</div>
                        <div class="contextTitle">Think & Define</div>
                        <div class="paragraph">Asking the right question to set objectives to be realized</div>
                        <ul class="practiceli paragraph">
                            <li>Understand customer needs</li>
                            <li>Identify pain points</li>
                            <li>Define problem statements</li>
                        </ul>
                    </div>
                </div>
                <div class="mobScreen">
                    <div class="dnaImgMob pull-right rContent_2Img"></div>
                    <div class="rContent rContent_2">
                        <div class="genericTitle">Adapt</div>
                        <div class="contextTitle">Collaborate & Build</div>
                        <div class="paragraph">Working together to create seamless and delightful customer experience</div>
                        <ul class="practiceli paragraph">
                            <li>Overlay dependencies </li>
                            <li>Establish process & data correlation </li>
                            <li>Validate prototypes</li>
                        </ul>
                    </div>
                </div>
                <div class="mobScreen">
                    <div class="dnaImgMob pull-left rContent_3Img">
                    </div>
                    <div class="rContent rContent_3">
                        <div class="genericTitle">Evolve</div>
                        <div class="contextTitle">Test & Learn</div>
                        <div class="paragraph">Listening to the end-user through data to scale faster.</div>
                        <ul class="practiceli paragraph">
                            <li>Conduct user acceptance test</li>
                            <li>Build design models</li>
                            <li>Publish & iterate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prct section strategy_cont">
        <div class="genericTitle text-center diverse">
            Diverse and Collaborative Team
        </div>
        <div class="prctDicipline strategy_container">
            <div class="container">
                <div class="prct_dic row">
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 imgContainer horizantal">
                        <div class="verticle">
                            <img src="/assets/img/practice/MDT.png">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 noPadding dicContents diverse-content">

                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 bldContent noPadding">
                            People with the game plan, creativity and logic collaborate to deliver great outcomes.
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 bsTxt noPadding paragraph">
                                We place great emphasis on “strategy” while understanding the customer need, we then apply design principles at scale to convert ideas into tangible work products.
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 bsTxt para2 noPadding paragraph">
                                Our workspace reflects our collaborative approach. Product owners and designers hangout with developers and projects managers. Our team believes in iterative approach to both design & development. Faster feedback loops & lesser Queue determine our delivery metric.
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section footer__cont">
        {% include common_footer.html %} {% include footer.html %}
    </div>
    <script>
            $(document).ready(function () {
          document.getElementById('vid').play();
          })
      </script>
</div>