{% include header.html %}
<section class="processBg">
    {% include common_header.html %}
    <div class="commonHeight">
        <div>
            <img alt="littlebrahma__process-machine_img" src="/assets/img/process/{{site.data.process.bannerImage}}" class="commonHeight__img headimg">
            <h5 class="commonHeight__heading">{{site.data.process.heading}}</h5>
            <p class="commonHeight__para headpara">{{site.data.process.description}} </p>
        </div>
    </div>
</section>
<div class="processContent__lg">
    <section class="processBgContent">

        <div class="row processBgContent__allign">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 middle-lg middle-md middle-sm center-xs">
                        <img alt="littlebrahma__process-thinking-time_img" src="/assets/img/process/{{site.data.process.image1}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <!--<hr class="processContent__hr1">-->
                    <h5 class=""><span class="processContent__hLine">01</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title1}}</h5>
                    <p class="processContent__para">{{site.data.process.content1}}</p>
                    <img alt="littlebrahma__process-right-line_img" src="/assets/img/process/right-01.svg" class="processContent__line">
                </div>

            </div>


        </div>
        <div class="row processBgContent__allign processBgContent__allign1">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 processBgContent__adjust2">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first-lg first-md first-sm last-xs processBgContent__leftSpacing">
                        <div class="processContent processBgContent__alignRight">
                            <h5 class=""><span class="processContent__hLine">02</span></h5>
                            <h5 class="processContent__heading">{{site.data.process.title2}}</h5>
                            <p class="processContent__para processContent__mobilePara">{{site.data.process.content2}}</p>
                            <img alt="littlebrahma__process-left-line_img" src="/assets/img/process/left-01.svg" class="processContent__line1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 middle-lg middle-md middle-sm center-xs">
                        <img alt="littlebrahma__process-getting-idea_img" src="/assets/img/process/{{site.data.process.image2}}" class="img1 img">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0 processBgContent__adjust1">
                <!--<img  src="/assets/img/process/2.png" class="imgRight">-->
            </div>
        </div>

        <div class="row processBgContent__allign">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 middle-lg middle-md middle-sm center-xs">
                        <img alt="littlebrahma__process-prototype_img" src="/assets/img/process/{{site.data.process.image3}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <h5 class=""><span class="processContent__hLine">03</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title3}}</h5>
                    <p class="processContent__para">{{site.data.process.content3}}</p>
                    <img alt="littlebrahma__process-right-line_img" src="/assets/img/process/right-01.svg" class="processContent__line">
                </div>

            </div>
        </div>

        <div class="row processBgContent__allign processBgContent__allign2">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 processBgContent__adjust2">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first-lg first-md first-sm last-xs processBgContent__leftSpacing">
                        <div class="processContent processBgContent__alignRight">
                            <h5 class=""><span class="processContent__hLine">04</span></h5>
                            <h5 class="processContent__heading">{{site.data.process.title4}}</h5>
                            <p class="processContent__para processContent__mobilePara">{{site.data.process.content4}}</p>
                            <img alt="littlebrahma__process-left-line_img" src="/assets/img/process/left-01.svg" class="processContent__line1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 middle-lg middle-md middle-sm center-xs">
                        <img alt="littlebrahma__process-transformation_img" src="/assets/img/process/{{site.data.process.image4}}" class="img1 img">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0 processBgContent__adjust1">
                <!--<img  src="/assets/img/process/2.png" class="imgRight">-->
            </div>
        </div>


        <div class="row processBgContent__allign">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 processBgContent__adjust1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 middle-lg middle-md middle-sm center-xs">
                        <img alt="littlebrahma__process-final-product_img" src="/assets/img/process/{{site.data.process.image5}}" class="img1 img">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 processBgContent__adjust1">
                <div class="processContent">
                    <h5 class=""><span class="processContent__hLine">05</span></h5>
                    <h5 class="processContent__heading">{{site.data.process.title5}}</h5>
                    <p class="processContent__para">{{site.data.process.content5}}</p>
                </div>
            </div>
        </div>
    </section </div>

    {% include common_footer.html %} {% include footer.html %}
   