{% include header.html %}
    {% include common_header.html %}


    <div class="lb_bdy prct">
        <div class="hero_img"></div>
        <div class="hero_cnt">
            <div class="heroText">
                Design is in our <span class="heroHighlight">DNA</span>
            </div>
            <div class="bnrText">
                Our design native approach is a framework for continuos<br/>
                design and implementation.
            </div>
            <div class="hero_ptn"></div>
        </div>
    </div>
    <div class="philSec prct">
        <div class="dnaSummary">
            <div class="genericTitle text-center">
                We design solutions for human interactions
            </div>
            <div class="container dnaContainer">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 paragraph">
                    Each discipline is always involved, though at varying levels. We place greater emphasis on strategy up front, relying more heavily on design conception and development during the build. Our Design thinking practice delivers insights and identify opportunities to create and improve every touchpoint in a customer experience that are delightful and radically simple. We place greater emphasis on strategy up front, relying more heavily on design conception and development during the build.
                </div>
            </div>
        </div>
    </div>
    <div class="prct">
        <div class="scrollContainer">
            <div class="fixCont">
              <img src="/assets/img/practice/dna.png"/>
              <div class="heroText__dna">
                <div>Our</div> 
                <div class="heroHighlight__dna">Design Native</div>
                <div class="heroHighlight__dna">Approach</div>
            </div>
            </div>
            <div class="right Containers">
            <ul class="lb_work_filter lb_filter_lg">
								<li class="lb_work_filterli lb_work_filterActive" data-id="All" id="All">Perceive</li>
								<li class="lb_work_filterli" id="filterli-1" data-id="Product Design">Adapt</li>
								<li class="lb_work_filterli" data-id="Service Design" id="filterli-2">Evolve</li>
								
							</ul>   
                <div class="mobScreen">
                    <div class="dnaImgMob pull-left rContent_1Img">
                        <!-- <img src="/assets/img/practice/dna.png"> -->
                    </div>
                    <div class="rContent rContent_1">
                        <div class="genericTitle">Perceive</div>
                        <div class="contextTitle">Think & Define</div>
                        <div class="paragraph">Asking the right question to set objectives to be realized</div>
                        <ul class="practiceli paragraph">
                            <li>Understand customer needs</li>
                            <li>Identify pain points</li>
                            <li>Define problem statements</li>
                        </ul>
                    </div>
                </div>
                <div class="mobScreen">
                    <div class="dnaImgMob pull-right rContent_2Img"></div>
                    <div class="rContent rContent_2">
                        <div class="genericTitle">Adapt</div>
                        <div class="contextTitle">Collaborate & Build</div>
                        <div class="paragraph">Working together to create seamless and delightful customer experience</div>   
                        <ul class="practiceli paragraph">
                            <li>Draw product roadmap</li>
                            <li>Plan releases</li>
                            <li>Build to scale</li>
                        </ul>           
                    </div>
                </div>
                <div class="mobScreen">
                    <div class="dnaImgMob pull-left rContent_3Img">
                    </div>
                    <div class="rContent rContent_3">
                        <div class="genericTitle">Evolve</div>
                        <div class="contextTitle">Test & Learn</div>
                        <div class="paragraph">Listening to the end-user through data to scale faster.</div>
                        <ul class="practiceli paragraph">
                            <li>Conduct user acceptance test</li>
                            <li>Analyse data</li>
                            <li>Iterate</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
        <div class="prctDicipline strategy_container">
            <div class="container">
                <div class="prct_dic row">
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 imgContainer horizantal">
                        <div class="verticle">
                            <img src="/assets/img/practice/MDT.png">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 noPadding dicContents">
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 title noPadding">
                            Diverse and Collaborative team
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 bldContent noPadding">
                                People with the game plan, creativity and logic collaborate to deliver great outcomes.
                        </div>
                        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 bsTxt noPadding paragraph">
                            We place great prominence on strategy while understanding, 
                            relying more heavily on design while solving and development during the build.
                            Our workspace reflects our collaborative approach. Product owners and designers hangout with developers and projects managers. We don’t work in silos and keep the communication channel open at all times.
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include common_footer.html %}
 {% include footer.html %}
   