{% include header.html %}
<div id="service-detail">
    <section class="service-detailBg">
        {% include common_header.html %}
    </section>
    <section>
        <div class="service-detail-all">
            <div class="row service-detail">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 center-xs start-lg start-md start-sm alignText">
                    <img class="service-detail__img" alt="littlebrahma__service-mudra-for-{{page.title}}_img" src="{{page.img}}">
                    <h1 class="service-detail__title">{{page.title}}</h1>
                    <div class="service-detail__underline" visibity="col-xs"></div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">

                    {% for service in page.service_lists %}
                    <div class="logo-design">
                        <h1 class="service-detail__subtitle">{{service.title}}</h1>
                        <p class="service-detail__para">{{service.description}}</p>
                    </div>
                    {% endfor %}
                    <a class="service-detail__link" href="/portfolio/">view portfolio</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% include common_footer.html %} {% include footer.html %}