{% include header.html %}
    {% include common_header.html %}
    
<section>

        <div class="lb_bdy prct">
                <div class="hero_img"></div>
                <div class="hero_cnt">
                    <div class="heroText">
                            Service design
                            <span class="heroHighlight">design</span>
                    </div>
                    <div class="bnrText">
                            We adapt people first approach to collaborate and grow your ideas into human centered products or services. Our Design thinking practice delivers insights and identify opportunities 
                            to create and improve every touchpoint in a customer experience that are delightful and radically simple.
                    </div>
                    <div class="hero_ptn"></div>
                </div>
            </div>
        <div class="lb_service">
                <ul class="lb_work_filter lb_filter_lg">
                    <li class="lb_work_filterli lb_work_filterActive">Existing product</li>
                    <li class="lb_work_filterli">New product</li>
                </ul>
        </div>




        <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Service Design</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product Design</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product checkup</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product analysis</small></p>
                    </div>
                </div>
            </div>

            
</section>

{% include common_footer.html %} {% include footer.html %}
