{% include header.html %}
    {% include common_header.html %}
    
<section>

        <div class="lb_bdy prct">
                <div class="hero_img" style="background-image:url({{page.homebackgroundimg}})"></div>
                <div class="hero_cnt">
                    <div class="heroText">
                        {{page.subtitle}}
                            <span class="heroHighlight">design</span>
                    </div>
                    <div class="bnrText">
                           {{page.desc1}}
                           {{page.desc2}}
                    </div>
                    <div class="hero_ptn"></div>
                </div>
            </div>
        <div class="lb_service">
                <ul class="lb_work_filter lb_service_lg">
                    <li class="lb_work_filterli lb_work_filterActive" id="datavalue-1">Existing product</li>
                    <li class="lb_work_filterli"  id="datavalue-2">New product</li>
                </ul>
        </div>



<section>
        <div class="stepwizard datavalue-1">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3"> 
                        <!-- <img src="/assets/img/service/arrow.png"> -->
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>UX/UI review and analysis</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                            <!-- <img src="/assets/img/service/arrow.png"> -->
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Prototype</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                            <!-- <img src="/assets/img/service/arrow.png"> -->
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Design</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                            <!-- <img src="/assets/img/service/arrow.png"> -->
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>User testing</small></p>
                    </div>
                </div>
            </div>
        </section>
    <section>
            <div class="stepwizard datavalue-2">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>User research</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Workflow mapping &
                            story boarding</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Release planning</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Prototype & design
                        </small></p>
                    </div>
                </div>
            </div>
            </section>
            <!-- <div class="stepwizard datavalue-2">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Service Design</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product Design</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product checkup</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3"> 
                        <a type="button" class="btn-circle service-btn" data-toggle="popover" data-placement="bottom" title="Popover Header" data-content="Some content inside the popover"></a>
                        <p><small>Product analysis</small></p>
                    </div>
                </div>
            </div> -->

            
</section>

{% include common_footer.html %} {% include footer.html %}
