{% include header.html %}
{% include common_header.html %}
  

<!-- <div class="row">
		{% assign item = site.workpage %}
		{% for work in item %}
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service">
				<div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
					<div class="lb-filter-head">
						{{work.product_title}}
					</div>
				</div>
				<h3 class="lb-filter-header">{{work.product_title1}}</h3>
				<h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
				<h6 class="lb-filter-footer">{{work.product_thumbnail_description1}}</h6>
		</div> 
      {% endfor %}
</div> -->


		<div class="prct">
				<!-- <div class="lb_nostatic">
					<div class="">
					  <img src="/assets/img/workpage/group-3.png" class="landingImg" alt="Logo">
					</div>
				</div> -->
				<div class="lb_bdy prct">
						<div class="hero_img"></div>
						<div class="hero_cnt">
							<div class="heroText">
									We are what we 
									<span class="heroHighlight">design</span>
							</div>
							<div class="bnrText">
									Solving problems that makes a difference to people’s lives gives us a kick. We don’t work on 
									everything that comes across us but only on projects that make a difference to our lives.
							</div>
							<div class="hero_ptn"></div>
						</div>
					</div>
		   
					<div class="lb_caseStusy lb_sevicetop">
							<ul class="lb_work_filter lb_filter_lg">
								<li class="lb_work_filterli lb_work_filterActive" id="filterli-1" data-id="Product Design">Product design</li>
								<li class="lb_work_filterli" data-id="Service Design" id="filterli-2">Service Design</li>
								<li class="lb_work_filterli" data-id="Branding & Communication" id="filterli-3">Branding & Communication</li>
							</ul>
			
							
							<!-- <div class="lb_filter_mb work_selectdiv">
								<select class="work_select">
									<option class="lb_work_filterli" value="filterli-1" data-id="Product Design">Product Design</option>
									<option class="lb_work_filterli" value="filterli-2" data-id="Service Design">Service Design</option>
									<option class="lb_work_filterli" value="filterli-3" data-id="Branding & Communication">Branding & Communication</option>
								</select>
			
							  
							</div> -->
							<div class="lb_filter_mb work_selectdiv">
									<div class="dropdown">
											<button class="dropdown-toggle dropdownbtn" id="menu1" type="button" data-toggle="dropdown" aria-expanded="false"><span class="option">Product Design</span>
											<span class="caret caretcss"></span></button>
											<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
											  <li class="lb_work_filterli lb_work_filterActive" id="filterli-1" data="filterli-1" data-id="Product Design" role="presentation">Product Design</li>
											  <li role="presentation" class="lb_work_filterli" data-id="Service Design" data="filterli-2" id="filterli-2">Service Design</li>
											  <li role="presentation" class="lb_work_filterli" data-id="Branding & Communication" data="filterli-3" id="filterli-3">Branding & Communication</li> 
											</ul>
										  </div>
							</div>
						<div class="lb-Workfilter"> 
			
						<div class="lb-filterDiv container">
						   
								<div class="row filterli-1 common-filter" valuedata="Product Design">
										{% assign item = site.caseStudy-product %}
										{% for work in item %}
									   
										<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service prod {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
										 <a href="{{work.url}}"> 
										 <div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
												<!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
													<div class="lb-filter-head {{work.textcolor}}">
														{{work.product_title}}
													</div>
												</div>
											 </a>
												<h3 class="lb-filter-header">{{work.product_title1}}</h3>
												<h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
												<h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
										</div> 
									  {% endfor %}
										
										
									<!-- </div> -->
								</div>      
						   <div class="row filterli-2 common-filter" valuedata="Service Design">
								{% assign item = site.caseStudy-service %}
								{% for work in item %}
								<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service service {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
									<a href="{{work.url}}">    
									<div class="lb-filter-Img" style="background-image:url('{{work.banner_image}}')">
										<!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
											<div class="lb-filter-head {{work.textcolor}}">
												{{work.product_title}}
											</div>
										</div>
										</a>
										<h3 class="lb-filter-header">{{work.product_title1}}</h3>
										<h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
										<h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
								</div> 
								{% endfor %}
								
							</div>         
							<div class="row filterli-3 common-filter" valuedata="Branding & Communication">
									{% assign item = site.caseStudy %}
									{% for work in item %}
									
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service brndcomm {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
											<a href="{{work.url}}">
												<div class="lb-filter-Img {{work.textcolor}}" style="background-image:url('{{work.banner_image}}')">
												<!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
													<div class="lb-filter-head">
														{{work.product_title}}
													</div>
												</div>
											</a>
											<h3 class="lb-filter-header">{{work.product_title1}}</h3>
											<h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
											<h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
									</div> 
								   
									{% endfor %}
				
									{% assign item = site.workpage1 %}
									{% for work in item %}
									<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 lb-filter-service brndcomm {{work.categories}} work{{forloop.index}}" data-id="{{work.cat}}">
										<a href="{{work.url}}">
											<div class="lb-filter-Img {{work.textcolor}}" style="background-image:url('{{work.banner_image}}')">
											<!--<img src="../assets/images/groome.png" class="landingImg" alt="Logo">-->
												<div class="lb-filter-head">
													{{work.product_title}}
												</div>
											</div>
										</a>
											<h3 class="lb-filter-header">{{work.product_title1}}</h3>
											<h5 class="lb-filter-headdesc">{{work.product_description}}</h5>
											<h6 class="lb-filter-footer">{{work.product_thumbnail_description}}</h6>
									</div> 
									{% endfor %}
									
									</div>    
					 </div>
			
					 </div>
					   <div>
						   <div class="lb_btn_div">
							 <button id="lb_btn" class="commonButton">Load more</button>
							 <button id="lb_btn1" class="commonButton ">Load less</button>
							
						   </div>
					   </div>
						
					   
			   
					 </div>
				  <!--Next thinking image-->
					
					
			</div>
		   

 {% include footer.html %}
 


 

 